[2018-09-21 07:03] gazhayes opened #1 "Problem: readme etc was forked from Emurgis and is not up to date"
Problem: readme etc was forked from Emurgis and is not up to date

[2018-09-21 07:08] gazhayes opened #2 "Problem: no boilerplate to start with"
Problem: no boilerplate to start with

solution: I guess grab a minimal set from one of the other Emurgo repositories. Whoever takes this can decide.

[2018-09-21 07:08] gazhayes opened #3 "problem: not everyone knows I just added this new repo to work on"
solution: ping @samuelralak @anbud @MadanBhandari @AshHimself @geekyd

[2018-09-21 07:56] anbud commented on #2
@emurgobot claim

[2018-09-21 10:32] anbud commented on #2
Done in #4.

[2018-09-21 10:33] anbud opened #5 "Problem: Emurgobot is not following this repo"
Problem: Emurgobot is not following this repo

Solution: Set up emurgobot for this repo

[2018-09-21 10:39] anbud commented on #5
@emurgobot claim

[2018-09-21 10:39] anbud commented on #5
@emurgobot label "bug"

[2018-09-21 10:39] anbud commented on #5
@emurgobot remove "bug"

[2018-09-21 10:40] anbud commented on #5
@emurgobot done

[2018-09-21 10:47] anbud commented on #1
@emurgobot claim

[2018-09-21 10:56] anbud commented on #1
Done in #6.

@emurgobot done

[2018-09-21 11:50] #1 closed

[2018-09-21 11:50] #2 closed

[2018-09-21 11:50] #5 closed

[2018-09-21 11:55] gazhayes opened #7 "Problem: cannot add news items"
Problem: cannot add news items

Solution: allow logged in users to add news items. A headline (I guess 140 chars max), summary (500 chars max) and body.

[2018-09-21 11:56] anbud commented on #7
@emurgobot claim

[2018-09-21 11:56] samuelralak commented on #7
@emurgobot claim

On Fri, 21 Sep 2018 at 14:55, Gareth Hayes <notifications@github.com> wrote:

[2018-09-21 11:57] samuelralak commented on #7
lol 😂

[2018-09-21 11:58] samuelralak commented on #7
early bird already caught the worm

[2018-09-21 21:13] anbud commented on #7
Done in #8.

@emurgobot done

[2018-09-21 21:50] anbud opened #9 "Problem: Users can't comment on news items"
Problem: Users can't comment on news items

Solution: Implement a simple commenting system, recycle parts of the commenting system from Emurgis.

[2018-09-21 21:50] anbud commented on #9
@emurgobot claim

[2018-09-22 21:06] anbud commented on #9
Done in #10.

@emurgobot done

[2018-09-22 21:15] anbud opened #11 "Problem: Users can't flag spam or abusive content"
Problem: Users can't flag spam or abusive content. A flagging mechanism is quite important for a website with user-generated content.

Solution: Allow users to flag news items and comments, and allow moderators to see flagged items and decide whether to keep them or remove them.

[2018-09-22 21:15] anbud commented on #11
@emurgobot claim

[2018-09-23 13:33] MadanBhandari opened #12 "Problem : News list UX is not good"
Problem : News list UI/UX is not good

Solution : Do not use table, make this as cards, like usually used on blogs and news websites

[2018-09-23 13:34] MadanBhandari commented on #12
@emurgobot label "UI-UX"

@emurgobot claim

[2018-09-23 16:15] anbud commented on #12
@emurgobot label "UI-UX"

[2018-09-23 16:16] MadanBhandari opened #14 "Problem : User profile not available"
Problem : There is no User Name

Solution : Add user profile, while signup

[2018-09-23 16:19] MadanBhandari opened #15 "Problem : No rich text editors in add/edit news"
Problem : No rich text editors in add/edit news

Solution : Add rich text editors or markdown editor, lets explore options.

[2018-09-23 16:28] MadanBhandari commented on #15
Yes, let's explore some visual markdown editors, so that anyone can easily use.

I am looking into [SimpleMDE](https://simplemde.com/).

[2018-09-23 16:31] MadanBhandari opened #16 "Problem : No user notifications"
Problem : No user notifications

Solution : Add notifications for comments received on news (for authors & users who have comments), mentions etc.

[2018-09-23 19:16] anbud commented on #11
Done in #17.

@emurgobot done

[2018-09-23 19:16] anbud commented on #16
@emurgobot claim

[2018-09-23 20:40] anbud commented on #16
Done in #18.

@emurgobot done

[2018-09-24 03:49] #7 closed

[2018-09-24 03:49] #9 closed

[2018-09-24 03:49] #11 closed

[2018-09-24 03:49] #12 closed

[2018-09-24 03:49] #16 closed

[2018-09-24 03:54] gazhayes opened #19 "problem: cannot add cardano related projects"
problem: there are a number of new cardano related projects popping up all the time from IOHK, Emurgo, and the community in general. There's no definitive list of these projects.

solution: allow users to add projects and display these separately to news items. Projects require a headline (maybe 100 chars), a short description (no markdown etc), and a link.

[2018-09-24 04:43] samuelralak commented on #19
@emurgobot claim

On Mon, 24 Sep 2018 at 06:54, Gareth Hayes <notifications@github.com> wrote:

[2018-09-24 05:52] gazhayes opened #20 "problem: users are not asked to create a username at signup"
problem: a username is useful for using as a display name, but users are not asked for a username when they sign up.

[2018-09-24 05:54] gazhayes opened #21 "problem: news times are absolute"
problem: news posting times are absolute which makes it difficult to reason about.

solution: use momentjs to show how long ago a post was made.

[2018-09-24 06:08] MadanBhandari commented on #20
I am working on this at #14

[2018-09-24 06:17] #20 closed

[2018-09-24 08:44] MadanBhandari commented on #14
Done in #22
@emurgobot done

[2018-09-24 08:44] MadanBhandari commented on #21
@emurgobot claim

[2018-09-24 09:06] gazhayes opened #23 "problem: human unfriendly display names for news authors"
problem: human unfriendly display names are used for news authors.

solution: use user name instead.

[2018-09-24 09:08] #14 closed

[2018-09-24 09:18] MadanBhandari commented on #21
Done in #24
@emurgobot done

[2018-09-24 09:20] MadanBhandari commented on #23
That was small change and I already had note to do while I was working on profile.

Done in #24

[2018-09-24 09:51] #23 closed

[2018-09-24 09:51] #21 closed

[2018-09-24 09:56] gazhayes opened #25 "problem: Node#moveTo was deprecated. Use Container#append."
problem: when building and deploying with node, I get this CSS warning:
`Node#moveTo was deprecated. Use Container#append.`

[2018-09-24 10:57] anbud opened #26 "Problem: Wrong username used in codebase"
Problem: I've used `user.username` in most places for the username, yet username is saved at `user.profile.name` now.

Solution: Update the codebase to reflect new changes.

[2018-09-24 10:57] anbud commented on #26
@emurgobot claim

[2018-09-24 11:10] anbud commented on #26
Done in #27.

@emurgobot done

[2018-09-24 11:12] anbud opened #28 "Problem: Users can't upvote or downvote news articles"
Problem: Users can't upvote or downvote news articles.

Solution: Let users upvote or downvote news articles, and let them sort articles by time or by rating.

[2018-09-24 11:13] anbud commented on #28
@emurgobot claim

[2018-09-24 11:44] MadanBhandari commented on #26
@anbud username is required to be unique for user ?

[2018-09-24 11:55] anbud commented on #26
Nope, it doesn't have to be unique at all.

[2018-09-24 12:29] anbud commented on #28
Done in #29.

@emurgobot done

[2018-09-24 14:29] MadanBhandari opened #30 "Problem : Top Navbar broken and bad UX"
Problem : Top Navbar broken on small screen
![top-nav-broken](https://user-images.githubusercontent.com/6429311/45958054-151f3800-c034-11e8-9172-b33c6c7cbb19.png)

Solution :
1. Must be some responsive issue, check and fix
2. Remove extra icon (list icon)
3. Link bell icon to `/notifications`

[2018-09-24 14:29] MadanBhandari commented on #30
@emurgobot label "UI-UX"
@emurgobot claim

[2018-09-24 14:34] MadanBhandari commented on #30
Looks like @anbud has some updates in #29

I'll update after that PR, in case problem exist

[2018-09-25 09:51] anbud opened #31 "Problem: No way to suspend users who post spam or abusive content"
Problem: There will be some users (maybe even bots) that post spam or abusive content and they should be suspended to prevent this behavior.

Solution: Recycle parts of Blockrazor's strike based suspension system and implement it here.

@gazhayes, would it make sense to implement the pardoning mechanism here as well, as it works on Blockrazor? I mean, there's a wider array of possible strikes on B

[2018-09-25 13:36] #26 closed

[2018-09-25 13:36] #28 closed

[2018-09-25 17:44] MadanBhandari commented on #25
Any way to reproduce this error on development ?

[2018-09-25 17:48] MadanBhandari commented on #30
Still exist :/
![cardano-error](https://user-images.githubusercontent.com/6429311/46032473-59383880-c119-11e8-8e5f-f866285fd33f.png)

[2018-09-25 18:15] MadanBhandari commented on #30
Done in #32

@emurgobot done

[2018-09-25 18:17] MadanBhandari commented on #15
@emurgobot claim

[2018-09-25 20:46] anbud commented on #31
Done in #33.

@emurgobot done

[2018-09-26 06:45] MadanBhandari commented on #15
Done in #34

@emurgobot done

[2018-09-26 06:45] MadanBhandari opened #35 "Problem : News UI-UX is bad"
Problem : News UI-UX is bad

Solution : Update UI-UX, take design references from other news website or blogs

[2018-09-26 06:46] MadanBhandari commented on #35
@emurgobot label "UI-UX"

@emurgobot claim

[2018-09-26 12:46] #30 closed

[2018-09-26 12:47] #15 closed

[2018-09-26 12:47] #35 closed

[2018-09-28 15:41] MadanBhandari opened #38 "Problem : User can't know anything about author"
Problem : User can't know anything about author
Solution :
1. Add short bio in profile, so that reader can know about authors
2. add edit profile section
3. link author's name in news to their profile

[2018-09-28 15:42] MadanBhandari commented on #38
@emurgobot claim

[2018-09-30 14:55] samuelralak opened #39 "problem: site has bad UI/UX"
problem: cardanoupdate UI feels generic

solution: Give cardanoupdate a unique look and feel, borrowing some UI aspects from the the official cardano website. Start with the following:

- change font to `montserat`, a free proxima nova alternative
- body default background color `#f3f5f7`
- body default font color `#565867`
- apply background color `#091a26` to header
- apply background color `#0e

[2018-09-30 14:58] samuelralak commented on #39
@emurgobot claim

[2018-09-30 22:12] samuelralak commented on #39
@emurgobot done

done in #40

should be good for a start. The C4 will guide its evolution

[2018-10-01 20:10] MadanBhandari opened #42 "Problem : Profile UI-UX is bad"
Problem : Profile UI-UX is bad

[2018-10-01 20:11] MadanBhandari commented on #38
Done in #41

@emurgobot done

we'll track UI-UX updates on another issue #42

[2018-10-01 20:11] MadanBhandari commented on #42
@emurgobot label "UI-UX"
@emurgobot claim

[2018-10-01 20:37] #38 closed

[2018-10-02 01:39] #39 closed

[2018-10-02 01:40] gazhayes commented on #19
@samuelralak how you going with this one?

[2018-10-02 01:40] #3 closed

[2018-10-02 02:42] samuelralak commented on #19
next PR chief

On Tue, 2 Oct 2018 at 04:40, Gareth Hayes <notifications@github.com> wrote:

[2018-10-02 10:42] anbud opened #43 "Problem: Comment replies are not working"
Problem: There's a 'reply' button on each comment, but currently it's not doing anything.

Solution: Modify the commenting system to support nested comments.

[2018-10-02 10:42] anbud commented on #43
@emurgobot claim

[2018-10-02 10:43] samuelralak commented on #43
good one. glad you spotted that one

On Tue, 2 Oct 2018 at 13:42, Andrej Budinčević <notifications@github.com>
wrote:

[2018-10-02 18:38] anbud commented on #43
Done in #44.

@emurgobot done

[2018-10-03 00:11] #43 closed

[2018-10-03 11:14] MadanBhandari commented on #42
Done in #45

@emurgobot done

[2018-10-04 05:52] gazhayes opened #46 "problem: number of comments not shown"
problem: number of comments not shown

There are a number of comments under this news item but the UX is not updated to reflect this.

<img width="1009" alt="screen shot 2018-10-04 at 1 51 27 pm" src="https://user-images.githubusercontent.com/8143945/46455239-b0ef3780-c7dc-11e8-944f-a50649ef1d02.png">

[2018-10-04 05:53] #42 closed

[2018-10-04 06:29] geekyd commented on #46
@emurgobot claim

[2018-10-04 07:57] gazhayes opened #47 "problem: no prominent link to github repo"
problem: no prominent link to github repo

solution: I guess put the github logo in the top menu bar as well as the sidebar

[2018-10-04 07:58] gazhayes opened #48 "problem: sort option in dropdown is clunky UX"
problem: sort option in dropdown is clunky UX

solution: I hope someone with better UX ideas than with me will think of something cool

[2018-10-04 08:00] gazhayes opened #49 "problem: users cannot add a profile picture"
problem: users cannot add a profile picture

solution: copy from blockrazor

[2018-10-04 08:02] gazhayes opened #50 "problem: sign up can be annoying"
problem: sign up can be an annoying process for users who are used to signing up with google/facebook/github

solution: add sign up/in using oauth tokens from popular third party services

[2018-10-04 08:03] gazhayes opened #51 "problem: side menu doesn't work on mobile"
problem: side menu doesn't work on mobile

can anyone else reproduce?

[2018-10-04 08:05] gazhayes opened #52 "problem: display tiles are larger than needed"
problem: display tiles are larger than needed

solution: put metadata in a single row - author etc from the top and number of stars/likes at the bottom can be merged into a single row at the bottom

[2018-10-04 08:07] gazhayes opened #53 "problem: cannot add a news item picture"
problem: cannot add a news item picture to be used for display picture on cards

[2018-10-04 08:13] gazhayes opened #54 "problem: cannot change vote after voting"
problem: users cannot change their vote after voting on a news item.

[2018-10-04 08:17] samuelralak commented on #54
The voting system is quite confusing as well. We are using a vote up/down
system yet displaying stars. IMO we should only display number votes
up(thumb ups) vote downs (thumb downs) instead of the star. or if you we
are to go with stars, lets use a star based voting system only.

Am for the thumb based voting (vote up/down)

On Thu, 4 Oct 2018 at 11:13, Gareth Hayes <notifications@github.com> wrot

[2018-10-04 08:32] gazhayes opened #55 "problem: sorting by popularity isn't meaningful"
problem: sorting by popularity isn't meaningful because the oldest entries will have more time to gain more votes.

solution: copy blockrazor's comment voting metrics (or reimpliment something similar if that's simpler). The general idea is:
rating = (upvotes - downvotes) / total number of votes

#54 is related

[2018-10-04 08:52] gazhayes opened #56 "problem: cardano logo not used"
problem: cardano logo not used

solution: import this font (dynamic import so it doesn't slow things down)

https://fonts.googleapis.com/css?family=Montserrat:700

For the header logo text use this font:

font-family: 'Montserrat',........

weight is bold, but I think with the `700` above it will just use bold anyway.

[2018-10-04 09:28] anbud commented on #49
@emurgobot claim

I'll reuse the uploader from Emurgis, I believe it's better there. Just one question, what upload directory should I use? (`/home/gareth/?_assets/static/images/`?)

[2018-10-04 09:29] anbud commented on #53
@emurgobot claim

I'll solve this as a part of #49, as I'm planning to make a separate, reusable image uploader component.

[2018-10-04 09:38] gazhayes commented on #49
Ah yeah I'm attempting to make this a pretty standard structure, so just replace `emurgis` with `cardanoupdate` as you'd suspect.

[2018-10-04 11:06] anbud commented on #49
Done in #57.

@emurgobot done

[2018-10-04 11:06] anbud commented on #53
Done in #57.

@emurgobot done

[2018-10-04 15:38] anbud commented on #50
@emurgobot claim

[2018-10-04 15:53] MadanBhandari commented on #47
@emurgobot claim

[2018-10-04 16:14] MadanBhandari commented on #47
Done in #59
@emurgobot done

[2018-10-04 16:15] MadanBhandari commented on #56
@emurgobot claim

[2018-10-04 16:29] MadanBhandari commented on #48
@emurgobot label "UI-UX"
@emurgobot claim

I am exploring some ides, feel free to share your ides

ping @gazhayes @samuelralak

[2018-10-04 16:32] MadanBhandari commented on #51
Yes, same for me, Not working. I am looking into this.

[2018-10-04 16:40] anbud commented on #51
Not working for me as well.

[2018-10-04 16:51] MadanBhandari commented on #48
I kind of liked this, what you say about similar approach ?
![flipkart-sort](https://user-images.githubusercontent.com/6429311/46489629-8c6a7e00-c823-11e8-93a1-0ceb5d84c3a0.png)

I am thinking about Sort by : Newest, Oldest, Most Popular or Best Rated (I don't see Worst rested should be there :D)

ping @gazhayes @anbud @samuelralak

[2018-10-04 17:54] MadanBhandari commented on #48
Done in #61
@emurgobot done

[2018-10-04 17:56] MadanBhandari commented on #51
@emurgobot claim

[2018-10-04 18:30] geekyd commented on #46
Fixed in #62
@emurgobot done

[2018-10-04 20:36] samuelralak commented on #52
@emurgobot claim

[2018-10-04 21:01] samuelralak commented on #52
@emurgobot done

done in #64

[2018-10-04 21:33] samuelralak opened #65 "problem: link to uploaded image is broken"
problem: image preview is not available when adding or editing news. submitting updated or new news item doesn't render image as well, in production. however, this worked for me in development only after changing my image upload directory.

Using `public/images/` as my upload directory locally.

ping @anbud @gazhayes

[2018-10-04 23:25] samuelralak opened #66 "problem: bad UI-UX on news image"
problem: the news image isn't correctly aligned. large images overflow from the news card element.

[2018-10-04 23:28] samuelralak commented on #66
@emurgobot claim

[2018-10-05 00:19] gazhayes commented on #65
@emurgobot claim

[2018-10-05 00:20] samuelralak commented on #66
@emurgobot done

[2018-10-05 00:20] #66 closed, assigned to nobody

[2018-10-05 02:20] #19 closed

[2018-10-05 02:20] #46 closed

[2018-10-05 02:20] #47 closed

[2018-10-05 02:20] #48 closed

[2018-10-05 02:20] #49 closed

[2018-10-05 02:20] #50 closed

[2018-10-05 02:20] #52 closed

[2018-10-05 02:41] gazhayes opened #68 "problem: layout with images is clunky"
problem: layout with images is clunky

solution: force images to be scaled to an appropriate size (but maintain ratio). Take the largest dimension from width and height and render the image at (for example) 200px width or height while leaving the other side to auto scale and preserve the original ratio.

[2018-10-05 02:47] gazhayes opened #69 "problem: not all projects will have a github repo"
problem: not all projects will have a github repo

solution: make the github url optional when submitting a new project but also add a warning icon to the card with a tooltip: This project may not be open source and should not be trusted with anything of value until the community has been able to audit the source code.

[2018-10-05 02:53] gazhayes opened #70 "problem: cannot comment on projects"
problem: cannot comment on projects

solution: use a similar system to blockrazor allowing users to comment with "Cool stuff" and "Red flags".

[2018-10-05 02:54] #65 closed

[2018-10-05 02:59] gazhayes opened #71 "problem: no tagline or heading on home page"
problem: no tagline or heading on home page

solution: add something like
### Cardano Update Space
#### ALL Cardano news and projects in one place

[2018-10-05 03:25] gazhayes opened #72 "problem: sorting by negative rating is not needed"
problem: sorting by negative rating is not needed

solution: remove the negative rating sort link, and remove the arrow from the remaining rating sort link.

<img width="511" alt="screen shot 2018-10-05 at 11 23 34 am" src="https://user-images.githubusercontent.com/8143945/46514586-595ed380-c891-11e8-860d-221bd5e73ba5.png">

[2018-10-05 05:03] anbud commented on #70
@emurgobot claim

[2018-10-05 10:32] IsmailMellouli commented on #71
@emurgobot claim

[2018-10-05 10:34] IsmailMellouli commented on #71
@gazhayes , by tagline and heading, do you mean in page content like the attached screen or the page title which is shown on the browser tab?
![screen shot 2018-10-05 at 11 33 56 am](https://user-images.githubusercontent.com/12498544/46530720-9aa3b300-c892-11e8-83d3-619986151c2a.png)

[2018-10-05 10:35] gazhayes commented on #71
yeah you got it in the attached screen grab :)

[2018-10-05 10:37] IsmailMellouli commented on #71
ok perfect! thanks.  I will do a pull request soon

[2018-10-05 10:53] IsmailMellouli commented on #71
@emurgobot label "done"

[2018-10-05 11:16] MadanBhandari commented on #72
@emurgobot claim

[2018-10-05 11:28] MadanBhandari commented on #72
Done in #75
@emurgobot done

[2018-10-05 11:36] MadanBhandari commented on #51
Done in #77
@emurgobot done

[2018-10-05 11:49] MadanBhandari commented on #68
For this we can force max-height, and give width auto, them image will maintain aspect radio with fixed height.

@emurgobot claim

[2018-10-05 11:52] MadanBhandari commented on #68
Q : How can I upload images in local ?

ping @gazhayes @anbud

[2018-10-05 11:58] anbud commented on #68
First, you'll have to create a directory for image uploads:
[code]
then, if you want to see them on the site in local:
[code]
in the root of Meteor project.

It should do the trick, at least it did for me on local.

[2018-10-05 12:11] MadanBhandari commented on #68
@anbud I got it, it's working now. Thank you :)

One more question : `/public/images` should be ignored on git push right ?

[2018-10-05 12:13] anbud commented on #68
Yap, it should be ignored.  `/images` in production are served from a separate node server if I remember correctly.

[2018-10-05 12:53] MadanBhandari commented on #68
Done in #78

@emurgobot done

[2018-10-05 12:59] MadanBhandari opened #79 "Problem : Top navigation bad UI-UX in mobile"
Problem : Top navigation bad UI-UX in mobile
![bad-ux-mobile](https://user-images.githubusercontent.com/6429311/46536508-60ef9e00-c8cc-11e8-8317-eb11bbb677fc.png)

Solution : Remove Add News from Navigation and add to News List (aka home) page

[2018-10-05 12:59] MadanBhandari commented on #79
@emurgobot label "UI-UX"
@emurgobot claim

[2018-10-05 13:10] MadanBhandari commented on #79
Done in #80

@emurgobot done

[2018-10-05 13:22] MadanBhandari opened #81 "Problem : It's hard to find projects for readers [users]"
Problem : It's hard to find projects for readers [users]
Solution : Add projects link on top navigation, which will be always visible

[2018-10-05 13:25] MadanBhandari opened #82 "Problem : Home page shows only news"
Problem : Home page shows only news

Solution :

Add top or recent news and projects only, for complete list add individual link for each (news and projects)
OR
Add projects as well on list give user options to show only news or only projects or both

ping @gazhayes

[2018-10-05 13:35] MadanBhandari commented on #81
Done in #83
@emurgobot done

[2018-10-05 13:39] MadanBhandari commented on #82
@emurgobot claim

[2018-10-05 13:50] #79 closed

[2018-10-05 20:01] #81 closed

[2018-10-06 19:12] MadanBhandari commented on #82
Guys, I am little bit confused on this. There is very few content for now.

What I wanted to do is make a list of all news and projects but there is no voting on projects for sorting to work.

any suggestions @gazhayes @anbud @samuelralak

[2018-10-06 19:17] MadanBhandari opened #84 "Problem : Home page bad UI-UX"
Problem : Home page bad UI-UX, it's not balanced with and without images post, too much blank space.

Solution : Need to do some work on UX and design, update layout

[2018-10-06 19:18] MadanBhandari commented on #84
@emurgobot label "UI-UX"
@emurgobot claim

Related #82

[2018-10-06 19:28] samuelralak commented on #82
The home page currently shows news items, IMHO we can leave it like that for now and allow it to evolve as more content is added- the C4 should guide. Am honestly not certain if we would want to
mix the News Updates with the Projects as at now. This is just my take.

Though if you have any ideas of making the home page look better, well, feel free to play around.

[2018-10-06 19:44] samuelralak commented on #69
@emurgobot done

[2018-10-06 19:44] samuelralak commented on #69
done in #85

[2018-10-06 19:45] samuelralak opened #86 "problem: image in news card is too large"
problem: the image in the news card is too large making actual content appear squeezed.

solution: reduce size of image in news card and center it

[2018-10-06 19:46] samuelralak commented on #86
@emurgobot claim

[2018-10-06 19:46] MadanBhandari commented on #82
Yap, that's why I created #84 , I am trying show the overview of project in home page itself :D

I am thinking about keeping news items on one main column and projects on another (only few projects or main projects), It's more of a UX and design stuff than just coding. Sometimes I loved this type of work, where I don't just code but do a little research on user experience, design standards and com

[2018-10-06 19:49] MadanBhandari commented on #86
Actually this is related to #84, can you just wait for me to that complete, if you haven't started working on this ?

[2018-10-06 19:54] samuelralak commented on #86
ok

@emurgobot unclaim

[2018-10-07 12:35] MadanBhandari commented on #84
Done in #87
@emurgobot done

[2018-10-07 12:36] MadanBhandari commented on #82
Done in #87
@emurgobot done

[2018-10-07 13:03] #82 closed

[2018-10-07 18:19] samuelralak opened #88 "Problem: [/projects] large gaps between content with dynamic heights"
Problem: The Projects home page uses a boxed grid card layout with fixed heights. The dynamics dimensions of newly added content introduces large gaps between contents vertically which in turn makes the UI inconsistent.

Solution: Use twbs masonry cards layout

[2018-10-07 18:27] #84 closed

[2018-10-07 18:41] samuelralak commented on #88
@emurgobot done

done in #89

[2018-10-07 19:23] samuelralak opened #90 "Problem: New homepage layout causing UI inconsistency"
Problem: The news content currently uses a grid card layout which introduces the following issues
- large gaps between contents leading to unnecessary scrolling and general bad UI
- less room for news content meta making this section appear out of style
- settings icon squeezed to the right corner making it look out of place and incosistent with the rest of the UI

The introduction of a Projects s

[2018-10-08 05:50] #51 closed

[2018-10-08 05:50] #68 closed

[2018-10-08 05:50] #69 closed

[2018-10-08 05:50] #70 closed

[2018-10-08 05:50] #71 closed

[2018-10-08 05:50] #72 closed

[2018-10-08 05:50] #88 closed

[2018-10-08 06:26] gazhayes opened #92 "problem: cannot find news or projects by type"
problem: cannot find news or projects by type.

solution: implement tags

News articles and projects can then be tagged. As an example, users probably want to know what wallets are available for cardano, this would give an easy way for users to see all the available wallet projects as well as news about them.

[2018-10-08 06:28] gazhayes opened #93 "problem: users cannot add events"
problem: users cannot add events

solution: implement something minimal, the required data is probably similar to a news story except that it needs date/time/location.

[2018-10-08 06:28] #86 closed

[2018-10-08 06:28] #90 closed

[2018-10-08 06:30] MadanBhandari commented on #93
@emurgobot claim

[2018-10-08 06:36] gazhayes opened #94 "problem: projects without github repo can be dangerous"
problem: projects which do not have a github repo can be dangerous because the community cannot peer review the codebase. In blockchain, it's generally only scams that are not open source.

solution: when a project is added without a github repository, add a warning icon along with the other icons at the bottom of the card. When clicked, this should launch a modal with a warning that no source rep

[2018-10-08 06:40] gazhayes opened #95 "problem: users cannot add a github repo to projects"
problem: users cannot add a github repo to projects where it hasn't been defined.

solution: implement a basic thing like blockrazor where users can contribute data points (in this case a github repo) and these changes can be 'merged' by maintainers.

[2018-10-08 06:43] geekyd commented on #94
@emurgobot claim

[2018-10-08 06:53] anbud commented on #95
@emurgobot claim

[2018-10-08 07:28] gazhayes opened #97 "problem: users have to log in to see projects"
problem: users have to log in to see projects

[2018-10-08 07:28] #94 closed

[2018-10-08 08:28] geekyd commented on #92
Done in #98

@emurgobot done

[2018-10-08 08:29] geekyd commented on #97
@emurgobot claim

[2018-10-08 08:39] geekyd commented on #97
Done in #99

@emurgobot done

[2018-10-08 08:40] geekyd opened #100 "problem: users cannot search news & projects"
problem: users cannot search news & projects. There is no interface to search.

solution: Implement a search bar on all pages.

[2018-10-08 08:41] geekyd commented on #100
@emurgobot claim

[2018-10-08 09:13] gazhayes opened #101 "problem: some info is missing from project detail page"
problem: some info is missing from project detail page; the github repo and the project website are not rendered on the detail page.

[2018-10-08 09:16] geekyd commented on #101
@emurgobot claim

[2018-10-08 09:16] gazhayes opened #102 "problem: not enough encouragement for users to add new data"
problem: not enough encouragement for users to add new data

solution: all actions that require a user to be logged in should still be displayed when they are logged out but redirect them to the login page onclick. Let users see what they are missing out on.

[2018-10-08 09:56] anbud commented on #95
Done in #103.

@emurgobot done

[2018-10-08 09:56] anbud commented on #102
@emurgobot claim

[2018-10-08 10:11] geekyd commented on #100
Done in #104
@emurgobot done

[2018-10-08 10:30] #97 closed

[2018-10-08 10:30] #92 closed

[2018-10-08 11:07] geekyd commented on #101
Done in #105

@emurgobot done

[2018-10-08 13:33] MadanBhandari opened #106 "Problem : Test failing on production"
Problem : Test failing on production since PR #104

More details is on [Travis CI](https://travis-ci.org/EmurgoHK/cardanoupdate)

ping @gazhayes @anbud

[2018-10-08 19:18] samuelralak commented on #55
@emurgobot claim

[2018-10-08 19:24] samuelralak commented on #106
cleared cache and restarted build. should be alright now

[2018-10-08 19:24] #106 closed

[2018-10-08 19:24] MadanBhandari commented on #106
Yeah, just got email from Travis CI :)

[2018-10-09 03:33] #101 closed

[2018-10-09 03:33] #100 closed

[2018-10-09 03:33] #95 closed

[2018-10-09 04:54] gazhayes opened #107 "problem: facebook login oauth redirect url invalid"
problem: facebook login oauth redirect url invalid

<img width="652" alt="screen shot 2018-10-09 at 12 51 56 pm" src="https://user-images.githubusercontent.com/8143945/46647379-3babaa00-cbc2-11e8-8a5b-11e064e89486.png">

I've allowed these in the facebook dev tools:

<img width="543" alt="screen shot 2018-10-09 at 12 53 10 pm" src="https://user-images.githubusercontent.com/8143945/46647401-5aaa3c0

[2018-10-09 08:23] gazhayes opened #108 "problem: user profile page does not show existing profile picture"
problem: user profile page does not show existing profile picture

[2018-10-09 08:25] gazhayes opened #109 "problem: contributor profile is not visible"
problem: when a contributor adds a news article or project their name is displayed but this doesn't direct to their profile so the name doesn't mean much.

[2018-10-09 08:28] geekyd commented on #109
@emurgobot claim

[2018-10-09 08:31] yujin718 commented on #107
to check this issue, i need to check facebook account registered this site. How can i check?

[2018-10-09 08:31] gazhayes commented on #107
@yujin718 this issue is solved

[2018-10-09 08:35] gazhayes commented on #54
@samuelralak how's this one going?

[2018-10-09 08:36] samuelralak commented on #54
currently updating tests. sending PR in a bit

On Tue, 9 Oct 2018 at 11:35, Gareth Hayes <notifications@github.com> wrote:

[2018-10-09 08:41] gazhayes opened #110 "problem: side menu is annoying on small screens"
problem: the side menu is annoying on small screens because it doesn't automatically close when tapping on the content.

solution: when on a small screen, close menu automatically when content (or whatever) is clicked.

[2018-10-09 08:43] samuelralak commented on #110
I implemented a solution to this on blockrazor. whoever may take this might
consider checking it out or having something similar:)

On Tue, 9 Oct 2018 at 11:41, Gareth Hayes <notifications@github.com> wrote:

[2018-10-09 08:43] yujin718 commented on #110
where did you implement as i'm new on this project?

[2018-10-09 08:48] geekyd commented on #109
Done in #111

@emurgobot done

[2018-10-09 08:49] samuelralak commented on #110
checkout this commit [here](https://github.com/Blockrazor/blockrazor/commit/c2d20a8d524976b0382b2bd7fa02d6397dda8e8e)

[2018-10-09 08:50] #109 closed

[2018-10-09 08:51] yujin718 commented on #110
Ok. thanks.

[2018-10-09 08:53] kriswormwood opened #112 "problem: no logo"
problem: no logo

solution: use this one. (transparent png)
![cardano logo3-01](https://user-images.githubusercontent.com/26383314/46657919-03b55e80-cbe4-11e8-9391-104d8069c8ad.png)

[2018-10-09 09:04] gazhayes opened #113 "problem: no favicon"
problem: there's no favicon or shortcut icon etc.

Solution: use these
[cardano_icon.zip](https://github.com/EmurgoHK/cardanoupdate/files/2459644/cardano_icon.zip)

IIRC there's a package to handle this nicely, but otherwise here's a code snippet:
[code]

[2018-10-09 09:12] gazhayes opened #114 "Problem: not clear how to use tags effectively"
Problem: not clear how to use tags effectively

solution: when adding content, display all the existing tags used by the site and let users select from them in addition to the existing way of using an input box to add new tags.

[2018-10-09 09:14] geekyd commented on #114
@emurgobot claim

[2018-10-09 09:36] MadanBhandari commented on #113
@emurgobot claim

[2018-10-09 09:37] gazhayes commented on #114
Hmmmmm. I guess they should be in their own collection so we don't have to search through the entire database to find tags every time.

[2018-10-09 09:37] samuelralak commented on #54
@emurgobot done

done in #115

[2018-10-09 09:38] samuelralak commented on #55
@emurgobot done

done in #115

[2018-10-09 09:38] geekyd commented on #114
@gazhayes Cool. I think that is the way to go. Thanks

[2018-10-09 09:38] gazhayes commented on #114
It's probably best to sort them by order of how common they are so you probably want to increment an int each time they are used too

[2018-10-09 09:39] #54 closed

[2018-10-09 09:39] #55 closed

[2018-10-09 09:40] geekyd commented on #114
Yeah, great idea

[2018-10-09 09:42] gazhayes opened #116 "problem: new items are unfairly rated"
problem: new items are unfairly rated

solution: give each new item a score of 2 upvotes and 0 downvotes on creation so that they appear right at the top but then trend downwards immediately if the first vote is a downvote.

[2018-10-09 09:43] samuelralak commented on #116
Where do the 2 upvotes come from?

On Tue, 9 Oct 2018 at 12:42, Gareth Hayes <notifications@github.com> wrote:

[2018-10-09 09:45] samuelralak commented on #116
1. vote from System
2. vote from Creator? 😄

[2018-10-09 09:48] samuelralak commented on #116
@emurgobot claim

[2018-10-09 09:54] gazhayes opened #117 "problem: dealing with flags is not clear"
problem: dealing with flagged content (in the moderator section) is a little confusing.

solution: make it very clear what action the moderator is choosing between (delete the content, or ignore the flag).

[2018-10-09 09:55] gazhayes opened #118 "problem: moderators cannot promote new moderators"
problem: moderators cannot promote new moderators

solution: take the list of users and sort them by the amount of content they have created. From this list, take the top 10%. Allow existing moderators to promote new moderators from this list.

[2018-10-09 09:56] gazhayes commented on #116
Whatever is easier I guess, it doesn't *really* matter.

[2018-10-09 09:58] gazhayes opened #119 "problem: styling on news and projects is different"
problem: styling on news and projects is different

solution: use the same header on all pages (people arriving from Google could land anywhere and it won't be clear what this site is for)

[2018-10-09 10:01] anbud commented on #102
Done in #120.

@emurgobot done

[2018-10-09 10:02] anbud commented on #118
@emurgobot claim

[2018-10-09 10:02] #102 closed

[2018-10-09 10:05] samuelralak commented on #116
@emurgobot done

done in #121

[2018-10-09 10:08] samuelralak commented on #119
@gazhayes just to be clear, the header should be applied on ALL pages NOT JUST the news list and project list pages?

[2018-10-09 10:11] gazhayes opened #122 "problem: very high risk of conflicts with rapid changes to the codebase"
problem: there's a very high risk of conflicts with rapid changes to the codebase

solution: to reduce the risk of conflicts, maintainers can merge pull requests immediately without waiting for tests to complete. This allows contributors to pull the changes faster in case they are working on the same file. If tests fail then the failing tests can be dealt with as a new problem. Often times the fai

[2018-10-09 10:12] #116 closed

[2018-10-09 10:13] gazhayes commented on #119
Hmmmmm.... I'm not really sure to be honest. What do you think?

[2018-10-09 10:15] samuelralak commented on #117
@emurgobot claim

[2018-10-09 10:17] samuelralak commented on #119
I would suggest that we only apply the same header to news and projects list since either can serve as home pages. We can leave other pages as is or apply something different (still yet to figure this out) unique to each page.

[2018-10-09 10:34] MadanBhandari commented on #113
Done in #123
@emurgobot done

[2018-10-09 10:35] MadanBhandari commented on #112
@emurgobot claim

[2018-10-09 10:39] #113 closed

[2018-10-09 10:39] Chicooz commented on #25
I Investigated this issue and it seem like a famous meteor issue, not related to cardanoupdate.

[2018-10-09 10:40] gazhayes commented on #119
Yeah cool, that solves the problem anyway

[2018-10-09 10:44] MadanBhandari commented on #112
Done in #124
@emurgobot done

[2018-10-09 10:44] #112 closed

[2018-10-09 11:44] anbud commented on #118
Done in #125.

@emurgobot done

[2018-10-09 11:54] samuelralak commented on #117
@emurgobot done

done in #127

[2018-10-09 11:55] MadanBhandari commented on #93
Done in #126

@emurgobot done

[2018-10-09 12:06] MadanBhandari commented on #119
@emurgobot claim

[2018-10-09 12:45] #119 closed

[2018-10-09 12:45] #118 closed

[2018-10-09 12:46] #117 closed

[2018-10-09 12:46] #93 closed

[2018-10-09 12:51] gazhayes opened #129 "problem: adding event end time is annoying"
problem: adding event end time is annoying because the user has to cycle through the whole calendar again to find the right date and time.

possible solutions:
 force the end date calendar selector to skip forward to the same date and time as the start date so the user only has to increase it by an hour (or whatever).

instead of using a second calendar input allow the user to input the length of

[2018-10-09 12:54] gazhayes opened #130 "Problem: event descriptions can't be formatted nicely"
Problem: event descriptions can't be formatted nicely

solution: use the same markdown magic as used for news articles. Also increase the max chars to 1000.

[2018-10-09 12:58] gazhayes opened #131 "problem: location for events cannot be displayed on a map"
problem: the event locations may or may not be able to be displayed on a map (depends if google maps can find it).

A possible solution might come from google maps API, I think you can do an address search to check if it's actually able to be found or not.

[2018-10-09 13:01] gazhayes opened #132 "Problem: easy to forget to add RSVP info to events"
Problem: easy to forget to add RSVP info to events

solution: add an "RSVP instructions" field to the new event creation form

[2018-10-09 13:03] gazhayes opened #133 "problem: github icon alignment is a bit off"
problem: github icon alignment is a bit off

[2018-10-09 13:07] gazhayes opened #134 "problem: users might miss sections on mobile"
problem: on desktop there are categories in the top menu bar but on mobile it's too small to display this and users might miss the other sections

solution: on mobile, replace the tagline in the header with links to news projects and evente pages.

[2018-10-09 13:12] MadanBhandari commented on #133
@gazhayes I didn't understand this problem, which icon you are talking about here ? On Navigation or in Projects ?

[2018-10-09 13:12] MadanBhandari commented on #133
@emurgobot lable "UI-UX"

[2018-10-09 13:14] gazhayes commented on #133
Oh sorry, I mean the one in the top navbar

[2018-10-09 13:14] anbud commented on #131
@emurgobot claim

[2018-10-09 13:18] MadanBhandari commented on #130
@emurgobot claim

[2018-10-09 13:33] yujin718 commented on #110
@emurgobot done

[2018-10-09 13:55] gazhayes commented on #110
Hi @yujin718 are you going to send a pull request for this one?

[2018-10-09 14:04] yujin718 commented on #110
Yes. I'm new member and first pull request is my first scope

On Tue, Oct 9, 2018 at 9:56 PM Gareth Hayes <notifications@github.com>
wrote:

[2018-10-09 15:33] IsmailMellouli commented on #132
@emurgobot claim

[2018-10-09 16:38] IsmailMellouli commented on #132
@emurgobot label "done"

[2018-10-09 18:15] MadanBhandari commented on #132
@IsmailMellouli Update issue with PR number and  `@emurgobot done`, no need to add label `done`. This will be automatically added by `@emurgobot done`

[2018-10-09 18:47] MadanBhandari commented on #130
Done in #137

@emurgobot done

[2018-10-09 18:48] MadanBhandari commented on #134
@emurgobot lable "UI-UX"
@emurgobot claim

[2018-10-09 18:59] anbud commented on #131
Done in #138.

@emurgobot done

[2018-10-09 19:31] MadanBhandari commented on #134
Done in #139
@emurgobot done

[2018-10-09 19:33] MadanBhandari commented on #133
@emurgobot claim

[2018-10-09 19:44] MadanBhandari commented on #133
Done in #140
@emurgobot done

[2018-10-09 19:47] MadanBhandari opened #141 "Problem : Projects description can't be formatted"
Problem : Projects description can't be formatted

Solution : Add markdown editor like in events and news

[2018-10-09 19:47] MadanBhandari commented on #141
@emurgobot claim

[2018-10-09 19:52] samuelralak commented on #141
Hey @MadanBhandari take a look at this issue here [#19](https://github.com/EmurgoHK/cardanoupdate/issues/19)

[2018-10-09 19:55] MadanBhandari commented on #141
@samuelralak Thanks for the heads-up, closing this issue as this is not a requirement.

[2018-10-09 19:55] #141 closed

[2018-10-09 21:33] omar20261 commented on #129
@emurgobot  claim

[2018-10-09 22:39] anbud opened #142 "Problem: Tests are failing"
Problem: Tests are failing

Solution: Fix client side and server side tests.

[2018-10-09 22:39] anbud commented on #142
@emurgobot claim

[2018-10-09 23:40] anbud commented on #142
Fixed in #144.

@emurgobot done

[2018-10-10 03:03] #142 closed

[2018-10-10 04:28] #130 closed

[2018-10-10 04:30] #131 closed

[2018-10-10 04:30] #132 closed

[2018-10-10 04:31] #133 closed

[2018-10-10 04:31] #134 closed

[2018-10-10 04:31] #122 closed

[2018-10-10 04:50] samuelralak commented on #110
not at all. checking it out.

@emurgobot claim

On Wed, 10 Oct 2018 at 07:25, Gareth Hayes <notifications@github.com> wrote:

[2018-10-10 05:11] MadanBhandari opened #145 "Problem : User can't reset password"
Problem : User can't reset password

Solution : Add password reset form

@gazhayes do we have email details or should I create new account on SendGrid like we did on `blockrazor` ?

[2018-10-10 05:12] MadanBhandari commented on #145
@emurgobot claim

[2018-10-10 05:14] gazhayes commented on #145
Hmmm, just create a new account

[2018-10-10 06:01] gazhayes opened #146 "problem: can't see user statistics"
problem: can't see user statistics

solution: show number of total users and number of online users. Blockrazor is already doing this so some code could be stolen from there.

[2018-10-10 06:05] gazhayes opened #147 "problem: difficult to flag things"
problem: difficult to flag things, users have to open the item and go all the way to the end to find the flag button.

solution: add a flag button to the summary cards for each news item, event, and project.

[2018-10-10 06:25] gazhayes opened #148 "problem: cannot add academic papers"
problem: IOHK funds cryptography research at a variety of universities globally but these papers cannot be added to the site.

solution: add a "research" section. Allow users to add a headline, abstract, and upload a PDF.

[2018-10-10 06:28] anbud commented on #148
@emurgobot claim

[2018-10-10 06:37] kriswormwood opened #149 "problem: logo spacing is off"
problem: logo spacing is off

solution: corrected logo spacing uploaded here. replace.
![cardano logo update4](https://user-images.githubusercontent.com/26383314/46717292-f6f34200-cc99-11e8-873e-ba5560bf4772.png)

[2018-10-10 06:51] kriswormwood opened #150 "problem: there is no edit button on the post"
problem: there is no edit button on the post once it is submitted and viewed.

solution: add edit link for poster to revise and edit post.

[2018-10-10 06:51] gazhayes opened #151 "problem: cannot reset text formatting"
problem: when users copy/paste text into the markdown editor it often uses weird formatting etc

Hopefully there's an easy way to let users reset the formatting

[2018-10-10 06:58] MadanBhandari commented on #150
Currently edit and delete options only are available in `/projects`, `/events` and `/home`. Users can see settings icon on top right of each card if that post is created by him/herself.

Or are you suggesting we should add edit button inside the post itself as well ?

[2018-10-10 06:59] MadanBhandari commented on #149
Just replacing logo image should fix the issue.

[2018-10-10 07:00] yujin718 commented on #146
@emurgobot claim

[2018-10-10 07:00] MadanBhandari commented on #149
@emurgobot claim

[2018-10-10 07:00] yujin718 commented on #146
Hello which page you mean?

[2018-10-10 07:04] MadanBhandari commented on #149
Done in #152
@emurgobot done

[2018-10-10 07:06] MadanBhandari commented on #147
@emurgobot claim

[2018-10-10 07:14] yujin718 commented on #146
@emurgobot abandon

[2018-10-10 07:17] gazhayes commented on #150
Should probably add it inside the post (or whatever) too

[2018-10-10 07:19] yujin718 commented on #110
Please let me know what is issue from my commit? so i can know reason

[2018-10-10 09:05] MadanBhandari commented on #147
Done in #153
@emurgobot done

[2018-10-10 09:14] omar20261 commented on #151
@emurgobot claim

[2018-10-10 12:13] omar20261 commented on #151
@gazhayes there is no easy way to do that ..

[2018-10-10 12:14] gazhayes commented on #151
Yeah, just abandon and leave this issue open to stew for a while, someone may think of a simple solution.

[2018-10-10 12:16] anbud commented on #151
I've got an idea, I'll give it a go.

@emurgobot claim

[2018-10-10 12:20] MadanBhandari commented on #151
I was also looking into this.

@anbud check [remove-markdown](https://github.com/stiang/remove-markdown), this might be helpful here

[2018-10-10 12:20] gazhayes commented on #129
@omar20261 when you send a pull request and are confident the issue is resolved (i.e. no more commits coming) you can do `@emurgobot done` to mark it as closed.

[2018-10-10 12:27] omar20261 commented on #151
@anbud
what I was trying to do is add clean-block button which is already doing the job very well
check this out
https://jsfiddle.net/oLnmq6zn/2/
this button exist in the original package but the meteor package does not have that option

good luck

[2018-10-10 12:30] #149 closed

[2018-10-10 12:30] #147 closed

[2018-10-10 12:33] gazhayes commented on #129
Oh sorry, it is fixed :)

[2018-10-10 12:58] MadanBhandari commented on #150
Done in #154
@emurgobot done

[2018-10-10 16:08] MadanBhandari commented on #145
Done in #155

@emurgobot done

[2018-10-10 16:08] MadanBhandari commented on #146
@emurgobot claim

[2018-10-10 18:07] anbud commented on #148
@gazhayes, what upload directory should I use here? `/home/gareth/cardanoupdate_assets/static/pdfs/`?

[2018-10-10 20:18] anbud commented on #148
Done in #156.

@emurgobot done

[2018-10-10 21:01] anbud commented on #151
Done in #157.

@emurgobot done

[2018-10-10 21:21] omar20261 commented on #129
@emurgobot done

[2018-10-11 02:47] gazhayes opened #158 "problem: error when uploading research papers"
problem: error when uploading research papers: failed to validate md5 hash

ping @anbud

[2018-10-11 03:00] #25 closed

[2018-10-11 05:12] #151 closed

[2018-10-11 05:12] #150 closed

[2018-10-11 05:12] #148 closed

[2018-10-11 05:13] #145 closed

[2018-10-11 05:13] #129 closed

[2018-10-11 05:39] gazhayes opened #159 "problem: cannot add social resources"
problem: it's not possible to add social resources such as forums, telegram groups, etc.

[2018-10-11 05:42] gazhayes opened #160 "Problem: home route only shows news"
Problem: the home route only shows news items.

Solution: put news on its *own* route (/news I guess). On the *home* route (/), add everything (news, events, projects) and sort by most recent.

[2018-10-11 05:48] MadanBhandari commented on #160
Earlier, I tried to cover this on #82, looks like it's completely changed.

What I suggest is list most recent news items (let's say 10) and provide view all link to all news OR list all of the post once at including projects, events, research papers and give them tag (or category like news, project, event etc.)

[2018-10-11 05:51] gazhayes commented on #160
I think the tag idea is best, just because it's more flexible and probably the simplest solution. What do you think?

[2018-10-11 05:54] MadanBhandari commented on #160
Yes, that's good option though but we need same layout for all posts.

@gazhayes My reference for Option 1 is [this one](https://tympanus.net/codrops/). Check this and let me know what you think about similar approach.

[2018-10-11 05:57] gazhayes commented on #160
It's up to you really, we can always change it later if it doesn't work out. Have fun!

[2018-10-11 06:05] MadanBhandari commented on #160
I won't change current `news` layout  and this will moved to `/news`.

I am gonna explore both the options and will keep updating here, completing this issue will take little more time than usual.

@emurgobot claim

[2018-10-11 06:19] anbud commented on #158
I'll check it out, I haven't seen this error locally.

@emurgobot claim

[2018-10-11 06:44] omar20261 commented on #159
@emurgobot claim

[2018-10-11 09:07] samuelralak commented on #110
Hi @yujin718 I took a look at your PR #135 and your patch didn't work because of the following:
- your if statement checks for class `nav-link` on the body, html element; this will always be false as body will never have a `nav-link` class, beside the `if` statement was totally unnecessary

[2018-10-11 09:07] samuelralak commented on #110
@emurgobot done

done in #161

[2018-10-11 11:54] anbud commented on #158
This was actually happening only on certain pdf files that had a dangling empty newline at the end of the document. Trimming data fixes the problem.

Fixed in #162.

@emurgobot done

[2018-10-11 19:09] samuelralak commented on #108
@emurgobot done

done in #163

[2018-10-11 19:12] samuelralak opened #164 "problem: edit profile page out of style"
problem: edit profile is not styled yet. This makes it look inconsistent with the rest of the pages

[2018-10-11 19:13] samuelralak commented on #164
@emurgobot claim

[2018-10-11 20:05] samuelralak opened #165 "problem: profile page shows image of current user"
problem: profile picture shows image of current user even after visiting another user's profile

[2018-10-11 20:05] samuelralak commented on #165
@emurgobot claim

[2018-10-11 20:39] samuelralak commented on #165
@emurgobot done

[2018-10-11 20:39] samuelralak commented on #165
done in #166

[2018-10-12 02:37] #108 closed

[2018-10-12 02:37] #110 closed

[2018-10-12 02:37] #158 closed

[2018-10-12 02:37] #165 closed

[2018-10-12 03:11] omar20261 commented on #159
@emurgobot done

[2018-10-12 03:49] omar20261 commented on #159
Okay.. So what are the fields of the form? Name and link..  What else ?

[2018-10-12 04:00] omar20261 commented on #159
@gazhayes can you give me the description about how the form should be ?

[2018-10-12 04:01] gazhayes commented on #159
Name, link, and a description should be ok.

We generally avoid giving specific instructions or micromanaging, developers are encouraged to think through the problem and come up with their own solutions that make sense to them in the context of the project.

I should have provided more background info. The deeper problem here is that there's no list/summary of forums, telegram groups, etc and no w

[2018-10-12 04:03] omar20261 commented on #159
fair enough @emurgobot claim

[2018-10-12 07:35] kriswormwood opened #169 "problem: picture insert button inserts http link"
problem: picture insert button inserts http link

[2018-10-12 07:36] gazhayes commented on #169
Where on the site did this happen?

[2018-10-12 07:50] kriswormwood commented on #169
add news

[2018-10-12 07:54] kriswormwood commented on #169
<img width="586" alt="screen shot 2018-10-12 at 3 54 27 pm" src="https://user-images.githubusercontent.com/26383314/46855748-212e3680-ce37-11e8-98bd-723daf9e26b7.png">

[2018-10-12 09:05] samuelralak opened #170 "problem: [/research/:slug] pdf download link not downloading file"
problem: clicking on the `Download PDF` opens a new tab but fails to download file; it renders a `404 Page Not Found` instead

solution: add a download attribute to the `Download PDF` link. you can refer to this [stack overflow answer](https://stackoverflow.com/questions/2793751/how-can-i-create-download-link-in-html/16316830#16316830)

[2018-10-12 09:20] gazhayes opened #171 "problem: contributors miscatagorize things"
problem: contributors sometimes miscatagorize things in the projects section.

solution: add guidance for contributors when they first start adding projects to the site. It's probably simplest to just launch a modal when users go to add an item and allow them to either `close` (default) or `don't show again`.

When adding a project:
`Projects added here must be something that people can use with C

[2018-10-12 09:22] gazhayes commented on #170
I think the problem may be deeper than that, I'm checking the load balancing rules and will report back.

[2018-10-12 09:42] gazhayes commented on #170
OK, check now and close if you think it's resolved.

[2018-10-12 09:43] samuelralak commented on #170
yep. resolved

[2018-10-12 09:44] #170 closed

[2018-10-12 10:35] gazhayes opened #172 "problem: text layout on mobile is bad"
problem: text layout (body of news, projects, etc) on mobile is bad, it's aligned left which looks weird.

[2018-10-12 10:49] samuelralak commented on #172
We could justify content and see how it looks

On Fri, 12 Oct 2018 at 13:35, Gareth Hayes <notifications@github.com> wrote:

[2018-10-12 10:54] gazhayes commented on #172
Yeah that will probably solve it.

[2018-10-12 11:15] samuelralak commented on #172
sending a patch for this in a bit

@emurgobot claim

[2018-10-12 11:28] samuelralak commented on #171
@emurgobot claim

[2018-10-12 12:05] samuelralak commented on #164
@emurgobot done

done in #174

[2018-10-12 16:55] anbud commented on #169
Yap, this is intended behavior of the markdown editor. But, I can make a custom insert image button in the toolbar, of course, which will show an image upload form (probably in a modal) and insert the uploaded image. Is that what you had in mind? :)

@emurgobot claim

[2018-10-13 03:18] gazhayes commented on #169
I'd say that will do the trick

[2018-10-13 14:03] omar20261 commented on #159
@emurgobot done

[2018-10-14 21:13] anbud commented on #169
Done in #176.

@emurgobot done

[2018-10-15 08:47] kriswormwood opened #177 "problem: logo crop incorrect"
problem: logo crop incorrect

solution: this logo is revised for mobile and desks (minimal edge)

![cardano logo update6](https://user-images.githubusercontent.com/26383314/46939819-d6602900-d099-11e8-9893-6c7999db38cd.png)

[2018-10-15 09:12] gazhayes opened #178 "problem: users sometimes upload large images"
problem: users sometimes upload large images which also take a long time to load when used in content.

solution: use graphicsmagik (installed in production) to scale down images larger than x. Blockrazor is currently using this so that could provide an example for usage.

[2018-10-15 09:13] #172 closed

[2018-10-15 09:13] #164 closed

[2018-10-15 09:13] #169 closed

[2018-10-15 09:59] anbud commented on #178
@emurgobot claim

[2018-10-15 10:10] MadanBhandari commented on #177
@emurgobot claim

[2018-10-15 10:12] MadanBhandari commented on #177
Done in #179
@emurgobot done

[2018-10-16 08:04] #177 closed

[2018-10-16 08:05] #178 closed

[2018-10-16 08:05] gazhayes commented on #114
ping @geekyd  how you going on this one?

[2018-10-16 08:05] gazhayes commented on #146
ping @MadanBhandari how you going on this one?

[2018-10-16 08:06] gazhayes commented on #160
ping @MadanBhandari

[2018-10-16 08:07] gazhayes commented on #171
ping @samuelralak how you going with this one?

[2018-10-16 08:07] samuelralak commented on #171
next PR chief

On Tue, 16 Oct 2018 at 11:07, Gareth Hayes <notifications@github.com> wrote:

[2018-10-16 08:18] MadanBhandari commented on #146
I am sending PR in a bit.

[2018-10-16 08:34] #146 closed

[2018-10-16 11:57] MadanBhandari commented on #160
I was travelling to my home town in Nepal from India and air travel is not an option for me :D

I won't hold any issue this much long in future :)

Done in #182
@emurgobot done

[2018-10-16 12:06] MadanBhandari opened #183 "Problem : Events are not labelled"
Problem : Events are not labelled as per status

Solution : Add labels as per event start and end date like, upcoming, ongoing and closed (or over), and on home page only show upcoming and ongoing events only

[2018-10-18 05:44] #160 closed

[2018-10-18 05:45] gazhayes commented on #183
This could be done just by using the date/time instead of creating an extra label couldn't it?

[2018-10-18 06:30] MadanBhandari commented on #183
Yes, there won't be any extra field, that would be automatic label based on date, just to show upcoming or ongoing events, displaying passed events on home page doesn't make sense.

[2018-10-18 06:36] samuelralak commented on #171
abandoning this issue so that someone else can claim it. may not have time for at least the next 2 days

@emurgobot abandon

[2018-10-18 08:01] MadanBhandari commented on #183
@emurgobot claim

[2018-10-18 09:18] MadanBhandari commented on #183
Done in #185
@emurgobot done

[2018-10-18 09:22] gazhayes opened #186 "problem: news section isn't actually very useful"
problem: after a bit of experimentation and consultation with the cardano community, it appears that people don't actually care about the news section, and people can easily get updated from reddit or something. The feedback I've received from various parties indicates that it's best to make the site focused on projects, events, etc .

solution:
Eradicate the news section entirely. Update the home

[2018-10-18 09:27] MadanBhandari commented on #171
@emurgobot claim

[2018-10-18 11:11] MadanBhandari commented on #171
Done in #187
@emurgobot done

[2018-10-19 03:11] #171 closed

[2018-10-19 03:27] gazhayes opened #189 "problem: not clear what project headline should be"
problem: it's not very clear what a project 'headline' is for.

solution: change the UI to call this the project 'name' instead.

[2018-10-19 03:28] gazhayes opened #190 "problem: project headline/name can be too long"
problem: project headline/name can be too long

solution: limit this (validated-method and schema) to 25 chars

[2018-10-19 03:28] gazhayes commented on #190
realted: #189

[2018-10-19 03:41] gazhayes opened #191 "problem: projects built on cardano not considered"
problem: there's a difference between projects that are *for* cardano, and projects that are built *on* cardano or *use* cardano. For example, a wallet is something that is built *for* cardano. However a new token that simply uses the cardano blockchain as a host is something build *on* cardano. This is not currently taken into consideration.

solution: when users add a project, ask them if this i

[2018-10-19 05:10] omar20261 commented on #189
@emurgobot claim

[2018-10-19 05:10] omar20261 commented on #190
@emurgobot claim

[2018-10-19 14:27] #183 closed, assigned to nobody

[2018-10-19 15:28] geekyd commented on #114
Done in #194
@emurgobot done

[2018-10-19 15:30] geekyd opened #195 "Problem: user profile section is unorganised"
Problem: user profile section is unorganised. News, project & research sections are clustered & not distinguished.

Solution: Add sections for news, projects, research & comments to user profiles.

[2018-10-19 15:30] geekyd commented on #195
@emurgobot claim

[2018-10-19 17:09] anbud commented on #191
@emurgobot claim

[2018-10-19 19:07] omar20261 commented on #190
@emurgobot done

[2018-10-19 21:47] anbud commented on #191
Done in #198.

@emurgobot done

[2018-10-20 11:38] MadanBhandari commented on #186
@emurgobot done in #199

[2018-10-20 11:42] MadanBhandari opened #200 "Problem : bad UI/UX on home route"
Problem : bad UI/UX on home route

Solution: list stuff from *all* categories on the home route and make it look nice.

[2018-10-20 12:42] gazhayes opened #201 "problem: failing tests"

[2018-10-20 16:32] anbud commented on #201
On it. :D

@emurgobot claim

[2018-10-20 17:01] anbud commented on #201
Fixed in #202.

@emurgobot done

[2018-10-21 09:07] geekyd commented on #195
Done in #203
@emurgobot done

[2018-10-22 04:15] gazhayes commented on #114
@geekyd did you do this for all content or just news?

[2018-10-22 04:15] #186 closed

[2018-10-22 04:16] #191 closed

[2018-10-22 04:16] #195 closed

[2018-10-22 04:56] geekyd commented on #200
@emurgobot claim

[2018-10-22 05:48] gazhayes opened #204 "github is acting weird today"
github is having major global problems today, comments, pull request, etc are being reset all the time. Hopefully this message actually gets through to everyone's email.

ping @anbud @geekyd @AshHimself @samuelralak @omar20261

[2018-10-22 14:44] samuelralak commented on #204
yep. felt it here as well. seems to be working on my end now

[2018-10-22 14:53] samuelralak opened #205 "problem: site stats cards text too large"
problem: the text on site stat cards are too large causing misalignment and bad UI.

solution: apply a class of `h6` on the card text

[2018-10-22 14:54] samuelralak commented on #205
@emurgobot claim

[2018-10-22 16:30] anbud commented on #204
Everything seems to be working now on my end as well. :)

[2018-10-22 17:57] geekyd commented on #204
Yeah. I felt it as well. It seems like its working now :)

[2018-10-22 18:02] geekyd commented on #200
Done in #207

@emurgobot done

[2018-10-22 18:14] geekyd opened #208 "Problem: User can create multiple projects with same name"
Problem: User can create multiple projects with same name

Solution: User should not be able to add multiple projects with same name

[2018-10-22 18:14] geekyd commented on #208
@emurgobot claim

[2018-10-22 18:29] anbud commented on #208
Isn't it better for SEO purposes to use the slug/name instead of a random id in the URL? :)

[2018-10-22 18:33] geekyd commented on #208
@anbud Yeah it definitely is better to use a name/slug for better SEO. But this can also cause problems with same slugs.
One workaround would be to add a slug like `NAME-ID`

[2018-10-22 18:41] geekyd commented on #208
I will change the issue to `User can create multiple projects with same name` & use the second solution :)

@anbud Thanks :)

[2018-10-22 18:42] anbud commented on #208
Hmm, the friendly-slugs package we're using automatically appends -1, -2, etc if the name already exists. We could use name-id, that would work as well. :)

[2018-10-22 19:02] geekyd commented on #208
Just tested friendly-slugs. As stated by Andrej above it automatically handles this situation therefore this will not be required.

Closing this

[2018-10-22 19:02] #208 closed

[2018-10-22 19:07] geekyd opened #209 "Problem: Unable to create projects in project"
Problem: Unable to create projects in project this happened after https://github.com/EmurgoHK/cardanoupdate/pull/197

Tags, build for/on cardano & the project creation is not working.
![screenshot 2018-10-23 at 12 37 07 am](https://user-images.githubusercontent.com/12807846/47313135-cb8a3300-d65b-11e8-8334-2be8f50d931e.png)

Solution: Revert #197

Ping @anbud @gazhayes @samuelralak

[2018-10-23 00:05] #200 closed

[2018-10-23 03:30] gazhayes commented on #204
https://twitter.com/CardanoGaz/status/1054313457875472384

[2018-10-23 04:02] gazhayes commented on #209
If the simplest solution (least code changes) to fix this are to revert #197 then feel free to go ahead and send a PR that reverts it. If the simplest solution is something else, that's also ok.

[2018-10-23 04:03] #204 closed

[2018-10-23 04:03] #190 closed

[2018-10-23 04:04] #189 closed

[2018-10-23 04:15] gazhayes commented on #209
Fixed in #210

[2018-10-23 04:16] samuelralak commented on #205
@emurgobot done

done in #206

[2018-10-23 04:16] #205 closed

[2018-10-23 06:59] gazhayes opened #212 "problem: cannot add new stuff from home route"
problem: cannot add new stuff from home route

solution: allow users to add new stuff from home route, maybe pop up a modal to ask them which type of thing they want to add and direct them to the right page.

[2018-10-23 07:01] gazhayes opened #213 "problem: "Headline" is used on all forms"
problem: "Headline" is used on all forms

solution: change to "Name" and set max chars to 25.

[2018-10-23 07:02] gazhayes opened #214 "problem: no RSVP instructions"
problem: RSVP on event creation doesn't have instructions

solution: change "RSVP" to "RSVP link" and set field hint to `Where should people RSVP if they want to attend this event?`

[2018-10-23 07:04] gazhayes opened #215 "problem: Social resources name is cumbersome"
problem: Social resources name is cumbersome

solution: change to "Community"

[2018-10-23 07:06] gazhayes opened #216 "problem: no type for social resources"
Problem: social resources/community items do not have a type.

solution: implement tags on social resources. Suggest the following tags to users: `meetup group` `telegram group` `forum`

related: #215

[2018-10-23 07:10] gazhayes opened #217 "problem: no Learn section"
problem: there are a lot of resources available for people to learn how to use cardano or learn about different aspects of cardano, but there's no scope for this on the site.

solution:
add a `Learn` section:

Title: 25 chars max, hint: What are users going to learn about by reading or watching this?

Content: 5000 chars max

Tags

[2018-10-23 07:13] gazhayes opened #218 "problem: no Warnings section"
Problem: users cannot add warnings of scam wallets, websites, etc.'

Solution: this should probably be similar to the projects section.

[2018-10-23 07:44] anbud commented on #217
@emurgobot claim

[2018-10-23 08:09] geekyd commented on #218
@emurgobot claim

[2018-10-23 08:40] samuelralak commented on #215
@emurgobot claim

[2018-10-23 08:40] samuelralak commented on #216
@emurgobot claim

[2018-10-23 09:05] omar20261 commented on #213
@emurgobot claim

[2018-10-23 09:07] omar20261 commented on #212
@emurgobot claim

[2018-10-23 10:55] gazhayes opened #219 "problem: content flagging is ambiguous"
problem: the flag icon can mean different things to different people.

solution: use this icon https://fontawesome.com/icons/exclamation-triangle?style=solid (or find something better) and add a tooltip or whatever onHover `Report`.

Instead of the text input, give two options: `This is spam` and `This is a scam`.

[2018-10-23 10:58] gazhayes opened #220 "problem: user stats boxes are too big"
Problem and possible solution:
<img width="710" alt="screenshot 2018-10-23 at 6 57 07 pm" src="https://user-images.githubusercontent.com/8143945/47356021-89153480-d6f5-11e8-93b7-a3f4cc7e9a58.png">

[2018-10-23 11:01] gazhayes opened #221 "problem: content boxes have different sizes"
problem: content boxes have different sizes

possible solution:

Use a wide box instead of a tall box.

Not to show all words but limited the words(eg:50 words) shown in every boxes look better and let user digest all notices in one glance, user can further click in it(put “ show more…” at the end of content) if they want to deeper understand.

<img width="688" alt="screenshot 2018-10-23 at 7 00 4

[2018-10-23 11:11] gazhayes opened #222 "problem: new accounts are not working properly"
problem: when creating a new account with email address, a few things are screwing up:

The user name:
<img width="213" alt="screenshot 2018-10-23 at 7 03 43 pm" src="https://user-images.githubusercontent.com/8143945/47356700-61bf6700-d6f7-11e8-8df6-1ec6aa88d7b6.png">

The profile page is also blank.

[2018-10-23 11:22] gazhayes opened #223 "problem: not totally clear what globe icon is for"
problem: not totally clear what the globe icon is for

<img width="676" alt="screenshot 2018-10-23 at 7 20 33 pm" src="https://user-images.githubusercontent.com/8143945/47357270-ccbd6d80-d6f8-11e8-9fee-b3c62e96eddd.png">

solution:
change to this icon: https://fontawesome.com/icons/external-link-alt?style=solid

and add a tooltip or whatever saying "go to {{link address}}"

[2018-10-23 19:35] omar20261 commented on #213
@emurgobot done

[2018-10-23 20:18] samuelralak commented on #215
@emurgobot done

done in #225

[2018-10-23 20:18] samuelralak commented on #223
@emurgobot claim

[2018-10-23 20:47] samuelralak commented on #223
@emurgobot done

done in #226

[2018-10-23 20:49] samuelralak commented on #222
@emurgobot claim

[2018-10-23 21:11] omar20261 commented on #212
@emurgobot done

[2018-10-23 21:12] omar20261 commented on #221
@emurgobot claim

[2018-10-23 21:13] omar20261 commented on #220
@emurgobot claim

[2018-10-24 00:49] #209 closed

[2018-10-24 00:49] #212 closed

[2018-10-24 00:49] #213 closed

[2018-10-24 00:49] #215 closed

[2018-10-24 04:03] gazhayes opened #228 "problem: new event title is greyed out"
problem: greyed out event title can be confusing to users
<img width="953" alt="screenshot 2018-10-24 at 12 02 43 pm" src="https://user-images.githubusercontent.com/8143945/47405582-cb398700-d784-11e8-9820-9e94916fca51.png">

[2018-10-24 04:06] gazhayes opened #229 "problem: "resources" wording not updated everywhere"
problem: `social resources` has been renamed to `community` but there are still legacy wording problems.

<img width="767" alt="screenshot 2018-10-24 at 12 04 26 pm" src="https://user-images.githubusercontent.com/8143945/47405636-1bb0e480-d785-11e8-98ab-e518f668d4f6.png">
<img width="306" alt="screenshot 2018-10-24 at 12 04 15 pm" src="https://user-images.githubusercontent.com/8143945/47405637-1bb

[2018-10-24 05:30] gazhayes opened #230 "problem: not clear to users how active the site is"
problem: it's not clear to users how active the site is, the more active it looks the more likely they are to add their own stuff.

solution: change the "new comments this month" to reflect *all* new content in the last 30 days. Comments on *everything* as well as the number of new items themselves.

SyncedCron should be used to generate this number every x minutes otherwise this will create too m

[2018-10-24 07:44] geekyd commented on #229
@emurgobot claim

[2018-10-24 07:46] gazhayes commented on #229
@geekyd good to see you here again :)

[2018-10-24 08:35] omar20261 commented on #220
@emurgobot done

[2018-10-24 13:59] anbud commented on #217
Done in #232.

@emurgobot done

[2018-10-24 15:16] anbud commented on #230
Done in #233.

@emurgobot done

[2018-10-24 15:16] anbud commented on #219
@emurgobot claim

[2018-10-24 15:43] gazhayes opened #234 "problem: not easy to embed youtube videos in "learn" content"
problem: not easy to embed youtube videos in "learn" content

solution: simplest is probably to just add a `embed a video` thing under the content form and add it to the content detail/display page.

[2018-10-24 15:49] #217 closed

[2018-10-24 15:49] #220 closed

[2018-10-24 15:49] #230 closed

[2018-10-24 17:10] omar20261 commented on #221
@emurgobot done

[2018-10-24 17:11] omar20261 commented on #234
@emurgobot claim

[2018-10-24 20:00] anbud commented on #219
Done in #236.

@emurgobot done

[2018-10-25 08:29] anbud commented on #228
@emurgobot claim

[2018-10-25 08:42] anbud commented on #228
Done in #237.

@emurgobot done

[2018-10-25 08:42] anbud commented on #214
@emurgobot claim

[2018-10-25 08:45] anbud commented on #214
Done in #238.

@emurgobot done

[2018-10-25 09:57] omar20261 commented on #234
@gazhayes after testing .. I think it's easy to embed youtube videos
can you tell me what exactly bother you about it ?

[2018-10-25 10:04] gazhayes commented on #234
Oh ok, let me check and reply :)

[2018-10-25 10:05] gazhayes commented on #221
Yeah, I was reffering to all content (site wide), especially the home route, not just the projects page.

[2018-10-25 10:45] gazhayes commented on #234
@omar20261 can you create some test content and embed one on the production server?

[2018-10-25 10:52] omar20261 commented on #234
give me the link please ..
this is test on local (the image)
![screenshot from 2018-10-25 12-50-53](https://user-images.githubusercontent.com/21290723/47495519-a7de0d00-d854-11e8-8418-32314d23c8b2.png)

just copy the embed code and paste it into the content field .. super easy

[2018-10-25 11:01] gazhayes commented on #234
Ah yeah ok.

This is too difficult for normal users, it needs to be as easy as facebook.

I guess we could generate the embed code from a youtube link or something and insert it.

Any other ideas?

[2018-10-25 11:16] anbud commented on #234
We can maybe add a 'embed video' button to the editor toolbar which would present users with a modal where they could enter the YouTube video link. That should be quite easy for users, I believe. :)

[2018-10-25 11:18] gazhayes commented on #234
Yeah, @anbud you wanna do it?

[2018-10-25 11:19] anbud commented on #234
Sure thing.

@emurgobot claim

[2018-10-25 12:52] anbud commented on #234
Done in #240.

@emurgobot done

[2018-10-25 14:08] geekyd commented on #218
Done in #241
@emurgobot done

[2018-10-25 14:17] geekyd opened #242 "problem: No tests exist for community API"
problem: No tests exist for community section

solution: Add tests for community API

[2018-10-25 14:17] geekyd commented on #242
@emurgobot claim

[2018-10-25 14:23] geekyd commented on #229
@gazhayes Thanks. Same here :)

[2018-10-25 14:29] anbud opened #244 "Problem: No client-side tests on the home route"
Problem: No client-side tests on the home route

Solution: Add appropriate client-side tests to prevent possible regressions.

[2018-10-25 14:29] anbud commented on #244
@emurgobot claim

[2018-10-26 08:10] anbud opened #245 "Problem: Tests are failing."
Problem: Tests are failing

Solution: Fix failing tests.

[2018-10-26 08:10] anbud commented on #245
@emurgobot claim

[2018-10-26 12:52] MadanBhandari opened #246 "Problem : User stats UI broken on small screen"
Problem : User stats UI broken on small screen

Solution : Update responsive layout

[2018-10-26 12:52] MadanBhandari commented on #246
@emurgobot claim

[2018-10-26 13:33] geekyd opened #247 "Problem: instruction modal doesn't hide even if user hides it forever"
Problem: instruction modal doesn't hide even if user hides it forever

![screenshot 2018-10-26 at 7 02 45 pm](https://user-images.githubusercontent.com/12807846/47569640-c249e080-d951-11e8-8ac3-587668bfc239.png)

Solution: make sure that the modal hides & is not shown to the user if the user clicks on `Never Show Again`

[2018-10-26 13:33] geekyd commented on #247
@emurgobot claim

[2018-10-26 15:34] #242 closed

[2018-10-26 15:47] geekyd commented on #247
Done in #249
@emurgobot done

[2018-10-26 15:55] devhardeep opened #250 "problem: Login with GitHub and google not working"
Need to configure GitHub and Google Login functionality.

[2018-10-26 16:16] geekyd commented on #250
Ping @gazhayes

[2018-10-26 23:12] anbud commented on #245
Done in #251.

@emurgobot done

[2018-10-27 01:29] #218 closed

[2018-10-27 01:29] #229 closed

[2018-10-27 01:30] #234 closed

[2018-10-27 01:32] gazhayes opened #252 "problem: tags are repeated"
problem:

<img width="940" alt="screenshot 2018-10-27 at 9 31 30 am" src="https://user-images.githubusercontent.com/8143945/47598197-2957ab80-d9cb-11e8-85fb-5c248b0cbba9.png">

[2018-10-27 02:42] geekyd commented on #252
@emurgobot claim

[2018-10-27 06:51] #245 closed

[2018-10-27 08:30] porcellus commented on #216
@emurgobot claim

[2018-10-27 11:57] MadanBhandari commented on #246
@emurgobot done in #253

[2018-10-27 15:06] porcellus commented on #216
@emurgobot done in #254

[2018-10-27 15:09] porcellus opened #255 "Problem: Users can add the same tags to a resource multiple times"
Solution: disable the related buttons on UI and deduplicate the tag array after normalization before submitting

[2018-10-27 15:11] porcellus opened #256 "Problem: tag mention counter incremented non-atomically"
This can cause lost mentions.
Proposal: use $inc to increment the tag mention counter

[2018-10-27 15:13] porcellus opened #257 "Problem: tag mention counter doesn't decreas when deleting resources"
Proposal: add a delete mention method and use it when deleting tagged resources

[2018-10-27 15:14] porcellus commented on #255
@emurgobot claim

[2018-10-27 15:15] geekyd commented on #255
@porcellus This will be done in https://github.com/EmurgoHK/cardanoupdate/issues/252

[2018-10-27 15:16] geekyd commented on #257
@emurgobot claim

[2018-10-27 15:38] porcellus commented on #255
I thought that was about multiple tags getting added to the DB with the same name.

[2018-10-27 15:39] porcellus commented on #256
@emurgobot claim

[2018-10-27 15:41] geekyd commented on #255
@porcellus You take care of the UI in this.
I will take care of the DB in #252. :)

[2018-10-27 15:46] gazhayes commented on #250
solution: since we don't really need this right now, just remove github and google login. Most people have facebook and there's a manual email login for people who don't.

[2018-10-27 15:48] gazhayes commented on #250
@devhardeep I updated your issue heading to make it more C4.

[2018-10-27 15:48] samuelralak commented on #250
this can be resolved in #222 to avoid conflicts

[2018-10-27 15:53] anbud commented on #256
Nice catch! :)

[2018-10-27 16:08] porcellus commented on #256
Thanks :)
@emurgobot done in #258

[2018-10-27 16:09] porcellus commented on #255
ok

[2018-10-27 17:32] porcellus commented on #255
@emurgobot done in #259

[2018-10-27 19:34] anbud commented on #244
Done in #260.

@emurgobot done

[2018-10-28 07:28] #255 closed

[2018-10-28 07:29] #256 closed

[2018-10-28 09:14] porcellus opened #261 "Problem: Proposing data for projects doesn't work"
In console it shows: proposeNewData is not defined

[2018-10-28 09:15] porcellus commented on #261
@emurgobot claim

[2018-10-28 09:32] porcellus commented on #261
@emurgobot done in #262

[2018-10-28 09:37] porcellus opened #263 "Problem: users can't see proposed data changes"
Project creators should be able to see and accept changes: this could save time both them and moderators.
Solution: update the project edit UI to show and to be able to accept/reject changes.

[2018-10-28 11:53] anbud commented on #263
@emurgobot claim

[2018-10-28 13:09] #261 closed

[2018-10-28 23:04] anbud commented on #263
Done in #264.

@emurgobot done

[2018-10-29 03:58] gazhayes opened #265 "problem: type of community is not displayed"
problem: communities can be added, but the type of community is not displayed to the end user.

solution: wherever possible, look at the uri and guess the community type (facebook, twitter, etc). Telegram uses the t.me/sdfadfs format. This should probably be done with a synced cron job.

Instead of the globe icon, use the appropriate social icon where applicable.
Telegram: https://fontawesome.com/

[2018-10-29 04:09] gazhayes opened #266 "problem: flagging button looks dangerous"
problem: the icon used to flag content makes it look like it's a warning about the content. This is a universal problem across the whole site.

For example:
<img width="967" alt="screenshot 2018-10-29 at 12 13 36 pm" src="https://user-images.githubusercontent.com/8143945/47629097-26e48580-db74-11e8-85e7-ba1a93da864d.png">

solution: replace the icon in the UI with a dropdown and put a 'report' lin

[2018-10-29 04:13] gazhayes opened #267 "problem: content boxes on home route are not uniform in size"
problem: content boxes on the home route are not uniform in size

solution: use a fixed size and proportion for content boxes (it can change based on screen size but should be uniform)

[2018-10-29 04:15] #216 closed

[2018-10-29 04:15] #244 closed

[2018-10-29 04:15] #246 closed

[2018-10-29 04:15] #247 closed

[2018-10-29 04:15] #263 closed

[2018-10-29 04:20] gazhayes opened #268 "problem: inconsistent uppercase in `add new` modal"
problem:
<img width="461" alt="screenshot 2018-10-29 at 12 19 03 pm" src="https://user-images.githubusercontent.com/8143945/47629239-f94c0c00-db74-11e8-84c7-046ab5a596ad.png">

[2018-10-29 04:23] gazhayes opened #269 "problem: no information when user search has no content"
problem: no information when user search has no content

solution: show something like "Sorry, we couldn't find anything" when users search but there's no content matching the search.

[2018-10-29 04:24] gazhayes opened #270 "problem: can't search from home route"
problem: can't search from home route

[2018-10-29 04:26] gazhayes opened #271 "problem: can't search by tag"
problem: users can't click on a tag to display everything related to that tag.

[2018-10-29 04:28] gazhayes opened #272 "problem: adding dates and times to events is really annoying"
problem: adding dates and times to events is really annoying

solution: I really don't know, hopefully someone has some ideas

[2018-10-29 04:33] gazhayes opened #273 "problem: no tag suggestions when adding new tags"
problem: when users start adding a new tag, there's no typeahead or anything to suggest existing tags. This is a problem because users will create a mess of tags if there aren't suggestions of tags that other people have used.

[2018-10-29 04:54] MadanBhandari commented on #268
@emurgobot claim

[2018-10-29 05:06] MadanBhandari commented on #268
@emurgobot done in #274

[2018-10-29 05:13] MadanBhandari commented on #266
@emurgobot claim

[2018-10-29 05:15] #268 closed

[2018-10-29 06:11] MadanBhandari commented on #266
@emurgobot done in #275

[2018-10-29 06:12] MadanBhandari commented on #269
@emurgobot claim

[2018-10-29 06:16] AshHimself commented on #270
@emurgobot claim

[2018-10-29 06:18] AshHimself commented on #270
@gazhayes - are you wanting a search in the header to just search projects? or everything? papers, events etc.

[2018-10-29 06:45] gazhayes commented on #270
Definitely global search on the home route, i guess that could just be deployed site wide and filter it by projects/events/whatever on the appropriate routes

[2018-10-29 07:06] gazhayes opened #276 "problem: no summary for learning resources"
problem: it's not clear what each learning resource is about.

<img width="1053" alt="screenshot 2018-10-29 at 3 06 21 pm" src="https://user-images.githubusercontent.com/8143945/47634349-37085f00-db8c-11e8-9e20-0037b5f4d144.png">

solution: add a summary field to learning resources and display this on the item's tile. This must be retroactively available on stuff that already exists in the databas

[2018-10-29 07:07] #266 closed

[2018-10-29 07:09] gazhayes opened #277 "problem: 'warnings' section isn't very clear"
problem: people are indicating that 'warnings' doesn't mean much to them and they aren't sure what it's for.

solution: change 'warnings' to 'scams'. Ensure that all related stuff in the UI is updated with this new word.

[2018-10-29 07:33] #269 closed

[2018-10-29 08:11] porcellus commented on #271
@emurgobot claim

[2018-10-29 08:43] porcellus commented on #271
Should this be global or should it only display item of one type?

[2018-10-29 08:49] FC369 opened #279 "Problem: Displayed columns in Homepage are odd"
Displayed columns in homepage was 5 columns, user felt odd when browsing as seems there was one column missing

<img width="1021" alt="1029-ux-only-5-columns" src="https://user-images.githubusercontent.com/44566386/47638777-848bc880-db9a-11e8-80af-e80ebeae6391.png">

[2018-10-29 08:52] MadanBhandari commented on #276
@emurgobot done in #280

[2018-10-29 08:54] MadanBhandari commented on #279
This is because in home route, there is limit for 5 items, making this limit to 6 should fix this.

[2018-10-29 08:55] FC369 opened #281 "Problem: Not enough wordcounts for Title"
"Title" of content was over limited, which is not enough to name content specifically.

<img width="691" alt="1029-ux-title-limited-words" src="https://user-images.githubusercontent.com/44566386/47639046-50fd6e00-db9b-11e8-9499-939562973468.png">

[2018-10-29 09:09] FC369 opened #282 "Problem: Add difficulty level for learning content"
So users (especially non-tech users) know the level to study, eg: Beginner, Intermediate, Advanced

Difficulty level will be calculated based on a rating of comparison by user (eg: Is this content "A" more difficult or easier than content "B"?)

<img width="1006" alt="1029-ux-difficult-level" src="https://user-images.githubusercontent.com/44566386/47639917-5491f480-db9d-11e8-90ea-67083c86a027.png"

[2018-10-29 09:12] FC369 opened #283 "Problem: Display Difficulty level for learning content"
show an icon outside of the content page

<img width="739" alt="1029-ux-description" src="https://user-images.githubusercontent.com/44566386/47640264-2e208900-db9e-11e8-9399-e2188feb8b0b.png">

ref:
<img width="759" alt="1029-ux-difficult-level-icon" src="https://user-images.githubusercontent.com/44566386/47640190-0f21f700-db9e-11e8-9cbd-cfad0b9578b2.png">

[2018-10-29 09:32] gazhayes commented on #281
Let's go to 90 characters and see what happens.

[2018-10-29 09:33] #276 closed

[2018-10-29 09:34] gazhayes opened #284 "problem: weird layout on learning page"
problem: weird layout on learning page

<img width="1010" alt="screenshot 2018-10-29 at 5 33 46 pm" src="https://user-images.githubusercontent.com/8143945/47641395-de8f8c80-dba0-11e8-8216-6e161f453f35.png">

[2018-10-29 09:36] gazhayes opened #285 "problem: summaries are too long"
problem: we need to be able to display the full summary in the tiles on the home route and the other pages.

At the moment, summaries are limited to 500 chars for most things, I guess this should be more like 260 and then we should be able to fit it.

[2018-10-29 09:38] MadanBhandari opened #286 "Problem : Test are failing"
Problem : Test are failing

ping @anbud

[2018-10-29 09:39] MadanBhandari commented on #285
@emurgobot claim

[2018-10-29 09:41] anbud commented on #286
Shall be fixed.

@emurgobot claim

[2018-10-29 09:43] MadanBhandari commented on #281
@emurgobot claim

I'll send single PR for this and #285

[2018-10-29 09:56] FC369 opened #287 "Problem: Missing breadcrumb navigation"
Missing navigation for pages, user may not know where are they

<img width="1169" alt="1029-ux-missing-navigation" src="https://user-images.githubusercontent.com/44566386/47642516-cec57780-dba3-11e8-946a-b5aa7b36e194.png">

eg:
<img width="992" alt="1029-ux-missing-navigation-eg" src="https://user-images.githubusercontent.com/44566386/47642542-dedd5700-dba3-11e8-9028-e3d8cb5f62fd.png">

[2018-10-29 10:17] MadanBhandari commented on #281
@emurgobot done in #288

[2018-10-29 10:18] MadanBhandari commented on #285
@emurgobot done in #288

[2018-10-29 10:29] FC369 opened #289 "Problem: Icon for missing source code is cumbersome"
problem: this icon is redundant/confusing with the github icon.

<img width="689" alt="1029-ux- -no-need-remark-missing link-non-opensource" src="https://user-images.githubusercontent.com/44566386/47643160-8eff8f80-dba5-11e8-92cb-5f9b68b84a25.png">

<img width="878" alt="1029-ux- -no-need-remark-missing link-non-opensource-2" src="https://user-images.githubusercontent.com/44566386/47643188-a50d500

[2018-10-29 10:42] gazhayes commented on #289
I suggest that the best solution is as follows:

When there's no source repository, remove the github icon from the card and use a github icon with a red line through it instead. The help modal can stay the same then. Adding a github repo can be done through the item's detail page (users probably aren't going to be adding this data point from the home route or the projects route anyway).

I'll mak

[2018-10-29 10:42] MadanBhandari commented on #279
@emurgobot claim

[2018-10-29 10:43] #281 closed

[2018-10-29 10:43] #284 closed

[2018-10-29 10:43] #285 closed

[2018-10-29 10:44] gazhayes commented on #287
@AshHimself I think you've done something like this before?

[2018-10-29 10:49] AshHimself commented on #287
Yeh checkout the blockrazor repo. It has a breadcrumbs component.

I actually implemented this in flowrouter recently and used the routes name to populate what is in the breadcrumbs. Could be a more elegant solution though :)

[2018-10-29 10:53] MadanBhandari commented on #279
@emurgobot done in #291

[2018-10-29 10:54] MadanBhandari commented on #277
@emurgobot claim

[2018-10-29 10:56] anbud commented on #286
Done in #292.

@emurgobot done

[2018-10-29 11:00] gazhayes commented on #289
![nogithub](https://user-images.githubusercontent.com/8143945/47645724-d2113100-dbac-11e8-8e1a-44a5ff725256.png)
![nogithub-300px](https://user-images.githubusercontent.com/8143945/47645725-d2113100-dbac-11e8-84c8-27d386fd4965.png)

[2018-10-29 11:00] #279 closed

[2018-10-29 11:03] MadanBhandari commented on #277
@gazhayes do I need to update urls as well ?

[2018-10-29 11:04] higunjan opened #293 "In Project section comment posted by name not display."
@gazhayes
Problem: Project posted by No name display

![cardano](https://user-images.githubusercontent.com/6925531/47645970-7dfc5180-db98-11e8-9e07-d312765205c2.png)

[2018-10-29 11:07] MadanBhandari commented on #293
I believe this is the same issue as #222

[2018-10-29 11:08] higunjan commented on #293
Need to resolve of find another one ?

[2018-10-29 11:14] MadanBhandari commented on #293
You can start working on any unclaimed issues (or new). If you believe both the issue are same, close this one and claim #222 and start working.

[2018-10-29 11:16] higunjan opened #294 "problem: cannot upload PDFs when adding Research items"
I found issues in Upload APIs I think, Not sure
Research > New Research paper > PDF allow only
Problem : When I try to upload .pdf file then show me error like " Internal server error ".

![pdf upload issues found](https://user-images.githubusercontent.com/6925531/47646452-fa436480-db99-11e8-8f82-0e03a03ec836.png)

I found issues from back-end side related to path.

[2018-10-29 11:34] MadanBhandari opened #295 "Problem : Cool Stuff & Red Flags doesn't make sense on Scams (/warnings)"
Problem : Cool Stuff & Red Flags doesn't make sense on Scams
Solution : Remove Cool Stuff & Red Flags and add comments only

[2018-10-29 11:36] gazhayes commented on #293
Yeah the root problem here is #222, fixing that will fix this one. I'll close this now.

[2018-10-29 11:36] #293 closed

[2018-10-29 11:38] samuelralak commented on #222
submitting a PR for this one today

[2018-10-29 11:38] samuelralak commented on #222
@emurgobot claim

[2018-10-29 11:38] gazhayes commented on #294
@higunjan I updated the problem statement to make it C4 compliant.

[2018-10-29 11:39] gazhayes commented on #294
This is working on production, it's just your local file paths (so it's not actually a problem). If it was on production, it would be a valid problem.

[2018-10-29 11:39] #294 closed

[2018-10-29 11:42] MadanBhandari commented on #223
@emurgobot claim

[2018-10-29 11:48] gunjan-bvi commented on #294
@gazhayes True. You provided the static path in code, so I assume on production it will be static even.

Except you, someone else tried in the different system then in other systems you've to change everywhere in API's file where you've written.

[2018-10-29 11:59] MadanBhandari commented on #223
@emurgobot done in #296

[2018-10-29 12:01] gunjan-bvi opened #297 "Event > End is less than start date that's wrong logically"
By Mistake Please delete

[2018-10-29 12:03] #297 closed

[2018-10-29 12:03] higunjan opened #298 "Event Create - End Date is greater than Start Date, which is wrong"
Problem Descriptions:
In event page, End Date is greater than Start date I found. Attached is a screenshot of that.

![error- end-start date](https://user-images.githubusercontent.com/29397492/47648587-750f7e00-dba0-11e8-83b0-647239c6a286.png)

[2018-10-29 12:05] MadanBhandari commented on #272
We can use some date range selector plugin with nice UI.

Check this out : http://www.daterangepicker.com/#examples

[2018-10-29 12:09] MadanBhandari commented on #298
@higunjan Check #272

I believe implementing date range picker would solve both the problems.

[2018-10-29 12:11] higunjan commented on #298
@MadanBhandari Fine.

[2018-10-29 12:11] MadanBhandari commented on #298
@higunjan I have updated the title of this issue to make compatible with C4, check already exiting (open or closed) issues for reference.

[2018-10-29 13:10] porcellus commented on #271
@emurgobot done in #299

[2018-10-29 13:17] porcellus commented on #265
@emurgobot claim

[2018-10-29 13:19] porcellus commented on #265
My proposal is to store the guessed type at creation and update at edits. A synced cron job could be useful for migration.

[2018-10-29 14:11] #223 closed

[2018-10-29 14:11] #271 closed

[2018-10-29 15:57] MadanBhandari commented on #277
@emurgobot done in #300

[2018-10-29 16:04] MadanBhandari commented on #289
@emurgobot claim

[2018-10-29 16:20] porcellus commented on #265
@emurgobot done in #301

[2018-10-29 16:21] porcellus opened #302 "Problem: code duplication for lists"
The code is duplicated for lists: we have the code both in normal listing/search and in the tag search. I extracted it into a component but didn't change the existing ones in the same issue.
Solution: make normal search use the extracted list components.

[2018-10-29 16:23] MadanBhandari commented on #289
@emurgobot done in #303

[2018-10-29 16:31] MadanBhandari commented on #272
I am adding [this plugin](http://www.daterangepicker.com/#example2) for date range picker, let's see how it goes.

@emurgobot claim

[2018-10-29 16:46] porcellus commented on #302
@emurgobot done in #304

[2018-10-29 16:46] porcellus commented on #295
@emurgobot claim

[2018-10-29 17:03] higunjan commented on #222
@emurgobot claim

[2018-10-29 17:19] porcellus commented on #295
@emurgobot done in #306

[2018-10-29 17:29] staronline1985 opened #307 "Project Instructions modal pop every time refresh page."
Problems:  Instructions modal pop every time refresh page , even click on Never Show Again.

Solution :  When user click on  "Never Show Again" , it should be save value according to user wise and check accordingly .

[2018-10-29 17:35] staronline1985 opened #308 "problem: name input box doesn't have max length"
Problem : - Project name text box should have max length.

Solution : Set max-length attribute in text box

![image](https://user-images.githubusercontent.com/11016784/47668482-95563180-dbce-11e8-8bc9-27bbbf5c6ea1.png)

[2018-10-29 17:37] staronline1985 commented on #308
@emurgobot claim

[2018-10-29 17:37] staronline1985 commented on #307
@emurgobot  claim

[2018-10-29 18:08] #307 closed

[2018-10-29 18:16] staronline1985 opened #310 "My Profile Showing Blank Page"
Problem : When Click on profile top right drop down menu , showing blank page.

Solution : Should show the current user detail

[2018-10-29 18:19] staronline1985 commented on #310
@emurgobot  claim

[2018-10-29 23:53] anbud commented on #273
Done in #311.

@emurgobot done

[2018-10-30 01:52] gazhayes commented on #310
This is related to #222

[2018-10-30 01:54] gazhayes commented on #308
@staronline1985 there is already a max length set. Have you synced with master?

[2018-10-30 01:55] gazhayes commented on #308
@staronline1985 Yeah you're right. Good catch.

[2018-10-30 02:11] gazhayes opened #312 "problem: missing source code handling is inconsistent"
problem: missing source code handling is not clear

This problem should be read in reference to #289

This is now redundant:
<img width="322" alt="screenshot 2018-10-30 at 9 59 41 am" src="https://user-images.githubusercontent.com/8143945/47690866-bfd5d800-dc2a-11e8-8952-9662b7e4e5d4.png">

The "no github" icon should trigger this modal instead of the "add repository" modal:
<img width="542" alt="

[2018-10-30 02:24] gazhayes opened #313 "problem: no description for each section"
problem: users might be a bit confused about what each section is actually for.

solution: add a description to each section.

projects:
`Projects that are built on or for Cardano. This includes everything from developer libraries to user wallets.`

events:
`Any Cardano related events, anywhere in the world.`

research:
`Peer reviewed academic papers that are related to Cardano`

scams:
`Scam webs

[2018-10-30 02:29] gazhayes opened #314 "problem: site doesn't look awesome enough"
problem: site doesn't look awesome enough

solution:
use this banner somehow

![banner](https://user-images.githubusercontent.com/8143945/47691873-b8183280-dc2e-11e8-86e3-0aef49b78df9.png)

[2018-10-30 02:31] #265 closed

[2018-10-30 02:31] #273 closed

[2018-10-30 02:31] #277 closed

[2018-10-30 02:31] #286 closed

[2018-10-30 02:31] #289 closed

[2018-10-30 02:31] #295 closed

[2018-10-30 02:31] #302 closed

[2018-10-30 03:16] gazhayes commented on #250
ping @samuelralak this and #222 are kind of urgent now :s

[2018-10-30 03:17] gazhayes commented on #272
Yeah that looks like it will be much better

[2018-10-30 03:34] geekyd commented on #252
I will be sending a PR for this soon.

[2018-10-30 05:19] MadanBhandari commented on #222
Is this fixed on #305

ping @gazhayes @samuelralak @higunjan

[2018-10-30 05:29] gazhayes opened #315 "problem: users profile pictures are not used"
problem: users profile pictures are not used

After uploading a new profile picture the default gravatar is still used in the UI.

[2018-10-30 05:45] higunjan commented on #314
@emurgobot claim

[2018-10-30 06:16] gazhayes commented on #314
@higunjan when you are pretty sure you have resolved an issue, you can do `@emurgobot done` and it will flag it as done so that the issue creator can check it on production and close the issue.

[2018-10-30 06:18] gunjan-bvi commented on #314
Sure will take care
@emurgobot  done

[2018-10-30 06:19] higunjan commented on #314
@emurgobot done

[2018-10-30 06:22] gazhayes opened #317 "problem: event dates for upcoming events are hard to parse"
problem: event dates for upcoming events are hard to parse

<img width="317" alt="screenshot 2018-10-30 at 2 18 09 pm" src="https://user-images.githubusercontent.com/8143945/47699814-16550d80-dc4f-11e8-8048-7b32d01ecce4.png">

solution: use momentjs to make the dates for *upcoming* events very easy to read, e.g. `starts in 3 hours`. I guess the cutoff point is less than 48 hours, if it's more than

[2018-10-30 06:46] MadanBhandari commented on #272
@emurgobot done in #319

[2018-10-30 06:51] MadanBhandari commented on #313
@emurgobot claim

[2018-10-30 06:52] AshHimself commented on #287
I would be honored!

@emurgobot claim

[2018-10-30 06:53] MadanBhandari commented on #313
@gazhayes do this needs to be added on home route as well ?

[2018-10-30 06:58] #252 closed

[2018-10-30 06:58] #314 closed

[2018-10-30 07:00] higunjan commented on #315
@emurgobot claim

[2018-10-30 07:00] gazhayes commented on #287
I feel like github needs more varied emoticons so that I can express my emotions better.

[2018-10-30 07:04] AshHimself commented on #287
haha I agree.. the giphy plugin on slack is amazing for this.

[2018-10-30 07:07] #272 closed

[2018-10-30 07:09] gazhayes opened #321 "problem: can't add events that are only on a single day"
problem: can't add events that are only on a single day, they have to be multi-day for the date picker to work.

solution: not sure, maybe @MadanBhandari has some ideas.

In the worst case, we could use a date picker and then ask the user for the start and end time separately

[2018-10-30 07:10] FC369 opened #322 "Problem: Location suggestion bar doesn't work"
It worked when user creating the event at first time, then it showed nothing after the second edit

<img width="1207" alt="1030-ux-no-suggestion-for-second-edit" src="https://user-images.githubusercontent.com/44566386/47701766-e826fc00-dc55-11e8-8466-46b402f50652.png">

[2018-10-30 07:12] FC369 opened #323 "Problem: Confusing usage of 'Eye' icon"
This icon only available in "event"

User doesn't know what will happen when it is "watched", eg: where watched items were stored

<img width="1307" alt="1030-ux-cofusing-eye-icon" src="https://user-images.githubusercontent.com/44566386/47701883-3d630d80-dc56-11e8-831b-c1951410480a.png">

[2018-10-30 07:16] geekyd commented on #317
@emurgobot claim

[2018-10-30 07:25] FC369 opened #325 "Problem: "Event" RVSP link isn't active"
The link appeared as text but not an active link to the website, which is not convenient

<img width="1328" alt="1030-ux-rvsp-link-not-working-1" src="https://user-images.githubusercontent.com/44566386/47702476-fb3acb80-dc57-11e8-9f92-123727d3f9ec.png">

[2018-10-30 07:28] MadanBhandari commented on #325
@emurgobot claim

[2018-10-30 07:28] #321 closed

[2018-10-30 07:30] geekyd commented on #317
@MadanBhandari Sure :)

[2018-10-30 07:30] FC369 opened #326 "Problem: "Event" location link is not active"
The location shown as text only, not directly to google map

<img width="966" alt="1030-ux-location-link-not-working" src="https://user-images.githubusercontent.com/44566386/47702673-a9467580-dc58-11e8-9fc7-f15723446852.png">

[2018-10-30 07:35] MadanBhandari commented on #323
Or we can add follow button, I think follow would make more sense on this for everyone instead of eye icon or watch/unwatch

[2018-10-30 07:37] FC369 opened #327 "Problem: No date filtering for Project/Research search bar"
eg: search by latest date/oldest date, for user to find content easier

<img width="1272" alt="1030-ux-search-bar-filtering" src="https://user-images.githubusercontent.com/44566386/47702940-7cdf2900-dc59-11e8-8bac-5ebcdaaa1ead.png">

[2018-10-30 07:45] MadanBhandari commented on #313
@emurgobot done in #328

[2018-10-30 07:50] #313 closed

[2018-10-30 07:51] porcellus commented on #312
@emurgobot claim

[2018-10-30 07:56] MadanBhandari commented on #326
@emurgobot
I will send single PR for this and #325

[2018-10-30 08:02] geekyd commented on #317
@MadanBhandari I'm unable to reproduce the issue, do you know how to reproduce it ?

[2018-10-30 08:03] MadanBhandari commented on #326
@emurgobot claim

[2018-10-30 08:06] MadanBhandari commented on #326
@emurgobot done in #329

[2018-10-30 08:06] MadanBhandari commented on #325
@emurgobot done in #329

[2018-10-30 08:10] MadanBhandari commented on #317
It gives me January 1, 1970 5:30 AM date for everything :( Just add new event and go back to `/events` and check newly created event card

[2018-10-30 08:13] MadanBhandari commented on #322
It was working as before earlier now I am getting this error :

[2018-10-30 08:17] geekyd commented on #317
That's strange. It works for me. However the event edit has stopped working for me after adding the daterangepicker. Fixing the edit functionality

[2018-10-30 08:27] gazhayes opened #331 "problem: missing assets when direct loading some pages"
problem: when going to some pages directly instead of following a link, some assets are missing (e.g. the header image).

Here's an example of https://cardanoupdate.space/events/benjamin-soong-ledger-best-security-practices-for-institutional-investors

<img width="1494" alt="screenshot 2018-10-30 at 4 26 59 pm" src="https://user-images.githubusercontent.com/8143945/47705150-a485bf80-dc60-11e8-88a1

[2018-10-30 08:33] MadanBhandari commented on #331
@emurgobot claim

[2018-10-30 08:47] MadanBhandari commented on #331
@emurgobot done in #332

[2018-10-30 08:50] higunjan commented on #315
I checked issue, when anything upload in images folder then meteor restart application so, uploaded image data removed from tag and load previous database data.

I've an idea for not restarting application when changes into `client` and `public` folder. We've to run application using `meteor --once`

Does any one have proper idea how to stop restarting app when upload in `images` folder?

[2018-10-30 08:56] porcellus commented on #312
@emurgobot done in #333

[2018-10-30 08:58] porcellus commented on #327
@emurgobot claim

[2018-10-30 09:03] MadanBhandari opened #334 "Problem : Report link UI isn't uniform across website"
Problem : Report link UI isn't uniform across website
Solution : Update UI/UX for report link everywhere like in Learning cards on home page

[2018-10-30 09:04] MadanBhandari commented on #334
@emurgobot claim

[2018-10-30 09:19] gazhayes opened #337 "problem: tests are failing"

[2018-10-30 09:41] geekyd opened #338 "problem: user cannot remove tags in edit mode"
problem: user cannot remove tags in edit mode

![screenshot 2018-10-30 at 3 11 17 pm](https://user-images.githubusercontent.com/12807846/47709350-160c4080-dc56-11e8-93ae-d59d53438133.png)

solution: show already added tags in the field & allow users to remove them

[2018-10-30 09:41] geekyd commented on #338
@emurgobot claim

[2018-10-30 09:47] geekyd commented on #257
Done in #339

@emurgobot done

[2018-10-30 09:49] geekyd opened #340 "Problem: events are not sorted according to start date"
Problem: events are not sorted according to start date

solution: sort events by start date

[2018-10-30 09:49] geekyd commented on #340
@emurgobot claim

[2018-10-30 09:54] gazhayes opened #341 "problem: regression caused by #333"
problem: there's a regression caused by #333

learning resources summary is not displayed on card

This affects the home route and the learn route

<img width="928" alt="screenshot 2018-10-30 at 5 53 38 pm" src="https://user-images.githubusercontent.com/8143945/47710080-cb49f300-dc6c-11e8-880a-1623df825ec5.png">

Also the `report` link should be in a menu (with elipses).

solution: copy/paste rele

[2018-10-30 09:56] gazhayes commented on #341
I think this could be a regression caused by #333 whoever does this please check, copy/pasting code is probably the simplest solution.

[2018-10-30 10:00] gazhayes commented on #341
ping @porcellus you might want to grab this if you have time

[2018-10-30 10:02] #257 closed

[2018-10-30 10:02] #312 closed

[2018-10-30 10:02] #317 closed

[2018-10-30 10:02] #325 closed

[2018-10-30 10:02] #326 closed

[2018-10-30 10:02] #331 closed

[2018-10-30 10:05] higunjan commented on #315
@emurgobot done

[2018-10-30 10:07] gazhayes commented on #341
I'm just double checking, I think I might have assumed too much.

[2018-10-30 10:09] gazhayes commented on #341
Yep, it's a regression.

[2018-10-30 10:12] gazhayes opened #343 "problem: site isn't great on mobile"
problem: site isn't great on mobile

solution: everyone log any UI issues or anything that can be improved on mobile.

[2018-10-30 10:32] #340 closed

[2018-10-30 10:38] higunjan commented on #322
I think whatever api_key used that account not set with billing account. You must have to set billing account for multiple requests per day for google APIs. Correct me If I'm wrong.

[2018-10-30 10:41] gazhayes commented on #315
This doesn't appear to be fixed.

<img width="1033" alt="screenshot 2018-10-30 at 6 40 47 pm" src="https://user-images.githubusercontent.com/8143945/47712708-60e88100-dc73-11e8-8f7e-70a5488fe6a3.png">

[2018-10-30 10:42] porcellus commented on #341
@emurgobot claim

[2018-10-30 10:43] porcellus commented on #341
sorry, I'll look into it.

[2018-10-30 10:43] gazhayes commented on #322
Ah yeah. API limit. I'll do something about this later.

[2018-10-30 10:44] gazhayes commented on #341
No worries, happens sometimes.

[2018-10-30 10:49] higunjan commented on #315
@gazhayes Can try to edit profile and upload new image and try again.

Else I've to check your image path, As I raised question for static path in `imports/api/uploader/method.js` so, how front-end side you've bind.

[2018-10-30 10:50] anbud commented on #337
@emurgobot claim

[2018-10-30 10:55] porcellus commented on #327
@emurgobot done in #345

[2018-10-30 10:56] porcellus commented on #341
@emurgobot done in #346

[2018-10-30 11:01] porcellus opened #347 "Problem: tag input too wide on mobiles /projects"
It goes off screen
![image](https://user-images.githubusercontent.com/1129990/47713887-9cffef80-dc3b-11e8-96db-75e06b1a5b70.png)

[2018-10-30 11:03] higunjan opened #348 "Problem: mobile side-bar issue."
Description of Problem: In mobile view of web app, when side menu open and user try to click on any tab ( project, event, resource ) then side-menu not closed.

![mobile view of front page](https://user-images.githubusercontent.com/6925531/47713936-75bc1900-dc61-11e8-81f5-a3ee38e04df9.png)

[2018-10-30 11:05] porcellus opened #349 "Problem: sort selector makes the first item thinner in lists"
It's inside the list and makes the first item thinner than the rest
![image](https://user-images.githubusercontent.com/1129990/47714086-2ca59e00-dc3c-11e8-8cf8-80b7dc646366.png)

[2018-10-30 11:05] higunjan commented on #315
twice checked.
@emurgobot done

[2018-10-30 11:05] higunjan commented on #315
@emurgobot done

[2018-10-30 11:06] higunjan commented on #315
@emurgobot claim

[2018-10-30 11:07] higunjan commented on #315
@emurgobot done
Ref comment: https://github.com/EmurgoHK/cardanoupdate/issues/315#issuecomment-434254074

[2018-10-30 11:07] porcellus opened #350 "Problem: sidebar doesn't close when it should"
It should close when clicking off it or after the selected page opens

[2018-10-30 11:11] higunjan commented on #350
Please refer closed and open issues before posting, related to #348

[2018-10-30 11:12] cathfung opened #351 "Problem: "Report" Icon is not hidden and not consistence"
All other report options of "Projects", "Event", "Reseach" were shown as this icon,

<img width="1009" alt="1030-ux-learning-content-report-icon-2" src="https://user-images.githubusercontent.com/44600923/47714479-f423b580-dc77-11e8-93ef-ff227441d63b.png">

only report option of "Learn" content shown as an expression mark icon.

<img width="1063" alt="1030-ux-learning-content-report-icon" src="http

[2018-10-30 11:16] cathfung commented on #351
Problem recorded in #341

[2018-10-30 11:16] #351 closed

[2018-10-30 11:17] porcellus commented on #349
@emurgobot claim

[2018-10-30 11:36] higunjan commented on #348
@emurgobot claim

[2018-10-30 11:39] porcellus commented on #267
@emurgobot claim

[2018-10-30 11:44] higunjan commented on #348
@emurgobot done

[2018-10-30 11:57] higunjan commented on #347
@emurgobot claim

[2018-10-30 12:03] MadanBhandari commented on #334
@emurgobot done in #354

[2018-10-30 12:18] porcellus commented on #267
@emurgobot done in #355

[2018-10-30 12:42] higunjan commented on #347
@emurgobot done

[2018-10-30 12:54] #349 closed

[2018-10-30 15:51] anbud commented on #337
Done in #357.

@emurgobot done

[2018-10-30 15:52] anbud commented on #322
Yap, that's one of my keys from a random app, I'm pretty sure it doesn't have any billing set up. :)

[2018-10-30 15:54] anbud commented on #338
Hmm, this one was working last time I checked yesterday. When you're there, add some WDIO (UI) tests if possible, as I believe the tagging system is not tested so regressions occur. :)

[2018-10-30 15:59] #334 closed

[2018-10-30 17:42] #308 closed

[2018-10-30 18:01] staronline1985 opened #358 "Problem : [/login] there no way navigate to home page ."
Problem :  After "sign In" button click , there are not way to navigate again on home screen

Solution : Should be home icon or link so easily navigate to home page.

[2018-10-30 18:01] staronline1985 commented on #358
@emurgobot  claim

[2018-10-30 19:50] porcellus opened #359 "Problem code duplication for research and event lists"
Solution: Extract common code into a component like other lists

[2018-10-30 19:50] porcellus commented on #359
@emurgobot claim

[2018-10-30 20:09] porcellus commented on #267
It looks like I missed some parts. I didn't think titles or addresses would be this long :) (just checked on production)
@emurgobot claim

[2018-10-30 20:42] porcellus commented on #267
There is a problem with titles: they can be so long that making other content the same height introduces lots of empty space:
![image](https://user-images.githubusercontent.com/1129990/47749087-a5cce180-dc8c-11e8-9c5d-e82e90659634.png)
I propose allowing to show only 1 line of the title with ellipses

[2018-10-30 21:35] porcellus commented on #359
@emurgobot done in #360

[2018-10-30 21:39] #347 closed

[2018-10-30 21:42] porcellus opened #361 "Problem: Validation text and hint mismatch for learning summary"
The hint says I have a few characters left, yet it's not validated.
![image](https://user-images.githubusercontent.com/1129990/47752538-03fdc280-dc95-11e8-801e-9f2d2579f040.png)

[2018-10-30 21:42] porcellus commented on #361
@emurgobot claim

[2018-10-30 21:47] porcellus commented on #361
@emurgobot done in #362

[2018-10-30 23:51] anbud commented on #267
Yap, one-line title with ellipsis should do the trick, it'll look better. Probably, you can display the whole title on hover or something as well.

[2018-10-31 02:34] gazhayes commented on #315
Ok, this isn't fixed. In production, the /images directory is served statically in a separate process. Images must be uoloaded to the correct directory. I suggest reverting all these changes. I have't checked amd I'm writing this on my phone but I'm guessing there aren't enough comments in this part of the codebase explaining what it's doing and why. Ping @anbud to review all commits associated wi

[2018-10-31 02:55] gazhayes opened #363 "problem: statistics use too much space on mobile"
problem: statistics (on home route) use too much space on mobile, it takes up the whole screen.

solution: maybe just show users online (and make it much smaller), or maybe someone will think of something better.

[2018-10-31 03:03] gazhayes commented on #267
Actually on second thoughts, the real problem here is that the layout looks weird when cards are different sizes, especially on the home route where everything is delineated by their catagory. But instead of that we could just give each box some indication of which catagory it is (project, event, whatever). Then the problem simply becomes a matter of how to best lay out these cards of different si

[2018-10-31 03:54] MadanBhandari commented on #323
@emurgobot claim

[2018-10-31 05:29] MadanBhandari commented on #323
@emurgobot done in #364

[2018-10-31 05:29] MadanBhandari commented on #363
@emurgobot done

[2018-10-31 05:30] MadanBhandari commented on #363
@emurgobot claim

[2018-10-31 05:50] MadanBhandari commented on #363
@emurgobot done in #365

[2018-10-31 07:42] AshHimself commented on #270
Yeh roger that mate.. i'll have a PR inbound shortly on this. oi @emurgobot do not unclaim me.

[2018-10-31 07:58] porcellus commented on #267
As an immediate solution, I submitted a PR for this since it was already done and I'll start looking for a different layout that would work better with different card sizes.

[2018-10-31 08:18] porcellus commented on #267
What I think we would need here is a "masonry" layout (like in https://masonry.desandro.com/layout.html) with properly differentiated cards.
Cards: As a first try, I think we should start with an icon in the title (we already have those in the sidebar) and a different border color.
Layout: I think keeping the same width with varying height would look great, making the layout simpler. I think the b

[2018-10-31 08:31] porcellus commented on #267
I think this works well: https://codepen.io/andybarefoot/pen/QMeZda if we don't want the full masonry library I linked first.

[2018-10-31 08:31] porcellus commented on #250
@emurgobot claim

[2018-10-31 08:33] #323 closed

[2018-10-31 08:33] #363 closed

[2018-10-31 08:34] #327 closed

[2018-10-31 08:38] porcellus commented on #250
@emurgobot done in #368

[2018-10-31 08:44] gazhayes opened #369 "problem: home route layout isn't great"
problem: home route layout isn't great on desktop and is pretty bad on mobile

possible solution:
Remove the horizontal dividers and headings for each section. Add a bar (something like what's already on 'event' cards) specifying which type of card each one is. A different color can be used for each to make it easy for users to distinguish between them.

[2018-10-31 08:45] geekyd commented on #369
@emurgobot claim

[2018-10-31 08:46] gazhayes commented on #369
@geekyd you probably already thought about this but please use if statements (or whatever) so that we can use the existing card layouts etc without duplicating them to make them different on home vs other routes.

[2018-10-31 08:48] MadanBhandari commented on #369
What's happening with @emurgobot :/

[2018-10-31 08:50] gazhayes opened #370 "problem: add new button is out of place"
problem: add new button is out of place

solution: move the button to the top-right of the title bar on desktop and make the button full width on mobile (but put it *below* the statistics box)

[2018-10-31 08:52] MadanBhandari commented on #370
@emurgobot claim

[2018-10-31 08:55] gazhayes opened #371 "Problem: nothing to distinguish moderators from normal users"
Problem: nothing to distinguish moderators from normal users

solution: if user is moderator, add an appropriate icon next to their name with a tooltip or popover `Moderator`.

[2018-10-31 08:58] gazhayes opened #372 "problem: waiting for ddp to get its shit together can be slow"
problem: waiting for ddp to get its shit together can be slow, null data is displayed until ddp sends the the collection data.

solution: simplest solution is probably to use fast render.

[2018-10-31 09:00] cathfung opened #373 "Problem: Limited words count in abstract"
current allowance is not enough
<img width="880" alt="1031-ux-research-abstract-words-number" src="https://user-images.githubusercontent.com/44600923/47776898-6ce54900-dd2e-11e8-88b7-794204c847d0.png">

[2018-10-31 09:02] gazhayes opened #374 "problem: unnecessary data on scam items"
problem: unnecessary data on scam items

solution: purge these:
<img width="990" alt="screenshot 2018-10-31 at 5 00 55 pm" src="https://user-images.githubusercontent.com/8143945/47777022-be8dd380-dd2e-11e8-81ea-4aad3485eb45.png">

[2018-10-31 09:04] gazhayes opened #375 "problem: site is vulnerable to bots"
problem: site is vulnerable to bots

solution: use google recapture 3 on **all** forms

https://developers.google.com/recaptcha/docs/v3

Take the API key from mongo. Add the details in comments (in the code). I'll add the API key to mongo wherever it needs to go.

[2018-10-31 09:05] MadanBhandari commented on #370
@gazhayes You mean just above view all on desktop ?

[2018-10-31 09:08] geekyd commented on #338
@anbud I will be adding tests for the select2 in a separate issue. :)

[2018-10-31 09:09] MadanBhandari commented on #373
@gazhayes Do we need limit at all [on research abstract and project description] ? I would suggest remove limits on everything except headline and summary.

[2018-10-31 09:10] geekyd commented on #338
Done in #376

@emurgobot done

[2018-10-31 09:11] cathfung opened #377 "Problem: Research paper source link is missing"
There was no link can be put in the content, and user can't dig deeper(link of university published paper) of the content directly

<img width="1103" alt="1031-ux-research-source-link" src="https://user-images.githubusercontent.com/44600923/47777253-4d025500-dd2f-11e8-993d-9407fe4be22c.png">

[2018-10-31 09:11] gazhayes commented on #373
@MadanBhandari yeah I tend to agree. We can limit it later if it becomes a problem. The only thing I'm worried about is some kind of overflow vulnerability with mongodb so maybe *some* limit is needed but it can be massively big and not shown to the user.

[2018-10-31 09:12] geekyd commented on #374
@emurgobot claim

[2018-10-31 09:12] #250 closed

[2018-10-31 09:12] #338 closed

[2018-10-31 09:17] gazhayes opened #378 "problem: inconsistent flagging/reporting across site"
problem: inconsistent flagging/reporting across site. Some places are still using the exclamation mark as a report button.

<img width="424" alt="screenshot 2018-10-31 at 4 27 00 pm" src="https://user-images.githubusercontent.com/8143945/47777791-7a9bce00-dd30-11e8-8735-e426c6030082.png">

<img width="930" alt="screenshot 2018-10-30 at 10 06 03 am" src="https://user-images.githubusercontent.com/81

[2018-10-31 09:19] MadanBhandari commented on #370
@emurgobot done in #379

[2018-10-31 09:21] MadanBhandari commented on #378
@emurgobot claim

[2018-10-31 09:34] #370 closed

[2018-10-31 10:08] gazhayes commented on #267
Both of those are good solutions, I guess we should stick with the smallest library if it gets the job done, but whatever you think is easiest is ok.

[2018-10-31 10:08] gazhayes commented on #267
#369 is related

[2018-10-31 10:09] gazhayes commented on #369
@emurgobot label 'UI-UX'

[2018-10-31 10:10] gazhayes opened #380 "ignore me. emurgobot test"
ignore me. emurgobot test

[2018-10-31 10:10] gazhayes commented on #380
@emurgobot claim

[2018-10-31 10:10] gazhayes commented on #380
Well that's just fkng weird.

[2018-10-31 10:14] gazhayes commented on #380
@emurgobot claim

[2018-10-31 10:15] gazhayes commented on #380
@emurgobot claim

[2018-10-31 10:15] MadanBhandari commented on #380
Still it adds two times and remove only once, still there should be one left 🤔

[2018-10-31 10:15] gazhayes commented on #380
@emurgobot done

[2018-10-31 10:15] gazhayes commented on #380
@emurgobot done

[2018-10-31 10:17] gazhayes commented on #380
@emurgobot claim

[2018-10-31 10:18] gazhayes commented on #380
@emurgobot claim

[2018-10-31 10:18] gazhayes commented on #380
ARGHHHHHH!

[2018-10-31 10:28] gazhayes commented on #380
@emurgobot claim

[2018-10-31 10:33] porcellus commented on #371
@emurgobot claim

[2018-10-31 10:34] porcellus commented on #267
So should this be moved over there or into a new issue? It will cause conflicts if I start implementing this.

[2018-10-31 10:37] gazhayes commented on #267
I guess just wait for @geekyd to finish #369 and then do this one. @geekyd any ETA?

[2018-10-31 10:38] gazhayes commented on #380
@emurgobot claim

[2018-10-31 10:42] MadanBhandari commented on #378
@emurgobot done in #381

[2018-10-31 10:51] geekyd commented on #267
@gazhayes I have sent a PR. @porcellus @gazhayes After a few experiments, the UI now looks like this
![screenshot 2018-10-31 at 4 04 14 pm](https://user-images.githubusercontent.com/12807846/47783547-feea5300-dd28-11e8-83f9-57c0b3d066de.png)
![screenshot 2018-10-31 at 4 04 29 pm](https://user-images.githubusercontent.com/12807846/47783548-ff82e980-dd28-11e8-9a69-af2fbe0e0d45.png)

I hope this is s

[2018-10-31 10:53] gazhayes commented on #267
merged

[2018-10-31 10:55] geekyd commented on #369
Done in #382
@emurgobot done

[2018-10-31 11:00] geekyd commented on #375
@emurgobot claim

[2018-10-31 11:58] porcellus commented on #371
@emurgobot done in #383

[2018-10-31 12:00] porcellus commented on #267
LGTM. I would've added the bars near the top, but I guess that's just personal preference :) GJ.
How are these ordered btw?

[2018-10-31 12:02] porcellus commented on #267
@emurgobot done

[2018-10-31 12:02] porcellus commented on #377
@emurgobot claim

[2018-10-31 12:03] geekyd commented on #267
Its just a UI change. They are rendered in the same order as before.

[2018-10-31 12:09] porcellus commented on #377
Should we provide a way to add extra links or a way to embed them in the text?

[2018-10-31 13:05] higunjan commented on #315
@anbud & @gazhayes While code review I found URL [`https://cardanoupdate.space`](https://cardanoupdate.space) I checked over here these issue and working fine on that. Can you re-check once.
step-1 > I create new user or if existing just login
step-2 > Edit profile & Upload image ( jpg, png, or jpeg )
step-3 > Save changes
Look on View profile page, I hope you'll able to see fixes.

[2018-10-31 13:22] higunjan opened #384 "Duplicate Project name."
@gazhayes Is it possible to have duplicate project name. Two different project have same name.
Please mention comment over here, If error then comment or else close it.

![duplicate project name](https://user-images.githubusercontent.com/6925531/47790794-1aac2400-dd3e-11e8-8a89-687e71cbdd68.png)

[2018-10-31 13:51] #384 closed

[2018-10-31 13:51] gazhayes commented on #384
Not really a problem yet, let's see what heppens when users start doing things . Also, please read the C4

[2018-10-31 14:23] anbud commented on #372
@emurgobot claim

[2018-10-31 15:24] geekyd commented on #374
Done in #385
@emurgobot done

[2018-10-31 15:31] porcellus commented on #377
I propose adding multiple links that would be shown like (and next to) "Download PDF"

[2018-10-31 15:42] gazhayes commented on #377
Yeah  agree. Multiple links are the simplest solution.

[2018-11-01 03:46] cathfung opened #387 "Problem: The shown words of title & description is too limited"
problem: the title is not completely shown, and description limited too much, user can't get what it trying to say

<img width="1126" alt="1101-words-too-limited" src="https://user-images.githubusercontent.com/44600923/47831507-c780b280-ddcb-11e8-8739-1864cb1d0cde.png">

solution: display the full heading. This might make the layout weird, but we could use https://codepen.io/andybarefoot/pen/QMeZd

[2018-11-01 03:49] gazhayes opened #388 "problem: item type indicator is hard to follow"
problem: item type indicator is hard to follow, since you only see it after reading the content of the card.

<img width="318" alt="screenshot 2018-11-01 at 11 48 40 am" src="https://user-images.githubusercontent.com/8143945/47831575-1c242d80-ddcc-11e8-8713-c69b01c588c8.png">

Solution: move the bar to the top. Except for events, since there's already an upcoming event indicator.

[2018-11-01 03:51] cathfung opened #389 "problem: weird titles shown in search result page"
after search words were input, these titles shown below search bar and it's weird

oh i get it, it try to categorize the content but seems weird and not obvious

<img width="827" alt="1101-weird-titles-shown" src="https://user-images.githubusercontent.com/44600923/47831673-7e7d2e00-ddcc-11e8-9623-3096abc0a008.png">

[2018-11-01 03:58] gazhayes commented on #387
whoever does this might want to do #388 at the same time

[2018-11-01 04:41] cathfung opened #390 "problem: can't submit "event" sometimes"
this happens randomly, when everything was input, no exceed words, no illogical time,
content still can't be "submit" and no alert occurs when "submit" was clicked

<img width="1042" alt="1101-event-can t be created" src="https://user-images.githubusercontent.com/44600923/47832997-7b397080-ddd3-11e8-8caf-7673e1af871a.png">

Here's the console screen
<img width="1440" alt="screen shot 2018-11-01 at

[2018-11-01 07:31] gazhayes commented on #388
@emurgobot claim

[2018-11-01 08:04] MadanBhandari commented on #373
@emurgobot done in #391

[2018-11-01 08:06] gazhayes commented on #388
@emurgobot done in #392

[2018-11-01 08:07] #388 closed

[2018-11-01 08:08] #373 closed

[2018-11-01 08:09] MadanBhandari commented on #389
@cathfung  I am not getting this, in which page you are searching ?

[2018-11-01 08:12] MadanBhandari commented on #387
@gazhayes do we need settings icon (add and edit) separately ? I was thinking about add this to ellipsis (with report link).

@emurgobot claim

[2018-11-01 08:12] gazhayes commented on #390
@cathfung for problems like this, please open the *developer console* and also take a screen shot of any errors in there. I'm not sure which browser you are using but just google 'how to open developer console for xxxxxxx' (your browser), it should be easy.

[2018-11-01 08:13] gazhayes commented on #387
I think put it all under the elipses

[2018-11-01 08:18] gazhayes opened #393 "problem: logged out users can still access forms"
problem: logged out users can still access forms, which will really annoying because users might fill out the form but then realize they are not logged in and lose all their work.

solution: send logged out users to login page whenever trying to access forms. All forms site wide must be checked.

[2018-11-01 08:22] gazhayes opened #394 "problem: weird menu layout on mobile"
problem: weird menu layout on mobile, kind of looks like a double menu.

solution: **on mobile** remove the menu with background image, users will probably know to use the side menu

<img width="425" alt="screenshot 2018-11-01 at 4 20 53 pm" src="https://user-images.githubusercontent.com/8143945/47840757-556f9400-ddf2-11e8-87d0-04a621fb3e1e.png">

[2018-11-01 08:40] MadanBhandari commented on #387
@gazhayes One more question : Do we need report link on own item (when user can edit and delete) ?

[2018-11-01 09:34] gazhayes commented on #387
hmmm actually if currentuser we dont need to show report anyway, and if not currentuser dont need to show edit

[2018-11-01 09:38] anbud commented on #393
@venatoria, you can also test this in the router, before rendering the template at all. It's maybe simpler.

[2018-11-01 09:40] anbud commented on #390
This one is related to #322, the root cause is the same, API key reaches the daily limit sometimes and the form stops working.

[2018-11-01 09:43] porcellus commented on #389
This is the tag search page, I assume.

[2018-11-01 09:47] venatoria commented on #393
@anbud my first thought was to implement on the templates.
All forms has defined routes.. So yes, the optimal solution would be to fix it there.
I'm submitting using the routes solution.

[2018-11-01 09:51] gazhayes commented on #394
Oh I mean really remove the whole thing, including the menus. Since people will probably just use the side menu on mobile anyway

[2018-11-01 09:52] gazhayes commented on #393
@venatoria if you're working on this now, you should do `@emurgobot claim` to claim it so that no one else works on it at the same time as you.

[2018-11-01 09:53] gazhayes commented on #390
Ouch. Ok. I better do that API.

[2018-11-01 10:04] gazhayes opened #397 "problem: no active class on side menu"
problem: no active class on side menu so when a user is on any specific route the side menu doesn't stay highlighted.

<img width="1454" alt="screenshot 2018-11-01 at 6 03 37 pm" src="https://user-images.githubusercontent.com/8143945/47845622-7ccd5d80-de00-11e8-8fa7-1363c9107894.png">

solution: use active class or whatever to keep the menu items highlighted in same color as onhover

<img width="1

[2018-11-01 10:08] venatoria commented on #393
@emurgobot claim

[2018-11-01 10:27] gazhayes opened #398 "problem: tests are failing"

[2018-11-01 10:35] MadanBhandari commented on #398
ping @anbud :)

[2018-11-01 10:35] MadanBhandari commented on #394
Got it :)
@emurgobot claim

[2018-11-01 10:36] MadanBhandari commented on #387
@emurgobot done in #399

[2018-11-01 10:36] gazhayes opened #400 "problem: moderator and user status not shown on profile"
problem: moderator status is not shown on users profile, and neither is the user's ranking

In this example, Cath Fung is a moderator, and this is shown on her name when she posts content:
<img width="471" alt="screenshot 2018-11-01 at 6 31 46 pm" src="https://user-images.githubusercontent.com/8143945/47846899-7640e500-de04-11e8-8558-58d0f5e0763d.png">

But there's nothing on her profile page. Sho

[2018-11-01 10:44] MadanBhandari commented on #394
@emurgobot done in #401

[2018-11-01 10:47] MadanBhandari commented on #400
@emurgobot claim

[2018-11-01 10:47] gazhayes opened #402 "problem: "new" button takes up too much space"
problem: "new" button on home route takes up too much space (a whole row) on desktop sized screens.

<img width="1012" alt="screenshot 2018-11-01 at 6 44 20 pm" src="https://user-images.githubusercontent.com/8143945/47847496-61fde780-de06-11e8-8d6f-64c88d2bc8a1.png">

solution: not totally sure but I think what could be done is to reduce the size of the statistic boxes and make a "Add new stuff" b

[2018-11-01 10:54] MadanBhandari commented on #402
@gazhayes What about adding this as a first box [contents not stats] on home route ? Like we have bid cta on BlockRazor, and we are using masonry layout, sizing shouldn't be the problem here, I guess.

[2018-11-01 10:55] gazhayes commented on #402
Yeah that was also on my mind. Whatever you think looks better ;)

[2018-11-01 10:55] #387 closed

[2018-11-01 10:55] #394 closed

[2018-11-01 10:56] cathfung opened #404 "Problem: Content is out of "research" box"
<img width="791" alt="1101-error-appears-in-research" src="https://user-images.githubusercontent.com/44600923/47847973-cf5e4800-de07-11e8-8086-79fb6c19f6a0.png">

[2018-11-01 10:59] cathfung opened #405 "problem: random code leaked at the "project" box"
<img width="1376" alt="1101-error-appears-in-project" src="https://user-images.githubusercontent.com/44600923/47848098-2f54ee80-de08-11e8-811c-b0053f7be62e.png">

[2018-11-01 11:01] gazhayes commented on #405
@emurgobot claim
@emurgobot done in #403

[2018-11-01 11:01] gazhayes commented on #405
@emurgobot done in #403

[2018-11-01 11:01] #405 closed

[2018-11-01 11:02] MadanBhandari commented on #405
Oops, my bad, I missed that.

[2018-11-01 11:04] MadanBhandari commented on #404
@emurgobot claim

Not a big task, I'll send PR for this on priority.

[2018-11-01 11:04] gazhayes opened #406 "problem: cards are cluttered"
problem: cards are cluttered, there's not enough spacing.

<img width="340" alt="screenshot 2018-11-01 at 7 03 25 pm" src="https://user-images.githubusercontent.com/8143945/47848317-f49f8600-de08-11e8-9e6e-e85b67393fb8.png">

solution: add a bit more space

[2018-11-01 11:10] venatoria commented on #393
@emurgobot label "done"

[2018-11-01 11:19] akatrodiya opened #408 "Problem: [New Research] No error if PDF file is not selected, And not any Progress"
Problem: [New Research] No error if PDF file is not selected

Solution: Add proper error message if file is not selected/uploaded

[2018-11-01 11:29] MadanBhandari commented on #404
@emurgobot done in #409

[2018-11-01 11:29] MadanBhandari commented on #406
@emurgobot done in #409

[2018-11-01 11:32] akatrodiya opened #410 "Problem: [New Research] Upload PDF button rotating after error"
Problem: [New Research] Upload PDF button rotating after error comes and Upload button showing 'Uploading'

Solution: Reset Upload button state after action perform and give response

[2018-11-01 11:36] MadanBhandari commented on #393
Hey @venatoria

You don't need to change label after sending PR you can just comment

This will automatically unassigned you and add label done :)

[2018-11-01 12:02] akatrodiya opened #411 "Problem: [Forms] Field required message is not hide after enter value"
Problem: when we try to add new entry using form, if required fields are missing/no content it gives warning under particular input, then if we enter value in input, error message is still there.

Solution: Update validation with enter value in input, update/remove error/warning message

[2018-11-01 12:16] MadanBhandari commented on #400
@gazhayes I am not getting mod data for ranking. Is this only available for Moderators ? Which PR should check for this ?

[2018-11-01 13:11] anbud commented on #400
Huh, that was one of my PRs. It's calculated only for the top 10% of the users. It's calculated somewhere in imports/api/users/methods.js, I believe.

[2018-11-01 13:13] anbud commented on #410
While you're there, you can fix it for image uploads as well. If I remember correctly, it's in the same place (imports/ui/shared/uploader), or it's even handled by the same code. :)

[2018-11-01 13:14] anbud commented on #398
Heh, they shall be fixed. I'll get to it when I get home. :)

@emurgobot claim

[2018-11-01 13:16] anbud commented on #389
Indeed, it is the tag page. A simple if should do the trick.

[2018-11-01 14:20] AshHimself commented on #270
First pass done, still need to add filters.

Fixed in #412
@emurgobot label "done"
@emurgobot done

[2018-11-01 14:59] cathfung opened #413 "problem: searched keyword was not highlighted"
after the keyword was input in the top search bar, nothing was highlighted in the result so  user can't locate the keyword

<img width="1427" alt="1101-search-bar-no-highlighted" src="https://user-images.githubusercontent.com/44600923/47859751-f0d02b80-de29-11e8-8c77-38d7d5e2e22b.png">

[2018-11-01 15:06] cathfung opened #414 "problem: "about" page for the website"
currently no introduction page for Admin and Moderators

[2018-11-01 18:38] porcellus commented on #377
@emurgobot done in #415

[2018-11-01 18:39] porcellus commented on #408
@emurgobot claim

[2018-11-01 18:44] anbud commented on #322
@emurgobot don't take it from him. :D

@emurgobot label "inactive"

[2018-11-01 18:51] porcellus commented on #408
@emurgobot done in #416

[2018-11-01 18:53] porcellus opened #417 "Problem: research link delete button deletes wrong url"
Solution: fix deletion logic

[2018-11-01 18:53] porcellus commented on #417
@emurgobot claim

[2018-11-01 18:59] porcellus commented on #417
@emurgobot done in #418

[2018-11-01 19:02] porcellus commented on #397
@emurgobot claim

[2018-11-01 19:28] porcellus commented on #397
@emurgobot done in #419

[2018-11-01 19:30] porcellus commented on #397
Currently, it adds the active class if the route is currently active: it's not the same as the hover state but this seems to be more standard.
As a side note: the route doesn't stay active if the user enters into viewing/editing an item. This can be changed easily though.

[2018-11-01 19:32] porcellus commented on #389
@emurgobot claim

[2018-11-01 19:45] #406 closed

[2018-11-01 19:45] #270 closed

[2018-11-01 19:45] #397 closed

[2018-11-01 20:09] porcellus opened #421 "Problem: refreshing tag search page resets search term"
Solution: update query param on keyup

[2018-11-01 20:10] porcellus commented on #421
@emurgobot claim

[2018-11-02 02:10] #398 closed

[2018-11-02 04:59] higunjan commented on #410
@emurgobot claim

[2018-11-02 05:24] higunjan opened #424 "Problem : [View Profile] Research tab showing project listing"
Problem: In view profile section user move from tab Project to Research section then he see project list even after user has in Research tab.

Solution: We've to update code in `/ui/pages/userProfile/viewProfile.html` and same in `userProfile.js` file (if necessary).

![research section display project list](https://user-images.githubusercontent.com/6925531/47895303-a2ed0f00-de8d-11e8-9e48-4f35fb1

[2018-11-02 05:47] higunjan commented on #410
@emurgobot done

[2018-11-02 05:50] MadanBhandari commented on #400
@emurgobot done in #426

[2018-11-02 05:56] MadanBhandari commented on #411
@emurgobot claim

[2018-11-02 06:00] MadanBhandari commented on #402
@emurgobot claim

[2018-11-02 06:15] MadanBhandari commented on #402
@emurgobot done in #427

[2018-11-02 06:17] higunjan commented on #424
@emurgobot done

[2018-11-02 06:41] cathfung opened #428 "problem: FAQ page is missing"
There is no place let Users know how this website works(eg: who/what are administrators/moderators) other misc questions.

[2018-11-02 07:16] MadanBhandari commented on #428
@emurgobot claim

[2018-11-02 07:20] MadanBhandari commented on #411
@emurgobot done in #429

[2018-11-02 07:50] AshHimself opened #430 "Problem: unable to filter on search"
Solution: Add checkboxes to filter the search page

[2018-11-02 07:50] AshHimself commented on #430
@emurgobot claim

[2018-11-02 10:04] AshHimself commented on #430
Fixed in #431
@emurgobot label "done"
@emurgobot done

[2018-11-02 10:05] AshHimself commented on #287
@emurgobot yes

[2018-11-02 10:40] omar20261 commented on #413
@emurgobot claim

[2018-11-02 13:20] cipherm opened #432 "Problem: [View Profile] - Project title & Research title have an incorrect link"
Problem: [View Profile] - Project title and research title have an incorrect link. When we click on the project link in the project tab and research title on the research tab on the view profile page it navigates to the invalid page.

Solution: The link is generated using Project Title field but it should be generated using the slug of the project.

![image](https://user-images.githubusercontent.c

[2018-11-02 13:20] cipherm commented on #432
@emurgobot claim

[2018-11-02 14:10] cipherm commented on #432
@emurgobot done

[2018-11-02 14:48] akatrodiya opened #434 "Problem: [Forms] Tags input don't match look/UI like other element in Form"
Problem: [Forms] Tags input don't match look/UI like other element in Form

Solution: Set proper UI/view as other element font / color / spacing for Tags input

[2018-11-02 21:07] omar20261 commented on #413
@emurgobot done

[2018-11-02 21:30] anbud commented on #372
@emurgobot yap, I just flew into Lisbon and I'm ready to roll. :)

[2018-11-03 01:42] geekyd commented on #375
@emurgobot on it

[2018-11-03 08:47] #377 closed

[2018-11-03 08:47] #393 closed

[2018-11-03 08:47] #400 closed

[2018-11-03 08:47] #402 closed

[2018-11-03 08:47] #404 closed

[2018-11-03 08:47] #408 closed

[2018-11-03 08:47] #410 closed

[2018-11-03 08:47] #411 closed

[2018-11-03 08:47] #413 closed

[2018-11-03 08:47] #424 closed

[2018-11-03 08:47] #430 closed

[2018-11-03 08:47] #432 closed

[2018-11-03 22:56] anbud commented on #372
@emurgobot claim

Done in #437.

@emurgobot done

[2018-11-04 07:33] higunjan commented on #358
@emurgobot claim

[2018-11-04 07:36] higunjan commented on #358
I've seen and tested, working fine these functionality. Their are two way to move from any page to Dashboard or Home page
1) "Cardano update Space" ICON on top-left side, when you click you moved to Home page.
2) left-sidebar "Home" tab, work same as point1.

![home button nevigation](https://user-images.githubusercontent.com/6925531/47961504-5ee73f00-e032-11e8-903e-0bc958639538.png)

[2018-11-04 07:36] higunjan commented on #358
@emurgobot done

[2018-11-04 09:38] geekyd commented on #375
@emurgobot claim

[2018-11-04 10:36] porcellus commented on #389
Yeah, sorry:)
@emurgobot done #420

[2018-11-04 11:46] MadanBhandari commented on #428
Yes @emurgobot I am working on it.

btw I am also adding Form to add/edit FAQ questions and answers form for Moderators only :) We can remove the form, once the data is completed.

[2018-11-04 12:34] higunjan opened #438 "Problem: [Projects] GitHub and WebSite URL should be open in new tab"
Problem: [Projects] GitHub and WebSite URL should be open in new tab.
Solution: Where ever anchor tag exist, need to update that target="_blank".

Above problem apply for following pages too.
Research Paper, Community ( Social Resource )

[2018-11-04 12:34] higunjan commented on #438
@emurgobot claim

[2018-11-04 12:50] higunjan commented on #438
@emurgobot done

[2018-11-04 12:53] higunjan opened #440 "Problem: search highlighted words not eye-catching, looks odd in red color"
Problem: search highlighted words not eye-catching, looks odd in red color

Solution: Instead of font-color we've to give back-ground color.

Cardano:
![highlighted words in our app](https://user-images.githubusercontent.com/6925531/47964342-9ff54880-e05e-11e8-9c30-89c9f72b7ab0.png)

RegExp Match in Text:
![highlighted words](https://user-images.githubusercontent.com/6925531/47964343-aa174700-e05e

[2018-11-04 12:53] higunjan commented on #440
@emurgobot claim

[2018-11-04 13:05] higunjan commented on #440
@emurgobot done

[2018-11-04 13:52] MadanBhandari commented on #428
@emurgobot done in #441

Currently any user can add FAQs content, we can remove add/edit FAQ option later once the data is completed.

[2018-11-04 13:55] MadanBhandari commented on #282
@emurgobot claim

I'll do this with #283

[2018-11-04 13:55] MadanBhandari commented on #283
@emurgobot claim

I'll do this with #282

[2018-11-05 03:09] #358 closed

[2018-11-05 03:09] #372 closed

[2018-11-05 03:09] #389 closed

[2018-11-05 03:09] #428 closed

[2018-11-05 03:09] #438 closed

[2018-11-05 03:09] #440 closed

[2018-11-05 03:14] gazhayes opened #442 "problem: [/] cards are sorted in a boring way"
problem: [/] cards are sorted in a boring way which doesn't highlight the variety of content types.

solution: sort cards (probably simplest to do this in the UI rather than trying any kind of mongo magic) by something other than type.

[2018-11-05 03:18] gazhayes opened #443 "problem: event time zone can easily be incorrect"
problem: event time zone can easily be incorrect

solution: store event times in unix time. When calculating the unix time, take the timezone into consideration. This should not be taken from the user's browser because they might be creating it from somewhere else. It should be taken from the event location. I'm not sure the simplest way to deal with this but hopefully someone will have some ideas

[2018-11-05 05:25] cathfung opened #444 "problem: search bar result isn't clear enough"
If there are a lot of contents (eg:100 essays) related to searched keywords then the user can't tell if these are already filtered or not from the screen, there's nothing like "10 results were found" or no highlighted searched words in the content

<img width="1057" alt="screen shot 2018-11-05 at 1 20 55 pm" src="https://user-images.githubusercontent.com/44600923/47979456-3fb5e380-e0fe-11e8-92e9-e

[2018-11-05 05:34] cathfung opened #445 "problem: "copy and paste" text doesn't work for searchbar"
when user pasted  text on the search bar, nothing happens for the search bar
 it only works  when user input text manually

<img width="1017" alt="1105-copy and paste doesn t work for searchbar" src="https://user-images.githubusercontent.com/44600923/47979743-8f48df00-e0ff-11e8-981e-5c506fb47d35.png">

[2018-11-05 06:06] AshHimself commented on #287
Fixed in #446
@emurgobot label "done"
@emurgobot done

[2018-11-05 06:06] AshHimself commented on #442
@emurgobot claim

[2018-11-05 06:16] AshHimself commented on #442
Any thoughts on what you want it sorted by?
How often do you suspect new projects would be added? Need to obviously show newer projects on the home page at some point?

[2018-11-05 07:13] porcellus commented on #445
@emurgobot claim

[2018-11-05 08:18] AshHimself commented on #444
Maybe we can remove search on each page and concentrate on a single search solution? @gazhayes

Possibly add in highlighting, more complex search operators etc.

[2018-11-05 08:20] gazhayes commented on #444
Yeah I was thinking the same thing.

[2018-11-05 08:32] gazhayes opened #448 "problem: extra bar for breadcrumbs is clumsy"
problem: extra bar for breadcrumbs is clumsy and takes up heaps of space.

possible solution:
Breadcrumbs aren't really important on the home route or the other top-level routes like /projects etc since there are headings etc. The place where they are really important is on the detail view of each item. The bar could be removed and the breadcrumbs could be put here (screenshot):

<img width="1677"

[2018-11-05 10:20] anbud commented on #443
@emurgobot claim

[2018-11-05 10:55] cathfung opened #449 "problem: confused symbol for Moderator scores"
it feels like a negative number at a glance

<img width="931" alt="1105-negative-symbol-moderator" src="https://user-images.githubusercontent.com/44600923/47994143-63901e00-e12c-11e8-8454-e71d08955803.png">

[2018-11-05 11:07] higunjan commented on #448
@emurgobot claim

[2018-11-05 11:33] higunjan commented on #448
@emurgobot done

[2018-11-05 11:35] MadanBhandari commented on #282
@emurgobot done in #451

[2018-11-05 11:35] MadanBhandari commented on #283
@emurgobot done in #451

[2018-11-05 11:35] MadanBhandari commented on #449
@emurgobot claim

[2018-11-05 11:48] MadanBhandari commented on #449
@emurgobot done in #452

[2018-11-05 12:10] higunjan opened #453 "Problem: Moderator > Flagged items, If reported from scams then not working"
Problem: Moderator > Flagged items, If reported from scams then not working.

Soultions: Need to update link ternary operator in file `imports/ui/pages/moderator/flagged/flaggeditems.js line:85`

Replace  ```(i.summary ? `/warnings/${i.slug}`)``` with ```(i.summary ? `/scams/${i.slug}`)```

@MadanBhandari Please claim and update repo.

![moderator flagged item href](https://user-images.githubuserc

[2018-11-05 12:12] MadanBhandari commented on #453
@emurgobot claim

[2018-11-05 12:14] akatrodiya commented on #434
@emurgobot claim

[2018-11-05 12:20] MadanBhandari commented on #453
@emurgobot done in #454

[2018-11-05 12:53] akatrodiya commented on #434
@emurgobot done in #455

[2018-11-05 13:07] anbud commented on #443
Done in #456.

@emurgobot done

[2018-11-05 13:08] anbud opened #457 "Problem: Tests are failing"
Problem: Tests are failing again

Solution: Fix client-side tests.

[2018-11-05 13:08] anbud commented on #457
@emurgobot claim

[2018-11-05 19:50] anbud commented on #390
@emurgobot label "inactive"

[2018-11-05 21:59] geekyd commented on #375
Done in #458

@emurgobot done

[2018-11-06 03:46] #282 closed

[2018-11-06 03:46] #375 closed

[2018-11-06 03:46] #443 closed

[2018-11-06 03:46] #449 closed

[2018-11-06 03:46] #453 closed

[2018-11-06 03:46] #457 closed

[2018-11-06 03:47] #283 closed

[2018-11-06 03:47] #434 closed

[2018-11-06 03:47] #448 closed

[2018-11-06 03:50] gazhayes opened #460 "problem: breadcrumb UI is weird"
problem: breadcrumbs look weird as a UL item, the location also takes up a lot of space.

<img width="209" alt="screenshot 2018-11-06 at 11 48 35 am" src="https://user-images.githubusercontent.com/8143945/48041809-ec08d000-e1b9-11e8-9ad2-3495db011b87.png">

solution: remove UL and **_significantly_** reduce the amount of space used.

[2018-11-06 03:51] higunjan commented on #460
@emurgobot claim

[2018-11-06 03:52] gazhayes opened #461 "problem: "view" used in breadcrumbs"
problem: "view" used in breadcrumbs instead of the item name

<img width="735" alt="screenshot 2018-11-06 at 11 51 41 am" src="https://user-images.githubusercontent.com/8143945/48041936-6a657200-e1ba-11e8-9f81-0cc85e62ea87.png">

related: #460

[2018-11-06 03:55] higunjan commented on #461
@emurgobot claim

[2018-11-06 03:56] #343 closed

[2018-11-06 03:57] #287 closed

[2018-11-06 04:37] higunjan commented on #460
@emurgobot done

[2018-11-06 06:06] gazhayes opened #463 "problem: breadcrumbs take up too much space"
problem: breadcrumbs take up too much space

<img width="601" alt="screenshot 2018-11-06 at 2 04 08 pm" src="https://user-images.githubusercontent.com/8143945/48045889-20d25280-e1cd-11e8-9cb0-b884281421b7.png">
<img width="728" alt="screenshot 2018-11-06 at 2 05 09 pm" src="https://user-images.githubusercontent.com/8143945/48045890-216ae900-e1cd-11e8-9a93-b250b03d1a04.png">

[2018-11-06 06:08] #460 closed

[2018-11-06 06:08] gazhayes commented on #461
related: #463

[2018-11-06 06:20] gunjan-bvi commented on #463
@emurgobot claim

[2018-11-06 06:29] MadanBhandari opened #464 "Problem : Tag search page has different layout"
Problem : Tag search page has different layout

Solution : Instead of different layout on tag search, use label based layout like in home page

[2018-11-06 06:29] MadanBhandari commented on #464
@emurgobot label "UI-UX"
@emurgobot claim

[2018-11-06 06:33] higunjan commented on #461
@MadanBhandari I checked `route.js` they're we can change but we found slug over there, is there any sort way we can update over there, Need your suggestions.

[2018-11-06 06:33] gazhayes opened #465 "problem: google maps API credentials not fetched from mongo"
problem: google maps API credentials not fetched from mongo

solution: make use of the `config` collection used in #458

ping @anbud I'm not sure if you actually did this already and I just can't find it.

[2018-11-06 06:53] MadanBhandari commented on #461
As slugs are unique for each post, find post headline by slug should work

[2018-11-06 07:17] MadanBhandari commented on #464
@emurgobot done in #466

[2018-11-06 07:25] MadanBhandari opened #467 "Problem : User profiles doesn't have all content"
Problem : User profiles doesn't have all content
Solution : Add all the contents added by user on user profile that she/has contributed, instead of only projects and research

[2018-11-06 07:49] #464 closed

[2018-11-06 07:55] cathfung opened #468 "problem: Replys in comment can't be optional view"
other users need to browse all thread of a conversation (within a comment) which is not necessary

<img width="1161" alt="1106-user-comment-diffuse" src="https://user-images.githubusercontent.com/44600923/48050184-26836480-e1dc-11e8-96f8-fe8764ad47da.png">

[2018-11-06 09:09] porcellus commented on #445
@emurgobot done in #469

[2018-11-06 09:10] porcellus commented on #468
@emurgobot claim

[2018-11-06 09:20] anbud commented on #465
I'll do it.

@emurgobot claim

[2018-11-06 09:37] higunjan commented on #461
@emurgobot done

[2018-11-06 09:51] higunjan commented on #463
Problem: breadcrumbs take up too much space #463
Solution: update CSS with 1rem instead of 3rem.

@emurgobot done

[2018-11-06 10:15] cathfung opened #471 "problem: missing resource link for profile comment history"
no reference can be traced

<img width="952" alt="1106-comment-history-no-link" src="https://user-images.githubusercontent.com/44600923/48057819-f1810d00-e1ef-11e8-8600-36a81e8c0384.png">

[2018-11-06 10:25] cathfung opened #472 "problem: font size of "about" title in profile is smaller than content"
it is smaller than the content of "about" which doesn't make sense
<img width="490" alt="1106-font-size-profile-about" src="https://user-images.githubusercontent.com/44600923/48058433-5ee16d80-e1f1-11e8-928a-2ea70b2de0f6.png">

[2018-11-06 11:34] gazhayes commented on #463
You must now drink from the cup of shame. Only joking, your commit had it as a bar under the header, it was actually much narrower, that was like 8 PRs ago though, life comes at ya fast.

[2018-11-06 11:34] #461 closed

[2018-11-06 11:34] #463 closed

[2018-11-06 12:07] porcellus commented on #471
@emurgobot done in #474

[2018-11-06 12:19] MadanBhandari commented on #472
@emurgobot claim

[2018-11-06 13:32] porcellus commented on #444
I don't think we should remove the search bar from each page, what I would prefer is either the current solution with a common component doing the actual search or we could redirect to the global search page with proper filters set.
In my opinion, the best solution is to have an advanced search link under the search bars, linking to the global search page while having the content below it either b

[2018-11-06 13:33] porcellus opened #475 "Problem: search page resets filters upon refresh"
This would also help if we want to link into the search page with filters already set (e.g.: #444) or if we want to bookmark/direct link to filtered searches.
Solution: store filter information in the query as well

[2018-11-06 13:33] porcellus commented on #475
@emurgobot claim

[2018-11-06 13:46] gazhayes commented on #444
@porcellus I'm totally happy with that if you want to do that

[2018-11-06 13:51] gazhayes opened #476 "problem: tests running before merging is annoying"
problem: tests running before merging is annoying

solution: run tests on merge instead of on pull request. When using Jenkins we can just use a webhook on merge instead of on PR, but I'm not sure if this is possible with travis when using it as a github module. Ping @anbud for ideas

[2018-11-06 14:04] anbud commented on #476
Hmm, currently it runs tests both on PR and on merge. I'll see if PR tests can be disabled, it should be possible.

@emurgobot claim

[2018-11-06 17:29] geekyd commented on #444
@porcellus That sounds great.

[2018-11-06 17:39] geekyd opened #477 "problem: missing details on user profile"
problem: missing details on user profile.

solution: Add details about learning resource, research paper, community & events created user

[2018-11-06 17:39] geekyd commented on #477
@emurgobot claim

[2018-11-06 20:14] anbud commented on #476
@gazhayes, I've disabled builds on PRs on every repo, tests will only run after successfull merges now.

@emurgobot done

[2018-11-06 20:54] geekyd commented on #477
Done in #479

@emurgobot done

[2018-11-06 20:59] anbud commented on #465
Done in #480.

Add a record like this to the `Config` collection:
[code]

Also, change the `_id` of the recaptcha config to `recaptcha`, or add a new record with this _id if you can't modify it. It should look like this:
[code]

@emurgobot done

[2018-11-06 22:14] porcellus commented on #444
I'll do that tomorrow (hopefully) then
@emurgobot claim

[2018-11-07 02:31] #445 closed

[2018-11-07 02:31] #465 closed

[2018-11-07 02:31] #468 closed

[2018-11-07 02:31] #471 closed

[2018-11-07 02:31] #476 closed

[2018-11-07 02:31] #477 closed

[2018-11-07 03:05] gazhayes commented on #465
FYI @anbud done

[2018-11-07 03:45] MadanBhandari commented on #477
I was working on same issue on #467

@geekyd please check existing open issues, before creating an new issue in future.

[2018-11-07 03:46] MadanBhandari commented on #467
Already done in another issue #477

@emurgobot done

[2018-11-07 03:46] #467 closed

[2018-11-07 03:54] MadanBhandari commented on #472
@emurgobot done in #481

[2018-11-07 04:07] MadanBhandari opened #482 "Problem : No user notification"
Problem : No user notification
Solution : Add notifications for comments received on all contents (for authors & users who have comments).

[2018-11-07 04:08] gazhayes opened #483 "problem: google API not working"
problem: google API not working [events location]

not sure if this is a new error or not, ping @anbud for ideas

[2018-11-07 04:09] MadanBhandari commented on #482
@emurgobot claim

[2018-11-07 04:09] gazhayes commented on #483
I've updated the allowed referrers to allow everything just in case it's something to do with that, it will take 5 mins to propagate.

[2018-11-07 04:42] MadanBhandari opened #484 "Problem : Unused code in project"
Problem : Unused code in project
Solution : Remove /news section entirely from code base, Currently comment is dependent on this.

[2018-11-07 04:42] MadanBhandari commented on #484
@emurgobot claim

I wanna complete this before #482

[2018-11-07 06:01] MadanBhandari commented on #484
Is github acting weird again :/

[2018-11-07 08:09] higunjan commented on #483
@gazhayes I think in Events page due to "Uncaught Error: Missing required parameters: sitekey" which is related to `recatpcha`

[2018-11-07 08:41] MadanBhandari commented on #484
@emurgobot done in #485

[2018-11-07 08:41] #484 closed

[2018-11-07 08:49] anbud commented on #483
@gazhayes, something is wrong with the API key, the error is [ProjectDeniedMapError](https://developers.google.com/maps/documentation/javascript/error-messages#project-denied-map-error). Since there's no real description of the error, [this](https://stackoverflow.com/questions/45908595/projectdeniedmaperror-with-maps-api) is the only resource I've found, it suggests trying another API key.

[2018-11-07 08:59] cathfung opened #486 "problem: title of research paper too limited"
not extra characters allowed  for official title
<img width="563" alt="screen shot 2018-11-07 at 4 56 22 pm" src="https://user-images.githubusercontent.com/44600923/48120879-59962880-e2ae-11e8-98db-7231de87473a.png">

[2018-11-07 19:04] geekyd opened #487 "Problem: inconsistent ui for moderate routes"
Problem: inconsistent ui for moderate routes

Solution: make ui consistent for all moderate routes

[2018-11-07 19:04] geekyd commented on #487
@emurgobot claim

[2018-11-07 19:13] geekyd commented on #487
Done in #488

@emurgobot done

[2018-11-07 23:38] anbud commented on #486
@emurgobot claim

[2018-11-07 23:45] anbud commented on #486
Done in #489.

@emurgobot done

[2018-11-08 08:59] MadanBhandari commented on #482
@emurgobot done in #490

[2018-11-08 09:06] #482 closed

[2018-11-08 09:49] porcellus commented on #475
@emurgobot done in #491

[2018-11-08 11:36] porcellus commented on #444
I'll do moving to a common search result component in different issue as that isn't a minimal solution to this (and the current search page looks too different from what we have on other pages)
@emurgobot done in #492

[2018-11-08 11:38] porcellus opened #493 "Problem: code duplication for search results"
Code duplication could be reduced by moving to a common search results component that receives the search term and filters and takes care of displaying results.
As discussed in #444

[2018-11-08 11:39] porcellus commented on #493
@emurgobot claim

[2018-11-08 11:40] porcellus commented on #493
This also solves having slightly inconsistent UIs for listing.

[2018-11-08 12:28] #475 closed

[2018-11-09 04:55] #444 closed

[2018-11-09 04:55] #472 closed

[2018-11-09 04:55] #486 closed

[2018-11-09 04:55] #487 closed

[2018-11-09 15:11] porcellus commented on #493
@emurgobot done in #494

[2018-11-09 15:13] porcellus opened #495 "Problem: search page looks different than other pages"
The search area looks and works differently than what I expect after coming from other pages.
Solution: Make search update on keyup, make looks match other pages

[2018-11-09 15:15] #493 closed

[2018-11-09 17:17] porcellus commented on #495
@emurgobot claim

[2018-11-09 18:54] porcellus commented on #495
@emurgobot done in #496

[2018-11-09 18:55] porcellus opened #497 "Problem: search term is not highlighted in all lists"
Solution: move highlighting the search term into the searchResults component

[2018-11-09 18:55] porcellus commented on #497
@emurgobot claim

[2018-11-09 19:22] porcellus commented on #497
@emurgobot done in #498

[2018-11-09 21:02] #495 closed

[2018-11-09 21:34] porcellus opened #499 "Problem: Projects with no websites have only 'Go to' in link title"
Solution: It should display something like 'Suggest a link'

[2018-11-09 21:34] porcellus commented on #499
@emurgobot claim

[2018-11-09 21:49] porcellus commented on #499
@emurgobot done in #500

[2018-11-10 07:52] #497 closed

[2018-11-10 07:52] #499 closed

[2018-11-10 08:31] porcellus opened #501 "Problem: comments tests are failing"
Solution: Fix tests, the issue most likely started with difficulty level

[2018-11-10 08:31] porcellus commented on #501
@emurgobot claim

[2018-11-10 08:35] porcellus commented on #501
@emurgobot done in #502

[2018-11-10 09:39] #501 closed

[2018-11-10 11:12] porcellus opened #503 "Problem: no guide on how to run client tests"
Solution: Add a guide on running tests in general and client tests especially

[2018-11-10 11:14] porcellus opened #504 "Problem: reCaptcha can be bypassed in production"
Solution: Fix test by setting the proper credentials for in test mode

[2018-11-10 11:14] porcellus commented on #504
@emurgobot claim

[2018-11-10 13:04] porcellus commented on #504
During investigating failing tests I misread the results, so the tests aren't failing because of reCaptcha, but the current solution to skipping it makes it trivial to disable even in production, so I'm fixing that

[2018-11-10 13:13] anbud commented on #503
I have this written somewhere already, I'll add it to the repo.

@emurgobot claim

[2018-11-10 13:17] porcellus commented on #504
@emurgobot done in #505

[2018-11-10 13:41] #504 closed

[2018-11-10 13:55] porcellus opened #506 "Problem: flagged items ui tests failing"

[2018-11-10 13:55] porcellus commented on #506
@emurgobot claim

[2018-11-10 14:06] porcellus commented on #506
@emurgobot done in #507

[2018-11-10 14:13] porcellus opened #508 "Problem: comment form code is duplicated"
We could use a common component in all places, simplifying many pages, we could use the same component for new comments, replies, and edits.
Solution: Extract a new comment form component and remove duplicated code

[2018-11-10 14:15] porcellus opened #509 "Problem: upload doesn't work in development or tests"
The only way to make it work is to edit a file that could break prod if it was accidentally committed.
Solution: in development, the files should be saved in a location inside the repo that is ignored by git (and served by Meteor under the same paths as it is in prod)

[2018-11-10 15:07] porcellus commented on #508
@emurgobot claim

[2018-11-11 03:13] higunjan commented on #509
@porcellus True, It will break if someone accidentally committed and path is static inside `imports/api/uploader/method.js` no dynamic path exist there.
Related to #294 .
Possible solutions:
1) Make It dynamic path Inside folder.
2) add these file into .gitignored
3) If you don't want to change path than, while merging code `moderator` have to double check these things.
@gazhayes / @MadanBhandari

[2018-11-11 03:22] higunjan opened #510 "Problem: [Projects] advance search show "undefined""
Problem: In projects page when people click on advance search, then initial level shows undefined. ( without enter anything into search bar )
![advance search undefined](https://user-images.githubusercontent.com/6925531/48308623-3231ab00-e58f-11e8-8e0e-15be29c7c232.png)

Solution: `searchTerm.get()` when user get search terms then we've to check it's undefined or not.

[2018-11-11 03:34] higunjan opened #511 "Problem: [Events] Search and advance search not exist"
Problem: In event section I found that search and advance search not exist, need to add over their, except event everywhere else that found.
![search bar in event not exist](https://user-images.githubusercontent.com/6925531/48308711-be909d80-e590-11e8-948d-06cd4b32134e.png)

Solution: Need to add.

[2018-11-11 03:34] higunjan commented on #511
@emurgobot claim

[2018-11-11 03:56] gazhayes commented on #509
For now the simplest solution is to not test uploads. In development it should only be a problem if someone is doing something with uploads, if that's the case they might want to do something about it if it causes them enough of  a problem, but right now I don't see  this as a problem that's worth fixing.

[2018-11-11 04:17] higunjan commented on #510
@emurgobot done

[2018-11-11 05:10] higunjan commented on #511
@emurgobot done

[2018-11-11 06:59] porcellus commented on #508
@emurgobot done in #514

[2018-11-11 07:06] porcellus commented on #509
Ok, I'll close this then. It caused me problems when I was testing/working researchForm. The tests are already in place, I was just seeing what was causing it to fail on my pc.
(disregard the referencing commit, it was a typo)

[2018-11-11 07:06] #509 closed

[2018-11-11 07:18] #508 closed

[2018-11-11 07:37] porcellus opened #515 "Problem: no tests for community page"
Only a few pages are without tests and all of the other content types have their own.
Solution: add tests

[2018-11-11 09:33] higunjan opened #517 "Problem: search bar no cancel or clear button for clear short-cut"
Problem: search bar no cancel or clear button for clear data in search input and after click on advance search their is no way to clear advance search results.

Solution: add one small cross ( x ) button inside search input box on right side, when click on that, remove advance search and input string too.

[2018-11-11 09:33] higunjan commented on #517
@emurgobot claim

[2018-11-11 14:28] geekyd opened #518 "problem: code duplication for tags in forms"
problem: code duplication for tags in forms

solution: create a separate component for tags & reuse it on all forms

[2018-11-11 20:45] anbud commented on #503
Done in #519.

@emurgobot done

[2018-11-12 03:13] #503 closed

[2018-11-12 03:13] #510 closed

[2018-11-12 03:13] #511 closed

[2018-11-12 04:48] higunjan commented on #517
@emurgobot done

[2018-11-12 07:07] AshHimself opened #521 "problem: side menu stays open on mobile"
problem: side menu stays open on mobile when you click through the menu

solution: it should close on mobile only but stay open on desktop. Add some responsivyness checks.

[2018-11-12 07:07] AshHimself commented on #521
@emurgobot claim

[2018-11-12 07:17] AshHimself opened #523 "problem: logo too big on mobile"
problem:  logo is too big on mobile

solution: only show the image and not text on mobile to open up realestate.

[2018-11-12 07:17] AshHimself commented on #523
@emurgobot claim

[2018-11-12 07:17] AshHimself commented on #521
Fixed in #522
@emurgobot label "done"
@emurgobot done

[2018-11-12 08:20] #517 closed

[2018-11-12 08:20] #521 closed

[2018-11-12 11:31] akatrodiya opened #524 "Problem: [Login/Signup] horizontal scroll and Exception in breadcrumbs helper"
Problem: horizontal scroll in login/forgot password/signup page and Exception in breadcrumbs helper when  come to this pages from home page

Solution: Remove horizontal scroll, and update logic for 'breadcrumbs' helper in main template

[2018-11-12 11:31] akatrodiya commented on #524
@emurgobot claim

[2018-11-12 11:46] gazhayes commented on #524
Good to see you again ajay, please pay careful attention to the commit message when you are doing this one (check the readme and the contribution protocol for details)

[2018-11-12 11:49] akatrodiya commented on #524
@emurgobot done in #525

[2018-11-12 11:52] akatrodiya commented on #524
Hi @gazhayes Thanks... How are you?
I understood your mentioning and also my mistake for the commit message.. I'll be careful in my future commits.

[2018-11-12 12:13] geekyd commented on #518
Done in #526
@emurgobot done

[2018-11-12 12:22] dilpreetsio opened #527 "Problem: tag mentions not decreased if tag is removed after edit"
Problem: tag mentions not decreased if tag is removed after edit

Solution: Decrease the count of the tag if it is removed while editing from all the resources using tags

[2018-11-12 14:20] #518 closed

[2018-11-13 12:01] MadanBhandari commented on #483
I am just testing @emurgobot here ...

@emurgobot claim

[2018-11-13 13:11] higunjan opened #528 "Problem: search-bar cross not working, when search from header top-right side"
Problem: search-bar cross not working, when search from header top-right side.
![cross on search not working](https://user-images.githubusercontent.com/6925531/48415580-c3fa0d80-e773-11e8-8f2a-4e87b4a76b22.png)

Solution: Need to check `/search` and if any type is not exist then move to `home` page.

[2018-11-13 13:12] higunjan commented on #528
@emurgobot claim

[2018-11-13 13:12] higunjan commented on #528
@emurgobot claim

[2018-11-13 13:13] higunjan commented on #528
@emurgobot claim

[2018-11-13 13:15] higunjan commented on #528
@emurgobot claim

[2018-11-13 13:16] higunjan commented on #528
@emurgobot label "claim"

[2018-11-13 13:20] higunjan commented on #528
@emurgobot done

[2018-11-13 13:28] akatrodiya opened #530 "Problem: [Home] '+ Add new content' popup gives error and no redirect to login"
Problem:  '+ Add new content' popup gives error and no redirect to login, when user is not logged in

Solution: import package, and fix redirect issue.

[2018-11-13 13:29] akatrodiya commented on #530
@emurgobot claim

[2018-11-13 13:31] higunjan commented on #530
@akatrodiya Can you please add snapshot, It's working well in my local and even on production too.
Please check on `https://cardanoupdate.space`

[2018-11-13 13:35] akatrodiya commented on #530
![error](https://user-images.githubusercontent.com/15026463/48416765-112bae80-e777-11e8-9673-6de11ab0f76c.png)
Error in https://cardanoupdate.space as well

[2018-11-13 13:51] MadanBhandari commented on #528
@higunjan looks like @emurgobot is down, issue is already logged, follow [this issue](https://github.com/EmurgoHK/emurgobot/issues/18) for further updates.

[2018-11-13 15:07] gazhayes commented on #528
emurgobot is down, I'll fix it when I wake up

[2018-11-14 02:45] higunjan commented on #530
@akatrodiya No need to import package, package already imported which is in `Meteor.isClient` condition. [ File : `startup/both/route.js` ]. You've to import outside the conditions.
But
I think `notify` would not work in `route.js` I think not sure. @MadanBhandari please pour your thoughts.

[2018-11-14 02:54] #528 closed

[2018-11-14 06:33] akatrodiya commented on #530
@emurgobot done in #531

[2018-11-14 07:10] akatrodiya opened #532 "Problem: [Side Menu] bottom arrow always hide sidebar"
Problem: [Side Menu] bottom arrow always hide sidebar

Solution: arrow button should perform expand/collapse menu, but should not hide complete menu

[2018-11-14 07:11] akatrodiya commented on #532
@emurgobot claim

[2018-11-14 07:18] gazhayes opened #533 "problem: something weird going on with user rankings"
problem: something weird going on with user rankings - two users are ranked as 1/33 (see screenshots).

<img width="573" alt="screenshot 2018-11-14 at 3 16 51 pm" src="https://user-images.githubusercontent.com/8143945/48466325-7daeb800-e820-11e8-88c2-4f91ffd2b190.png">
<img width="622" alt="screenshot 2018-11-14 at 3 16 27 pm" src="https://user-images.githubusercontent.com/8143945/48466327-7daeb80

[2018-11-14 07:34] AshHimself commented on #442
@emurgobot unclaim, i'll let something take this one.

[2018-11-14 07:40] gazhayes commented on #532
@emurgobot claim

[2018-11-14 07:40] #532 closed

[2018-11-14 07:40] #530 closed

[2018-11-14 07:40] gazhayes commented on #523
@AshHimself you still on this one?

[2018-11-14 07:41] AshHimself commented on #523
Forgot to send PR, its done.. inbound shortly.

[2018-11-14 09:39] higunjan opened #535 "Problem: [ Home ] + Add new content button text hide behind"
Problem: [ Home ]  + Add new content button text hide when check responsiveness in browser console simulator.
![add new content hide behind](https://user-images.githubusercontent.com/6925531/48473847-53102f80-e81f-11e8-81cc-940183526f06.png)

Solution: We need to update that box as per card view. if text would be overflow then break the word.

[2018-11-14 09:40] higunjan commented on #535
@emurgobot claim

[2018-11-14 09:51] higunjan commented on #535
@emurgobot done

[2018-11-14 09:53] akatrodiya commented on #533
@emurgobot done in #537

[2018-11-14 10:09] akatrodiya opened #538 "Problem: [Mobile] black shadow display in content height"
Problem: [Mobile] black shadow display in content height
![sidebar](https://user-images.githubusercontent.com/15026463/48475700-5f968700-e823-11e8-82f8-76b10f8f23fd.png)

Solution: If content height is small then overlaying part should match window height

[2018-11-14 10:10] akatrodiya commented on #538
@emurgobot claim

[2018-11-14 10:20] akatrodiya commented on #538
@emurgobot done in #539

[2018-11-14 10:40] higunjan opened #540 "Problem: [Community] search bar cross button not working"
Problem: In community section search bar cross (x) button not working when, click on advance search and and then after click on cross (x) button.

Solution: We've to check type if `socialResources` then me we've to move on `community`

[2018-11-14 10:40] higunjan commented on #540
@emurgobot claim

[2018-11-14 10:44] higunjan commented on #540
@emurgobot done

[2018-11-14 10:54] #535 closed

[2018-11-14 10:54] #538 closed

[2018-11-14 10:54] #540 closed

[2018-11-14 10:54] #533 closed

[2018-11-14 11:02] gazhayes opened #542 "problem: not clear what all code is doing"
problem: it's not clear what all code is doing, some things are quite difficult to understand and _reason about_.

solution: everyone please comment more before you push a commit :)

There should be a comment at least every 2-3 lines describing what your code is doing (and why).

I know it's sometimes boring but if other people cannot understand what your code is doing when they're half asleep on

[2018-11-14 12:44] AshHimself commented on #523
Fixed in #543
@emurgobot label "done"
@emurgobot done

[2018-11-14 12:54] porcellus commented on #515
@emurgobot done in #544

[2018-11-14 12:56] porcellus opened #545 "Problem: can't flag community resources"
Solution: Add button for flagging using a common component already used for other content types and update the community page test

[2018-11-14 12:58] porcellus commented on #442
Partially solved in #494. I suggest further improvements by adding other sorting methods (e.g.: by title)

[2018-11-14 13:07] porcellus commented on #515
@emurgobot

[2018-11-14 13:07] #515 closed

[2018-11-14 13:08] porcellus commented on #545
@emurgobot claim

[2018-11-14 14:04] porcellus commented on #545
@emurgobot done in #546

[2018-11-15 08:59] higunjan opened #547 "Problem: search not working proper"
Problem: search bar not working proper, like,
- If user enter white-space then result header capitalise.
- If enter any text in search-bar then result is fine but after text hit space bar then show all result which is wrong.

Solution: Need to `trim` search text any how.

[2018-11-15 08:59] higunjan commented on #547
@emurgobot claim

[2018-11-15 09:01] gazhayes commented on #547
hey @higunjan also have a look at the Emurpas repository for new problems.

[2018-11-15 09:01] #523 closed

[2018-11-15 09:01] #545 closed

[2018-11-15 09:03] higunjan commented on #547
@gazhayes Sure once these done I'll check that too.

[2018-11-15 09:09] higunjan commented on #547
@emurgobot done

[2018-11-15 16:35] geekyd commented on #527
@emurgobot on it :)

[2018-11-16 10:09] #547 closed

[2018-11-16 18:50] geekyd commented on #527
Done in https://github.com/EmurgoHK/cardanoupdate/pull/549

@emurgobot done

[2018-11-16 18:51] geekyd commented on #442
@emurgobot claim

[2018-11-16 19:05] #527 closed, assigned to nobody

[2018-11-17 05:49] gazhayes opened #550 "problem: no email verification for new users"
problem: users who sign up with email instead of facebook don't have their address validated.

ping @MadanBhandari I think you've done this before

[2018-11-17 05:54] MadanBhandari commented on #550
Yes, I will do this, later today.

@emurgobot claim

[2018-11-17 08:25] porcellus opened #551 "Problem: no tests for search page"
Most other pages have ui-tests in place.
Solution: add tests for the search page.

[2018-11-17 10:46] porcellus commented on #551
I found a few minor issues 1-5 lines of fixing each, should I fix those in this issue or open separate issues?

[2018-11-17 11:12] anbud commented on #551
Just fix them in this issue, it's easier. :)

[2018-11-19 08:42] AshHimself commented on #542
As someone who has alcohol fueled weekends often I am all for this and an abuser of not writing comments as often as I should :) please call me out when I don't.

[2018-11-19 09:11] geekyd commented on #442
Done in #552
@emurgobot done

[2018-11-19 16:20] porcellus commented on #551
@emurgobot done in #553

[2018-11-19 16:31] porcellus opened #554 "Problem: comment ui is inconsistent"
e.g.: comment form below posted comments in projects vs on top in learning resources.
Also, since this component appears in many pages and we test its functionality in each place, we should add unit tests for this new component.

Solution: Extract a common component

[2018-11-19 16:32] porcellus commented on #554
@emurgobot claim

[2018-11-19 20:22] anbud commented on #483
Ping @gazhayes. Any updates on this one? :)

[2018-11-20 04:16] #442 closed

[2018-11-20 04:16] #551 closed

[2018-11-20 04:16] #542 closed

[2018-11-20 04:57] akatrodiya opened #555 "Problem: [Side menu] Moderator menu hide show not working"
Problem: [Side menu] Moderator menu hide show not working, when click on main title with arrow, it not working hide/show sub menu

Solution: On main item click, set hide/show sub menu and also set it in small screen

[2018-11-20 04:57] akatrodiya commented on #555
@emurgobot claim

[2018-11-20 08:42] gazhayes opened #556 "problem: not able to add other languages to site"
problem: not able to add other languages to the site

solution: I think @anbud deployed a solution on blockrazor before if I remember correctly.

[2018-11-20 08:43] gazhayes opened #557 "problem: past events are shown on home route"
problem: past events are shown on home route

[2018-11-20 08:47] gazhayes opened #558 "problem: cards on home route are sorted too orderly"
problem: on small screens etc it's easy to think the site only has one (or minimal number) type of item (e.g. only projects) because everything is ordered by type.

solution: decouple the view logic from the collection logic (I think the bounties page of blockrazor does something like this) so that cards can be sorted in the UI without needing to change the mongo call. Find some way to sort the ca

[2018-11-20 09:32] anbud commented on #556
Yap, it was me. :)

@emurgobot claim

[2018-11-20 11:39] MadanBhandari commented on #550
@emurgobot done in #559

[2018-11-20 12:32] akatrodiya commented on #555
@emurgobot done in #560

[2018-11-20 12:32] akatrodiya opened #561 "Problem: [Header] Not in one line in small desktop/laptop"
Problem: [Header] Not in one line in small desktop/laptop

![header](https://user-images.githubusercontent.com/15026463/48773738-4a6f9b80-ecee-11e8-80ff-a0b4eae95142.png)

Solution: Remove unnecessary space and set header item in one line

[2018-11-20 12:32] akatrodiya commented on #561
@emurgobot claim

[2018-11-20 13:04] akatrodiya commented on #561
@emurgobot done in #562

[2018-11-20 13:29] porcellus commented on #558
They should be ordered by creation date regardless of type. Last time I worked on it the sorting was already decoupled from collection logic and done on the client. I'll check again tonight. Most likely it's just that someone added different types in batches, so the correct order doesn't seem random enough. we can try to do something about that, but I'm not sure how to randomize the order.

[2018-11-20 17:15] geekyd commented on #558
The logic is already decoupled, by default the items are sorted by date. However it may seem to be sorted too orderly if same type of resources are created in small timeframes. If we still need this I we can sort the items by title instead of date by default.

[2018-11-20 21:58] porcellus commented on #557
@emurgobot done in #563

[2018-11-20 22:11] porcellus commented on #558
A few things came to mind, but I can imagine scenarios going wrong. Some things we could try:
- only allowing x of the same type to follow each other (this can result in having only 2 types that switch)
- making sure 1 of each type is in top x: messes up ordering completely.
- Adding a "newest x" section for each type and having the rest as "archive" ordered by date added.
As a side note, we could

[2018-11-20 23:36] anbud commented on #556
Done in #564.

I've added the language switcher to the header for now.

@emurgobot done

[2018-11-20 23:37] anbud opened #565 "Problem: Server messages are not translated"
Problem: Server messages are not translated

Solution: Convert server messages from literal strings to tapi18n translations

[2018-11-20 23:37] anbud commented on #565
@emurgobot claim

[2018-11-21 01:07] gazhayes commented on #558
Hmmm, ok, I'll close this for now and ask some users what they think.

[2018-11-21 01:07] #558 closed

[2018-11-21 01:07] #557 closed

[2018-11-21 01:08] #556 closed

[2018-11-21 01:08] #550 closed

[2018-11-21 08:09] #555 closed

[2018-11-21 08:09] #561 closed

[2018-11-21 08:10] gazhayes opened #566 "problem: content cannot be translated by users"
problem: content such as projects, events, etc cannot be translated by users.

I'm not sure what the simplest solution is here in terms of UI and logic. Totally open to hear even the craziest of ideas!

[2018-11-21 09:53] porcellus commented on #566
Well, we have the segments in JSON, so I think we can add use that to add/generate a page where users can suggest new translations, in something like a 3 column view:
Segment name, English text, X language text, where they can switch between languages.
The third (or fourth) column would be editable and contained their own suggestions. If the suggestions are submitted, then moderators can view it a

[2018-11-21 09:56] anbud commented on #566
We could just copy the mechanism from Blockrazor, it basically does what @porcellus just described. Just, when translations are approved by moderators, a PR is automatically generated with new i18n json files.

[2018-11-21 11:13] gazhayes commented on #566
I've edited the OP to make this more clear, I'm talking specifically about content (i.e. in collections).

Ideally no PRs involved in the process, in fact maybe moderator approval isn't even needed at all (just as adding new content doesn't require approval).

[2018-11-22 01:35] anbud commented on #565
Done in #568.

@emurgobot claim

[2018-11-22 01:36] anbud commented on #565
@emurgobot done

[2018-11-22 02:34] gazhayes commented on #566
OK, let me add one thing into the mix and see what you guys think the simplest way of dealing with it is:
sometimes English won't initially exist and the original content will be some other language (e.g. Japanese).

[2018-11-22 08:23] gazhayes opened #569 "problem: security vulnerability found"
problem:
![screenshot 2018-11-22 at 4 22 09 pm](https://user-images.githubusercontent.com/8143945/48890140-efb37c80-ee72-11e8-8924-803ebc83d5f8.png)

[2018-11-22 09:21] porcellus opened #570 "Problem: usernamedisplay spams console"
Solution: remove unnecessary logging

[2018-11-22 09:21] porcellus commented on #570
@emurgobot claim

[2018-11-22 09:24] porcellus commented on #570
@emurgobot done in #571

[2018-11-22 11:37] porcellus commented on #569
As there are no patched versions we can't really fix this ourselves (besides fixing it in a fork and sending a PR). What we could do is to move over to another library, e.g.: editor.md. We can implement something like this example https://pandao.github.io/editor.md/examples/custom-toolbar.html

[2018-11-22 11:53] porcellus commented on #566
Well, that's the answer to the first question :) IMHO we can do 2 things:
- migrate over to a new structure where we store all translatable content in a new field keyed by the language id
- treat English as a default language and keep the English content as it is now, and add a new field that holds the translated content. In this case, if the default content is empty we can try and get the first t

[2018-11-22 11:53] #554 closed

[2018-11-22 12:00] porcellus opened #573 "Problem: comment ui is clumsy"
There are a few smaller issues:
- too much space between comments
- too much space around buttons
- too big buttons
- threads are hard to follow
We should aim for something like the comment ui of reddit:
![image](https://user-images.githubusercontent.com/1129990/48901523-039cb580-ee56-11e8-845f-8f0dc009d367.png)
We don't need voting or to copy all of it, but a few key point would be nice to implem

[2018-11-22 12:36] anbud commented on #569
Hmm, looking at the simplemde repo, it seems abandoned. Maybe we should migrate to editor.md.

But, there's another, simpler fix to this one. [This](https://github.com/sparksuite/simplemde-markdown-editor/issues/721#issuecomment-439303763) comment says that adding `sanitize: true` to our markdown processor should fix the given problem.

[2018-11-22 12:45] gazhayes commented on #569
It's up to you guys, both look about equally simple solutions. If you think it's a worthwhile project just fork it under emurgohk and apply the C4 to it, I have a quick guide here: http://socialarchitecture.science/forking-an-open-source-repository/ (skip to the part about forking).

[2018-11-22 13:33] akatrodiya commented on #573
@emurgobot claim

[2018-11-22 13:40] porcellus commented on #569
I don't think it's worthwhile (at least not because of this). I'll test if sanitize fixes it and migrate to editor.md otherwise.
@emurgobot claim

[2018-11-22 14:53] porcellus commented on #569
It worked, good catch @anbud
@emurgobot done in #574

[2018-11-22 15:07] porcellus commented on #483
It actually works on my machine with a brand new key. I just went and added a new project with only the places API checked. I'm not sure if I can do anything about this. Although the setup code seems a bit strange but it works so it's not an issue.
@emurgobot abandon

[2018-11-22 15:09] porcellus opened #575 "Problem: login page strings not translated properly"
![image](https://user-images.githubusercontent.com/1129990/48910719-fb9e3f00-ee70-11e8-8101-c53963f601f2.png)

[2018-11-22 15:09] porcellus commented on #575
@emurgobot claim

[2018-11-22 17:55] porcellus commented on #575
@emurgobot done in #576

[2018-11-22 17:58] porcellus opened #577 "Problem: event form date is set to default when editing"
It's set to the default instead of the stored date.

[2018-11-22 17:59] porcellus commented on #577
@emurgobot claim

[2018-11-22 18:59] porcellus commented on #577
@emurgobot done in #578

[2018-11-22 19:20] porcellus opened #579 "Problem: language choice is lost on refresh"
I think this should be a per-session setting.

[2018-11-22 19:21] porcellus commented on #579
@emurgobot claim

[2018-11-22 19:47] porcellus commented on #579
@emurgobot done in #580

[2018-11-22 19:48] #577 closed

[2018-11-22 19:55] porcellus opened #581 "Problem: language chooser is too big"
It can break the mobile layout:
![image](https://user-images.githubusercontent.com/1129990/48920251-1041fd80-ee98-11e8-9263-583a351f12c7.png)
Also, it's placed weirdly on desktops:
![image](https://user-images.githubusercontent.com/1129990/48920269-323b8000-ee98-11e8-9120-c36eccb777fa.png)
Solution: it should be smaller, and placed between the GitHub and notification icons (there is too much space

[2018-11-22 19:55] porcellus commented on #581
@emurgobot claim

[2018-11-22 21:45] anbud commented on #483
Yap, this one works on my machine as well, something weird is happening in production.

[2018-11-22 23:18] #579 closed

[2018-11-23 06:59] porcellus commented on #581
I think we would be better served by a footer as it's done in blockrazor and recommended by https://usersnap.com/blog/design-language-switch/

[2018-11-23 07:29] porcellus commented on #581
@emurgobot done in #582

[2018-11-23 07:32] porcellus opened #583 "Problem: users can't save their default language"
Users should be able to save a language in their profile and have the page displayed in that language when logging in.

[2018-11-23 07:33] porcellus commented on #583
@emurgobot claim

[2018-11-23 08:02] anbud commented on #581
You’re right, putting it in the footer it’s better.

[2018-11-23 08:36] porcellus commented on #583
@emurgobot done in #584

[2018-11-23 08:37] porcellus opened #585 "Problem: footer placement not always at bottom"
Solution: fix footer css

[2018-11-23 08:37] porcellus commented on #585
@emurgobot claim

[2018-11-23 10:43] anbud commented on #566
@porcellus on one of the projects I've previously worked on, we've used the second approach you've mentioned here, it was working perfectly fine. I'm not sure which one is simpler though. Which one do you like more?

Since everything can get messy with translations, when I first saw this issue, I had an idea that we could totally separate translated content from the original one, and just link the

[2018-11-23 13:38] #585 closed

[2018-11-23 13:38] #583 closed

[2018-11-23 13:38] #581 closed

[2018-11-23 13:41] #573 closed

[2018-11-23 14:20] porcellus commented on #566
Approval: I'm still a bit worried about trollish and/or not maintained translations linked to popular content, but that's a problem we can deal with later if it becomes a problem for moderators. (e.g.: we can add an approval system later).
Comments: This is kind of different than what I thought you meant by separating by language. If we are separating by the language of the content it's perfectly

[2018-11-23 14:28] porcellus opened #588 "Problem: Comment threads can be confusing"
- Multiple levels can blur together: I propose adding a line that goes from the parent comment to the end of the replies, left of the comments (like on Reddit)
![image](https://user-images.githubusercontent.com/1129990/48948076-91020780-ef33-11e8-9b10-e5296a724028.png)
- Comments on the root level are handled too differently from replies
- There is still to much space between comments on the root

[2018-11-23 14:40] anbud commented on #566
I have a road trip planned for the weekend, so I won't have the time. Feel free to take it. :)

[2018-11-26 09:32] #569 closed

[2018-11-26 09:32] #588 closed

[2018-11-26 11:41] geekyd commented on #483
Yeah, working for me as well.

[2018-11-27 09:59] porcellus commented on #566
@emurgobot done in #590

[2018-11-27 10:02] porcellus commented on #390
This is not always related to #322: even if the Google API is working you can't submit events that have a starting day >12. There is an error in the place_changed listener.

[2018-11-27 10:03] porcellus opened #591 "Problem: translations are not tested on content apis"
The content APIs only test with new content and never try adding a translation.

[2018-11-27 10:04] porcellus commented on #591
@emurgobot claim

[2018-11-27 11:34] porcellus commented on #509
I suggest reopening this, today I almost committed my local fix which I needed to test adding researches. The problem is easily solvable by using an os provided tmpdir in development and the currently set path in production.

[2018-11-27 11:34] porcellus opened #593 "Problem: translations are not ui tested"
Solution Expand UI tests

[2018-11-27 11:34] porcellus commented on #593
@emurgobot claim

[2018-11-27 11:35] porcellus opened #594 "Problem: social resource slugs are not generated properly"
This is because it is set to generate slugs from a field that doesn't exist on social resources

[2018-11-27 11:58] porcellus commented on #593
Some UI tests are also failing, I'll fix those too.

[2018-11-27 11:58] #591 closed

[2018-11-27 18:20] anbud commented on #390
Hmm, that's a weird bug. I'll fix it.

[2018-11-27 21:12] anbud commented on #390
Fixed in #595.

@emurgobot done

[2018-11-27 21:33] geekyd commented on #594
Done in #596
@emurgobot done

[2018-11-28 11:22] porcellus opened #597 "Problem: translation slugs are not updated with title"
Solution: add an updateTranslationSlug into the translation group API and trigger it on edits.

[2018-11-28 11:22] porcellus commented on #597
@emurgobot claim

[2018-11-28 11:57] porcellus commented on #597
@emurgobot done in #598

[2018-11-28 11:57] #594 closed

[2018-11-28 14:13] #597 closed

[2018-11-29 00:31] #390 closed

[2018-11-29 00:32] #566 closed

[2018-11-29 00:36] gazhayes opened #599 "problem: content translation button not clear"
problem: content translation button not clear, users are thinking this means like show it in their language. It's also not very in-your-face in terms of where it's placed.

solution: Change all the buttons to say "Add a translation" and put it inside the content box, I guess at the end of the content.

[2018-11-29 00:38] gazhayes opened #600 "problem: users cannot add new languages"
problem: users cannot add new languages to the site or edit the existing translation

solution: take the solution from blockrazor.

[2018-11-29 00:38] anbud commented on #600
@emurgobot claim

[2018-11-29 02:12] gazhayes opened #601 "Problem: language switcher is hard to find"
Problem: language switcher is hard to find

solution: add an additional language switcher to the username dropdown and the top of the side menu.

<img width="235" alt="screenshot 2018-11-29 at 10 11 49 am" src="https://user-images.githubusercontent.com/8143945/49194744-4105c380-f3bf-11e8-95e3-b53d4cbef249.png">
<img width="266" alt="screenshot 2018-11-29 at 10 11 45 am" src="https://user-images.gi

[2018-11-29 02:13] gazhayes commented on #483
Hmmm strange. I'll have a deeper look into production next week and see wtf is going on here.

[2018-11-29 09:45] geekyd commented on #601
@emurgobot claim

[2018-11-29 10:13] geekyd commented on #601
Done in #602

@emurgobot done

[2018-11-29 11:37] porcellus commented on #593
@emurgobot done in #603

[2018-11-29 11:37] porcellus commented on #599
@emurgobot claim

[2018-11-29 12:00] akatrodiya opened #604 "Problem: [Home] Sorting with title is not working"
Problem: Sorting with title is not working

Solution: Sorting using title in acceding and descending order as like "Date"

[2018-11-29 12:02] akatrodiya commented on #604
@emurgobot claim

[2018-11-29 12:41] akatrodiya commented on #604
@emurgobot  done in #605

[2018-11-29 21:59] anbud commented on #600
Done in #606.

@emurgobot done

[2018-11-29 22:00] anbud opened #607 "Problem: Mechanism for adding new translations is not tested"
Problem: Mechanism for adding new translations is not tested

Solution: Add client-side and server-side tests.

[2018-11-29 22:00] anbud commented on #607
@emurgobot claim

[2018-11-30 12:37] geekyd opened #608 "Problem: sort by title not working on pages"
Problem: sort by title not working on pages

Solution: Investigate the behavior & fix the filter.

[2018-11-30 12:37] geekyd commented on #608
@emurgobot claim

[2018-11-30 14:04] porcellus opened #610 "Problem: no language filter on /search"
Solution:
- Add language checkboxes under content type checkboxes
- Add language filter to searchResults

[2018-11-30 14:05] porcellus commented on #610
@emurgobot claim

[2018-11-30 15:58] porcellus commented on #610
@emurgobot done in #611

[2018-11-30 16:02] porcellus opened #612 "Problem: users can't save languages they want to see by default"
Users should be able to save a list of languages they can understand to filter content where there are no options presented and to set as a default where we have.
Use case: My UI language in English, but I want to also see content in Hungarian but not in Serbian

[2018-11-30 16:02] porcellus commented on #612
@emurgobot claim

[2018-11-30 18:20] porcellus opened #613 "Problem: redirecting to login in strange places"
E.g.: Clicking on the logo on a content page, where I expected to go to the home page.
Redirecting should only be done where it's actually needed.

[2018-11-30 18:20] porcellus commented on #613
@emurgobot claim

[2018-11-30 23:12] porcellus commented on #599
@emurgobot done in #609

[2018-11-30 23:12] porcellus commented on #613
@emurgobot claim

[2018-12-01 02:54] #593 closed

[2018-12-01 02:54] #599 closed

[2018-12-01 02:54] #600 closed

[2018-12-01 02:54] #601 closed

[2018-12-01 02:54] #604 closed

[2018-12-01 02:54] #610 closed

[2018-12-01 08:18] kevadiya93 opened #614 "Problem: [Home] Sorting with title gives no exception but not working"
Problem: Sorting with title gives no exception but not working

Solution: Set sorting working with all result in common field

[2018-12-01 08:18] kevadiya93 commented on #614
@emurgobot claim

[2018-12-01 08:19] #614 closed

[2018-12-01 08:20] akatrodiya opened #615 "Problem: [Home] Sorting with title gives no exception but not working"
Problem: Sorting with title gives no exception but not working

Solution: Set sorting working with all result in common field

[2018-12-01 08:45] akatrodiya opened #616 "Problem: [Common] on sidebar open scroll horizontal showing"
Problem: [Common] on sidebar open scroll horizontal showing

Solution: Set Footer with proper width on sidebar is open