[2018-12-01 08:57] akatrodiya commented on #615
@emurgobot done in #617

[2018-12-01 09:18] akatrodiya opened #618 "Problem: [SideMenu] Select Language item need proper space"
Problem: [SideMenu] Select Language item need proper space, it touch above item and not getting in which section it.

![scroll](https://user-images.githubusercontent.com/15026463/49326422-20cd3480-f578-11e8-85fd-c8b6cd2f0344.png)

Solution: Add proper space and background that it looks separate item in menu

[2018-12-01 09:18] akatrodiya commented on #618
@emurgobot claim

[2018-12-01 09:38] akatrodiya opened #620 "Problem: [Form] Language input not match form UI"
Problem: [Form] Language input not match form UI

![form-language](https://user-images.githubusercontent.com/15026463/49326626-e87b2580-f57a-11e8-9867-66f3f6257de5.png)

Solution: Set Proper style to match Form UI for language selection element

[2018-12-01 09:38] akatrodiya commented on #620
@emurgobot claim

[2018-12-01 09:42] akatrodiya commented on #618
@emurgobot done in #621

[2018-12-01 10:30] geekyd commented on #608
Done in #622

@emurgobot done

[2018-12-01 10:43] porcellus commented on #612
@emurgobot done in #623

[2018-12-01 12:35] #612 closed

[2018-12-02 23:03] anbud commented on #607
Done in #624.

@emurgobot done

[2018-12-02 23:03] #607 closed

[2018-12-03 08:29] #615 closed, assigned to nobody

[2018-12-03 08:32] gazhayes opened #625 "problem: users don't know how to add new languages"
problem: users don't know how to add new languages

solution: add an "add" thing to the language dropdown selectors in the side menu and bottom menu.

[2018-12-03 08:33] gazhayes commented on #625
ping @anbud

[2018-12-03 08:41] anbud commented on #625
On it! :)

@emurgobot claim

[2018-12-03 14:35] akatrodiya commented on #620
@emurgobot done in #626

[2018-12-03 18:08] porcellus commented on #613
@emurgobot it's a WIP, hopefully, done today.

[2018-12-03 21:04] anbud commented on #625
Done in #628.

@emurgobot done

[2018-12-03 21:48] porcellus commented on #613
@emurgobot done in #627

[2018-12-03 21:48] #613 closed

[2018-12-04 00:57] #625 closed

[2018-12-04 00:58] #620 closed

[2018-12-04 02:31] gazhayes opened #629 "problem: users can't actually add new languages to system"
problem: users can't actually add new languages or new translations of menu items etc. For example, if I want to add Japanese, it's not actually possible.

<img width="564" alt="screenshot 2018-12-04 at 10 29 29 am" src="https://user-images.githubusercontent.com/8143945/49414788-953de880-f7af-11e8-91c1-89c2467d7d6c.png">

ping @anbud

[2018-12-04 09:30] anbud commented on #629
@emurgobot claim

[2018-12-04 10:00] anbud commented on #629
Done in #630.

@emurgobot done

[2018-12-04 13:42] gazhayes opened #631 "problem: initial mongo payload is slow"
problem: initial mongo payload is slow

I haven't checked but I thought fast render or something was already implemented, this suggests it isn't active on the right subscriptions if so.

[2018-12-04 14:24] anbud commented on #629
It represents the scope of the translation (e.g. comments, projects, etc).

Is the PWD env variable set correctly in the production environment? It should be set to project root so translations files could be fetched from the file system. It doesn't have to be PWD, I've just used it as it's used by default. It populates correctly in the development environment.

[2018-12-05 11:30] gazhayes commented on #631
Oh yeah the IP changed, I'll fix it now

On Wed, 5 Dec 2018, 19:26 Andrej Budinčević <notifications@github.com wrote:

[2018-12-05 14:43] akatrodiya opened #632 "Problem: [Side Menu] mouse over on item it expand all items"
Problem: [Side Menu] mouse enter on item it expand all items

![sidemenu](https://user-images.githubusercontent.com/15026463/49520856-33be6c80-f8ca-11e8-9a6f-b94dd7dd4967.png)

Solution: on mouse hover on item of menu, only expand that item not all menu

[2018-12-05 14:43] akatrodiya commented on #632
@emurgobot claim

[2018-12-05 15:29] akatrodiya opened #634 "Problem: [Translate Page] content width not match site layout"
Problem: [Translate Page] content width not match site layout

![tans](https://user-images.githubusercontent.com/15026463/49523898-b21e0d00-f8d0-11e8-903e-ddbfbdb03a4c.png)

Solution: Set page content in common layout which follow in all pages

[2018-12-05 15:30] akatrodiya commented on #634
@emurgobot claim

[2018-12-06 01:53] anbud commented on #631
Ok, ping me when it's fixed, and I'll integrate Kadira so we can see what's really going on. :)

[2018-12-07 14:58] akatrodiya commented on #634
@emurgobot done in #635

[2018-12-08 10:50] anbud commented on #631
Ping @gazhayes, any updates? :)

[2018-12-10 03:21] #629 closed

[2018-12-10 03:21] #632 closed

[2018-12-10 03:21] #634 closed

[2018-12-10 04:03] gazhayes opened #636 "problem: user contributed i18n doesn't work in production"
problem: user contributed i18n doesn't work in production - the i18n files don't actually exist in production because they are not 'needed' by nodejs so meteor doesn't package them (only packages the output data from them).

Not sure what the simplest solution is here, I can add something to the build script to simply copy the i18n json files over. These files will be overwritten often in producti

[2018-12-10 04:17] gazhayes commented on #631
@anbud OK, done. Sorry I was distracted.

It should be at kadira.emurgolance.org shortly

[2018-12-10 10:55] anbud commented on #636
Hmm, I believe that copying them to the root directory should do the trick. They're only read anyways, no part of the code modifies them.

[2018-12-10 11:13] anbud commented on #631
Ok, I've integrated Kadira in #637.

[2018-12-11 23:24] anbud commented on #631
Hmm, according to Kadira, subscription response times are quite fast, I don’t see any bottlenecks there.

Where did you notice this lag @gazhayes?

By the way, if you don’t have access to Kadira, ping me and I’ll send you the account info. :)

[2018-12-12 01:34] gazhayes commented on #631
Ah yeah can you send me the kadira credentials, turns out I don't have it
lol

On Wed, 12 Dec 2018, 07:24 Andrej Budinčević <notifications@github.com
wrote:

[2018-12-12 06:25] cathfung opened #638 "problem: location bar doesn't work when creating Event"
therefore user can't create "event' successfully

<img width="906" alt="error1" src="https://user-images.githubusercontent.com/44600923/49850780-d0789100-fe19-11e8-812d-b913ce4deff3.png">

[2018-12-13 02:55] anbud commented on #638
Ping @gazhayes, I'm guessing this is still an API issue.

[2018-12-19 03:46] cathfung opened #639 "problem: can't show youtube video in "learning resource""
https://cardanoupdate.space/learn/cardano-overview

[2018-12-19 03:48] cathfung opened #640 "problem: can't edit Difficulty level of "learning resource""
remain as "Beginner" no matter what

[2018-12-19 05:15] #631 closed

[2018-12-19 15:17] geekyd commented on #640
@emurgobot claim

[2018-12-19 15:34] geekyd commented on #640
@emurgobot done

[2018-12-19 15:34] geekyd commented on #640
Done in #641

[2018-12-19 15:34] geekyd commented on #639
@emurgobot claim

[2018-12-23 15:33] geekyd commented on #639
@emurgobot claim

[2018-12-26 10:55] geekyd commented on #639
@emurgobot
Sending a PR soon. :)

[2018-12-27 09:55] geekyd commented on #639
Done in #642
@emurgobot done

[2018-12-28 09:44] porcellus opened #643 "Problem: bootstrap should be updated (vulnerability)"
Bootstrap should be updated to >=4.2.1

[2018-12-28 09:44] porcellus commented on #643
@emurgobot claim

[2018-12-28 09:55] porcellus commented on #643
@emurgobot done in #644

[2018-12-29 07:07] MadanBhandari opened #645 "Problem : potential security vulnerabilities in dependencies"
Problem : potential security vulnerabilities in dependencies

More details [here](https://github.com/EmurgoHK/cardanoupdate/network/alerts).

Solution : Update vulnerable dependencies.

[2018-12-29 07:10] MadanBhandari commented on #645
@emurgobot claim

[2018-12-29 18:36] #643 closed

[2018-12-31 04:12] akatrodiya opened #646 "Problem: [Footer] When side menu in small size, extra space"
Problem: [Footer] When side menu in small size, extra space is comes in right side
![screenshot 2018-12-31 at 9 39 26 am](https://user-images.githubusercontent.com/15026463/50554427-38ffb300-0ce0-11e9-9938-1bec0ce6a820.png)

Solution: Set Footer for all width compatible with all screens, set width with main content area.

[2018-12-31 04:13] akatrodiya commented on #646
@emurgobot claim

[2018-12-31 04:56] akatrodiya opened #648 "Problem: [Profile] User's Activity tabs need to set in Small screen"
Problem: [Profile] User's Activity tabs need to set in Small screen

![screenshot 2018-12-31 at 10 24 26 am](https://user-images.githubusercontent.com/15026463/50554738-6a7b7d00-0ce6-11e9-8be3-a53eaa64b8a7.png)

Solution: Set responsive view for tabs

[2018-12-31 04:57] akatrodiya commented on #648
@emurgobot claim

[2018-12-31 04:57] akatrodiya commented on #646
@emurgobot done in #647

[2018-12-31 05:35] akatrodiya commented on #648
@emurgobot done in #649

[2018-12-31 06:04] MadanBhandari commented on #645
The security vulnerability is on package `https-proxy-agent` which is dependency of [deprecated package github](https://www.npmjs.com/package/github) and this is dependency of `git-commit-push-via-github-api`.

Any idea, how to resolve this kind of issue ? Or we can use another package instead of `git-commit-push-via-github-api`.

ping @anbud @gazhayes

[2018-12-31 10:48] #639 closed

[2018-12-31 10:48] #640 closed

[2018-12-31 10:48] #646 closed

[2018-12-31 10:48] #648 closed

[2018-12-31 10:50] gazhayes commented on #645
Ah ok that's for the language thing.

One round-about solution to this would be to just store all language pairs in mongo instead of in the codebase. @anbud how much work do you think is in that, just to know what this last resort looks like (it would solve a couple of other undocumented problems I noticed).

[2018-12-31 10:51] gazhayes commented on #645
@MadanBhandari I took you off this one for now till we have more info, but feel free to claim it again if you want to solve it.

[2018-12-31 10:59] gazhayes opened #650 "problem: activity looks boring"
problem: the activity metrics (see image) look quite inactive and and might discourage new users.

solution: instead of showing total users, new users, and new content this month, change it to display the total number of items in common categories (I guess projects, research, and learning resources).

Should probably change the colours to match the categories too.

[2018-12-31 11:07] MadanBhandari commented on #650
@emurgobot claim

[2018-12-31 11:41] MadanBhandari opened #651 "Problem : No logo on mobile"
Problem : No logo on mobile
![no-logo](https://user-images.githubusercontent.com/6429311/50559633-1345ce80-0d1f-11e9-9008-4efd3d3cb887.png)

Solution : Add `logo-mobile.png` from `/img` on navbar for mobile

[2018-12-31 11:41] MadanBhandari commented on #651
@emurgobot claim

[2018-12-31 11:52] MadanBhandari commented on #651
@emurgobot done in #652

[2018-12-31 12:57] gazhayes commented on #650
Madan while you're there, you should probably use a synced cron (already used elsewhere) to populate the numbers into some collection that's already used on the home route. If we check these values on each load it will make mongo cry.

If that doesn't make sense let me know and I'll explain in more detail ;)

[2018-12-31 15:32] MadanBhandari commented on #650
Yes, please :)

[2019-01-01 10:05] #650 closed

[2019-01-01 10:05] #651 closed

[2019-01-01 11:01] MadanBhandari opened #654 "Problem : No validation for urls across site"
Problem : No validation for urls across site

Solution : Add client side validation for URLs across site (github ulr, website links etc.)

[2019-01-01 11:01] MadanBhandari commented on #654
@emurgobot claim

[2019-01-01 11:37] MadanBhandari commented on #654
Instead of adding client side validation, I found adding regex to schema easier just like we are using for other validation like required fields and max characters.

[2019-01-01 11:53] MadanBhandari commented on #654
@emurgobot done in #655

[2019-01-01 11:59] MadanBhandari opened #656 "Problem : User can't resend verification email"
Problem : User can't resend verification email

Solution : Show banner for verify email to unverified users with resend verification email link.

[2019-01-01 11:59] MadanBhandari commented on #656
@emurgobot claim

[2019-01-01 12:03] MadanBhandari opened #657 "Problem : Welcome email is too boring"
Problem : Welcome email is too boring

Solution : Make welcome email little bit interesting add some content (and banner maybe ?).

Current Email :

![verify-email](https://user-images.githubusercontent.com/6429311/50572689-4ce40b80-0deb-11e9-8397-78e37be930eb.png)

ping @gazhayes for content and ideas

[2019-01-02 04:31] akatrodiya opened #659 "Problem: [Tag Search] no tag search is working"
Problem: [Tag Search] no tag search is working, when click on tag, it gives error no template found

![screenshot 2019-01-02 at 10 01 50 am](https://user-images.githubusercontent.com/15026463/50580519-75184c80-0e75-11e9-98a0-39cfad3e14ca.png)

Solution: no template founds which are called in tags file, so add it with proper data and UI

[2019-01-02 04:32] akatrodiya commented on #659
@emurgobot claim

[2019-01-02 05:56] MadanBhandari opened #661 "Problem : Tests are failing"
Problem : Tests are failing

ping @gazhayes @anbud

[2019-01-02 14:05] anbud commented on #661
I’ll check it out.

@emurgobot claim

[2019-01-03 07:59] MadanBhandari commented on #661
@anbud while you are on this, can you take a look at #653 (see comments), is this related ?

[2019-01-05 21:31] anbud commented on #661
@MadanBhandari, sure thing, I'll check it out as well.

[2019-01-07 04:44] #654 closed

[2019-01-07 04:44] #656 closed

[2019-01-07 04:44] #659 closed

[2019-01-07 05:31] gazhayes opened #662 "problem: i18n incorrect location on production"
problem: meteor's build process sets `const dirname = process.env.PWD` from within the build directory, but the build directory is different to the production directory (executed by node).

This means that when `dirname` is called here: https://github.com/EmurgoHK/cardanoupdate/blob/f778ae03b7d958d59732f98833ba3bf0b064426d/imports/api/translations/methods.js#L50 it looks in the wrong place.

In pr

[2019-01-07 05:31] #636 closed

[2019-01-07 11:30] anbud commented on #661
I’m actually having some troubles with this, I’ve fixed the server side ones, but almost all client side ones are failing due to the captcha check.

Since I haven’t run these tests in a while locally, do I have to do something locally in order for them to work correctly? The captcha appears to be working when I open the page in the browser, but, for some reason, it doesn’t work in wdio.

[2019-01-07 12:35] gazhayes commented on #661
Hmm, probably just remove that test. We'll know pretty quickly if captcha breaks.

[2019-01-07 12:37] gazhayes commented on #662
@emurgobot claim

[2019-01-07 12:40] gazhayes commented on #657
@madanbhandari sure, if you feel like making it nicer, go ahead ;)

I don't really know but a banner or something would be fun.

[2019-01-07 12:41] gazhayes commented on #645
ping @anbud any ideas for this one?

[2019-01-07 13:32] anbud commented on #645
Hmm, we could save everything in mongo, it shouldn’t be too much work, but I do have to check if tapi18n supports mongo translations out of the box. If it doesn’t, it’ll be harder to implement.

But, it would be harder to add translations. Now it’s as easy as editing a file, if we switch to mongo, we could use the existing UI for adding translations, but we could maybe allow moderators to add tran

[2019-01-15 09:35] gazhayes opened #674 "problem: no japanese translation of site"
problem: there's a huge number of Japanese cardano holders and they are out of the loop with regards to how the project is going.

Solution: translate the site framework into Japanese

[2019-01-15 16:34] anbud commented on #661
@emurgobot claim

[2019-01-21 06:00] #674 closed

[2019-01-22 16:53] MadanBhandari opened #710 "Problem : Home page is very crowded"
Problem : Home page is very crowded due to multiple languages
Solution : Only show post for selected language

[2019-01-22 16:53] MadanBhandari commented on #710
@emurgobot claim

[2019-01-23 02:32] gazhayes opened #711 "problem: verification emails not being sent"
problem: verification emails not being sent

solution: first step is to check the current codebase to see what we need to add to support this, and then select a free email provider thing to actually send messages in a way that won't be caught by spam filters.

[2019-01-23 02:39] gazhayes opened #712 "problem: google maps API is killing things"
problem: google API is killing things in production (e.g. can't submit new events). There's something weird happening when everything is packaged and deployed with node in production.

solution: The simplest solution is to completely remove the google maps API.

[2019-01-23 09:07] MadanBhandari commented on #710
This is most probably due to user have selected all languages in Profile

[2019-01-23 09:38] MadanBhandari commented on #711
@gazhayes

It's working as expected on local, can you check the `MAIL_URL` on production ?

[2019-01-23 09:38] MadanBhandari commented on #712
@emurgobot claim

[2019-01-23 10:55] gazhayes commented on #711
Hmmm ok I will check. What did you set it to locally?

[2019-01-23 10:58] MadanBhandari commented on #711
@gazhayes

`
MAIL_URL=smtp://user:pass@smtp.sendgrid.net:587
`
UserID : blockrazor
Password : blockrazor125

[2019-01-23 14:55] gazhayes commented on #711
Thanks, deleted and saved, I'll set the config when I wake up :)

[2019-01-23 14:55] #711 closed

[2019-01-23 14:58] gazhayes opened #714 "problem: content language is not set automatically"
problem: when switching languages, the content language is not automatically changed and has to be manually changed by the user.

[2019-01-26 13:16] MadanBhandari commented on #712
@emurgobot done in #715

[2019-01-26 13:17] MadanBhandari commented on #714
@emurgobot claim

[2019-01-26 13:44] MadanBhandari commented on #714
@emurgobot done in #716

[2019-01-28 08:32] MadanBhandari opened #717 "Problem : content links are broken for other languages"
Problem : content links are broken for other languages (other than English)

![imageedit_2_3291714761](https://user-images.githubusercontent.com/6429311/51823272-f80db500-2304-11e9-86ec-c85e2984efef.gif)

Solution : Update routes based on articleID instead of slugs with language option
Example : `/projects/projectID/en`, `/projects/projectID/jp`

[2019-01-28 08:32] MadanBhandari commented on #717
@emurgobot claim

[2019-01-28 18:57] MadanBhandari opened #718 "Problem : Sign in and sign up pages bad ux"
Problem : Sign in and sign up pages bad ux
Solution : Instead of open sign in/up pages in new page, use modals for quick login/registration process

[2019-01-28 18:58] MadanBhandari commented on #718
@emurgobot label "UI-UX"
@emurgobot claim

[2019-01-30 13:47] akatrodiya opened #719 "Problem: [Search] if no search text in input, no need 'x' icon"
Problem: [Search] if no search text in input, no need 'x' icon because this icon clear search.

![screenshot 2019-01-30 at 7 17 10 pm](https://user-images.githubusercontent.com/15026463/51985369-af502a80-24c3-11e9-9532-226389768936.png)

Solution: Only display search clear icon only if search applied, in all search text (All Pages)

[2019-01-30 13:47] akatrodiya commented on #719
@emurgobot claim

[2019-01-30 14:10] akatrodiya opened #721 "Problem: [Responsive] Header is not proper in medium screen"
Problem: [Responsive] Header is not proper in medium screen
![screenshot 2019-01-30 at 7 36 49 pm](https://user-images.githubusercontent.com/15026463/51986680-c5131f00-24c6-11e9-8cbd-99e3d6b3b1f0.png)

Solution: Header will always set in one line, and not break in any screen

[2019-01-30 14:10] akatrodiya commented on #721
@emurgobot claim

[2019-01-30 14:16] akatrodiya commented on #719
@emurgobot done in #722

[2019-01-31 13:41] akatrodiya opened #723 "Problem: [FAQ] Text is over layout width"
Problem: [FAQ] Text is over layout width
![screenshot 2019-01-31 at 7 09 31 pm](https://user-images.githubusercontent.com/15026463/52057774-ee49b300-258b-11e9-94d3-341f0fb7e867.png)

Solution: Content will always set in fix layout width, set no result text in layout

[2019-01-31 13:41] akatrodiya commented on #723
@emurgobot claim

[2019-01-31 13:47] akatrodiya commented on #721
@emurgobot done in #724

[2019-02-02 05:58] MadanBhandari commented on #718
@emurgobot claim

[2019-02-02 15:12] #712 closed

[2019-02-02 15:12] #714 closed

[2019-02-02 15:12] #719 closed

[2019-02-02 15:12] #721 closed

[2019-02-02 15:12] #723 closed

[2019-02-02 15:14] MadanBhandari commented on #483
Closing this issue as now we have removed google map api on #712

[2019-02-02 15:14] #483 closed

[2019-02-02 15:14] MadanBhandari commented on #322
Closing this issue as now we have removed google map api on #712

[2019-02-02 15:14] #322 closed

[2019-02-02 15:15] MadanBhandari commented on #638
Closing this issue as now we have removed google map api on #712

[2019-02-02 15:15] #638 closed

[2019-02-08 09:34] #718 closed

[2019-02-08 13:51] akatrodiya opened #727 "Problem: [View Page] Action placed wrong or Translation not working"
Problem: [View Page] Action placed wrong or Translation not working, in Project Page / Learn Page / Community Page.

![screenshot 2019-02-08 at 7 17 34 pm](https://user-images.githubusercontent.com/15026463/52482238-bd462f80-2bd6-11e9-9098-ed511292a4dc.png)

Solution: If that action is correct then need to translate according to selected language, and need right action on it

[2019-02-08 13:52] akatrodiya commented on #727
@emurgobot claim

[2019-02-08 14:14] akatrodiya opened #728 "Problem: [Login] Popup Form submit events not working proper"
Problem: [Login] Popup Form submit events not working proper
1. Login Tab: When click on 'Login' button, page url change to '/search?q='
2. Register Tab: on 'Create Account' Popup is closed and form is not reset, if register then still header shows login.
3. Forgot Password Tab: Same as Login Tab
And on successful login popup not close properly so black overlay still there

Solution: Set Form Acti

[2019-02-08 14:14] akatrodiya commented on #728
@emurgobot claim

[2019-02-10 06:38] akatrodiya commented on #728
@emurgobot done in #729

[2019-02-13 13:08] akatrodiya commented on #727
@emurgobot claim

[2019-02-13 14:03] akatrodiya commented on #727
@emurgobot done in #730

[2019-02-13 14:10] akatrodiya opened #731 "Problem: [Comment] it redirect to login page instead open popup"
Problem: [Comment] it redirect to login page, now we have login popup and it open confirm popup.
![screenshot 2019-02-13 at 7 38 00 pm](https://user-images.githubusercontent.com/15026463/52717498-3e326c00-2fc7-11e9-84a2-f0cda0ee5906.png)

Solution: Remove confirm popup and open direct login popup

[2019-02-13 14:11] akatrodiya commented on #731
@emurgobot claim

[2019-02-15 05:13] akatrodiya commented on #731
@emurgobot done in #732

[2019-02-15 05:24] akatrodiya opened #733 "Problem: [Add Content] if not logged in, it open add popup"
Problem: [Add Content] if not logged in, it open add popup then redirect to login page
![screenshot 2019-02-15 at 10 50 15 am](https://user-images.githubusercontent.com/15026463/52836264-10a50a00-3110-11e9-9436-c9d79d573e32.png)

Solution: instead of redirect to login page, open modal for login and after login redirect to add form

[2019-02-15 05:24] akatrodiya commented on #733
@emurgobot claim

[2019-02-15 06:19] akatrodiya commented on #733
@emurgobot done in #734

[2019-02-16 07:02] akatrodiya opened #735 "Problem:[Search] Option menu on card is not working"
Problem:[Search] Option menu (Opening from three dots) is working sometimes and sometimes not.
![screenshot 2019-02-16 at 12 31 25 pm](https://user-images.githubusercontent.com/15026463/52895918-d9555c80-31e6-11e9-864b-ea0dcd2a644a.png)

Solution: It needs to work all time

[2019-02-16 07:02] akatrodiya commented on #735
@emurgobot claim

[2019-02-16 10:21] akatrodiya opened #736 "Problem: [Add Button] if not logged in, it redirect to login page"
Problem: [Add Button] if not logged in, it redirect to login page, in all page add button (Project, Event, Research, Learn, Community, etc.)

Solution: If user not logged in then open login modal, and after login redirect to form page

[2019-02-16 10:21] akatrodiya commented on #736
@emurgobot claim

[2019-02-16 10:23] akatrodiya commented on #735
At first view it was only issue in live site, and local having all working but after checking in different browsers, I saw, it was working sometimes and sometimes not for all browsers.. so, I fixed that.

[2019-02-16 10:24] akatrodiya commented on #735
@emurgobot done in #737

[2019-02-17 07:15] #727 closed

[2019-02-17 07:15] #728 closed

[2019-02-17 07:15] #731 closed

[2019-02-17 07:15] #733 closed

[2019-02-17 07:15] #735 closed

[2019-02-18 05:25] akatrodiya commented on #736
@emurgobot done in #738

[2019-02-18 13:53] akatrodiya opened #739 "Problem: [Logout] if add item page active, logout should take to main page"
Problem: [Logout] if add item page active, and try to logout, then it redirect to login page

Solution:  it should take to main page

[2019-02-18 13:54] akatrodiya commented on #739
@emurgobot claim

[2019-02-21 14:10] akatrodiya opened #740 "Problem: [Report] report ask login, instead of open login popup"
Problem: [Report] report ask login, instead of open login popup
![screenshot 2019-02-21 at 7 40 28 pm](https://user-images.githubusercontent.com/15026463/53174764-934a2f80-3610-11e9-9a0e-ae821f7b7dba.png)

Solution: It should open popup as it works in comment

[2019-02-21 14:11] akatrodiya commented on #740
@emurgobot claim

[2019-02-21 14:13] akatrodiya commented on #739
@emurgobot done in #741

[2019-02-26 13:40] akatrodiya commented on #740
@emurgobot claim

[2019-02-28 14:21] akatrodiya commented on #740
@emurgobot done in #742

[2019-03-05 13:55] akatrodiya opened #745 "Problem: [Page] Go to next page, scroll position not on top"
Problem: [Page] Go to next page, scroll position not on top

Solution: page position always set on top when go to other page

[2019-03-05 13:55] akatrodiya commented on #745
@emurgobot claim

[2019-03-05 14:31] akatrodiya commented on #745
@emurgobot done in #746

[2019-03-06 14:02] akatrodiya opened #747 "Problem: [Scams] Add translation sometimes not open login model"
Problem: [Scams] Add translation sometimes not open login model
![screenshot 2019-03-06 at 7 24 00 pm](https://user-images.githubusercontent.com/15026463/53886645-7ec15a80-4046-11e9-9bd5-c4ab59899ada.png)

Solution: login popup should working

[2019-03-06 14:02] akatrodiya commented on #747
@emurgobot claim

[2019-03-07 13:31] #745 closed

[2019-03-07 13:31] #740 closed

[2019-03-07 13:31] #739 closed

[2019-03-07 13:31] #736 closed

[2019-03-08 13:43] akatrodiya commented on #747
@emurgobot done in #748

[2019-03-08 13:52] akatrodiya opened #749 "Problem: [Add Language] Not Open Form from header or sidebar"
Problem: [Add Language] Not Open Form from header or sidebar

Solution: When select Add language then go to page and open form

[2019-03-08 13:53] akatrodiya commented on #749
@emurgobot claim

[2019-03-12 14:23] akatrodiya commented on #749
@emurgobot done in #748

[2019-03-13 12:03] akatrodiya opened #751 "Problem: [Card] not cursor pointer if website value is null"
Problem: [Card] not cursor pointer if website value is null
![Screenshot 2019-03-13 at 5 30 43 PM](https://user-images.githubusercontent.com/15026463/54277493-09a9d400-45b6-11e9-9829-c6321fadaed8.png)

Solution: Action icon cursor will always pointer

[2019-03-13 12:04] akatrodiya commented on #751
@emurgobot claim

[2019-03-13 12:22] akatrodiya commented on #751
@emurgobot done in #752

[2019-03-13 12:47] akatrodiya opened #753 "Problem: [Footer] in small screen footer over content"
Problem: [Footer] in small screen footer over content
![Screenshot 2019-03-13 at 6 11 21 PM](https://user-images.githubusercontent.com/15026463/54279943-4973ba00-45bc-11e9-920e-92a33b387a99.png)

Solution: Set Footer in all screen possible

[2019-03-14 10:32] akatrodiya commented on #753
@emurgobot claim

[2019-03-14 11:15] akatrodiya commented on #753
@emurgobot done in #754

[2019-03-14 11:23] akatrodiya opened #755 "Problem: [Profile] Exception for emails if not exists"
Problem: [Profile] Exception for emails if not exists
![Screenshot 2019-03-14 at 4 52 42 PM](https://user-images.githubusercontent.com/15026463/54353273-9c5f7700-4679-11e9-9acd-3ad6f8aad4ef.png)

Solution: Add conditional operation for emails

[2019-03-14 11:23] akatrodiya commented on #755
@emurgobot claim

[2019-03-14 11:55] akatrodiya opened #757 "Problem: [From] some form with space captcha and some not"
Problem: [From] some forms have space before captcha and some not it looks not good

![Screenshot 2019-03-14 at 5 18 23 PM](https://user-images.githubusercontent.com/15026463/54355088-388b7d00-467e-11e9-86ce-41551a511945.png)

Solution: Set same space for all forms so captcha looks same for all forms

[2019-03-14 11:56] akatrodiya commented on #757
@emurgobot claim

[2019-03-14 11:56] akatrodiya commented on #755
@emurgobot done in #756

[2019-03-14 12:47] akatrodiya commented on #757
@emurgobot done in #758

[2019-03-14 12:51] akatrodiya opened #759 "Problem: [Loading] no loading when data not ready"
Problem: [Loading] no loading when data not ready
![Screenshot 2019-03-14 at 6 17 14 PM](https://user-images.githubusercontent.com/15026463/54358313-0b42cd00-4686-11e9-8bcf-d89c5e565d5a.png)

Solution: Set loading when data not ready from server/search

[2019-03-14 12:52] akatrodiya commented on #759
@emurgobot claim

[2019-03-14 14:19] akatrodiya commented on #759
@emurgobot done in #760

[2019-03-14 14:55] #747 closed

[2019-03-14 14:56] #749 closed

[2019-03-14 14:56] #751 closed

[2019-03-14 14:57] #753 closed

[2019-03-14 14:57] #755 closed

[2019-03-14 14:57] #757 closed

[2019-03-14 14:57] #759 closed

[2019-03-14 15:22] MadanBhandari commented on #717
@emurgobot done in #761

Instead of changing readable urls to ids, I have replaced friendly slugs with [new package](https://www.npmjs.com/package/transliteration), which translate non-english post to english while creating slugs.

[2019-03-14 15:35] MadanBhandari commented on #657
@emurgobot claim

[2019-03-14 17:53] MadanBhandari commented on #657
Currently I have made this for email verification :

![email-tmplate](https://user-images.githubusercontent.com/6429311/54379733-f67b2f00-46af-11e9-94dd-40dfaea3a2e8.png)

I'll send a PR in with templates for welcome email (after verification), password reset etc.

[2019-03-14 18:45] MadanBhandari commented on #657
@emurgobot done in #762

[2019-03-15 10:46] MadanBhandari opened #763 "Problem : Bad UX for navigation"
Problem : Bad UX for navigation

Solution: Update ux for navigation, organise links on top navigation, update search input box

[2019-03-15 10:46] MadanBhandari commented on #763
@emurgobot claim

[2019-03-15 13:57] akatrodiya opened #764 "Problem: [Language] Add language open form and change to 'Deutsch'"
Problem: [Language] Add language open form and then change select box to 'Deutsch'
![Screenshot 2019-03-15 at 7 24 09 PM](https://user-images.githubusercontent.com/15026463/54436314-48778f80-4758-11e9-9473-55bca13479f0.png)

Solution: if Add language is active only then open form

[2019-03-15 13:57] akatrodiya commented on #764
@emurgobot claim

[2019-03-16 08:49] akatrodiya opened #766 "Problem: [Notification] no need to show it until user not log in"
Problem: [Notification] Notifications display there if userId is match, so need to show it
![Screenshot 2019-03-16 at 2 11 03 PM](https://user-images.githubusercontent.com/15026463/54472891-419f5a00-47f6-11e9-9571-8c7117e02f9f.png)

Solution: if user not logged in then hide icon in header

[2019-03-16 08:49] akatrodiya commented on #766
@emurgobot claim

[2019-03-16 09:00] akatrodiya commented on #764
@emurgobot #765

[2019-03-16 12:32] MadanBhandari commented on #766
Hey @akatrodiya , If this is about on top navigation, this should be fixed in #767

[2019-03-16 12:40] MadanBhandari commented on #763
@emurgobot done in #767

[2019-03-16 14:15] porcellus commented on #661
@emurgobot claim

[2019-03-17 11:48] porcellus commented on #661
@emurgobot claim

[2019-03-18 04:00] akatrodiya commented on #766
It is about top navigation + page. So, I will do some fixes there.

[2019-03-19 13:56] akatrodiya commented on #766
@emurgobot done in #769

[2019-03-19 14:01] akatrodiya opened #770 "Problem: Header not align after logged in, search in small device"
Problem: Header not align after logged in, search in small device not proper
![Screenshot 2019-03-19 at 7 25 03 PM](https://user-images.githubusercontent.com/15026463/54611773-97d1fe80-4a7d-11e9-8725-d30e9016168a.png)

Solution: Fix header right part and update responsive view

[2019-03-19 14:02] akatrodiya commented on #770
@emurgobot claim

[2019-03-20 07:52] #657 closed

[2019-03-20 07:53] #766 closed

[2019-03-20 07:53] #717 closed

[2019-03-20 09:54] porcellus commented on #661
@emurgobot done in #768

[2019-03-20 09:54] #661 closed

[2019-03-20 09:55] porcellus opened #771 "Problem: No progress on file upload"

[2019-03-20 09:56] porcellus commented on #771
@emurgobot claim

[2019-03-20 11:41] #763 closed

[2019-03-23 10:39] akatrodiya commented on #770
@emurgobot claim

[2019-03-24 07:27] vantuz-subhuman opened #772 "Problem: items cannot be deprecated"
Hi! Wanted to report "Guardians of Cardano" community entry, because this coalition is dead now, but there are only two options: "spam" or "scam":

![image](https://user-images.githubusercontent.com/5585355/54876328-1bde0a80-4e1f-11e9-9836-dd3c9518b524.png)

There's gotta be another option like "This is incorrect" with maybe a field to send a link to some source, proving incorrectness. Or just a g

[2019-03-24 09:34] gazhayes commented on #772
Yeah I think the simplest solution to this is to allow an option to add a "This no longer exists".

Ping @porcellus @samuelralak @anbud @geekyd @MadanBhandari @akatrodiya

[2019-03-24 11:11] MadanBhandari commented on #772
@emurgobot claim

[2019-03-24 11:50] porcellus commented on #771
@emurgobot claim

[2019-03-24 21:11] porcellus commented on #771
It took a lot longer than expected because the lib we used to implement something like this in emurgolance was abandoned. I didn't want to add a component that used a lib that wasn't maintained, and I only realized this after 1-2 hours into implementation when I ran into problems. The UX got a lot better though.

[2019-03-24 21:11] porcellus commented on #771
@emurgobot done in #773

[2019-03-24 21:14] porcellus commented on #645
@emurgobot claim It looks like we can update or use alternatives for these issues

[2019-03-24 22:21] porcellus commented on #645
@emurgobot done in #774

[2019-03-24 22:25] porcellus opened #775 "Problem: cannot find package mkdirp"

[2019-03-24 22:25] porcellus commented on #775
@emurgobot claim

[2019-03-24 22:28] #771 closed

[2019-03-24 22:28] porcellus commented on #775
@emurgobot done in #776

[2019-03-25 06:37] #775 closed

[2019-03-25 09:51] MadanBhandari commented on #772
@emurgobot done in #777

[2019-03-25 09:56] #772 closed

[2019-03-25 10:06] gazhayes commented on #772
@vantuz-subhuman FYI it's now solved in production :)

[2019-03-25 19:20] porcellus opened #778 "Problem: no progress on profile image upload"
We should use the same component we use for pdf uploads

[2019-03-25 19:20] porcellus commented on #778
@emurgobot claim

[2019-03-26 03:48] akatrodiya commented on #770
@emurgobot claim

[2019-03-26 10:34] #645 closed

[2019-03-26 10:34] #764 closed

[2019-03-26 10:38] MadanBhandari opened #779 "Problem : User can't see report status"
Solution :

Add new section on user profile and list the reports submitted by user and it's status.

[2019-03-26 10:39] MadanBhandari commented on #779
@emurgobot claim

[2019-03-26 11:30] porcellus commented on #778
@emurgobot done in #780

[2019-03-26 11:32] porcellus opened #781 "Problem: old file upload code is unused"
Solution: remove unused code

[2019-03-26 11:32] porcellus commented on #781
@emurgobot claim

[2019-03-26 11:35] porcellus commented on #781
Upon checking twice, not completely unused, but its last usage can be converted to the new lib.

[2019-03-26 13:02] #778 closed

[2019-03-26 14:01] porcellus commented on #781
@emurgobot done in #782

[2019-03-26 14:03] porcellus opened #783 "Problem: file uploads are not cleaned up"
We allow(ed) almost unrestricted file uploads, we should have a cleanup mechanism in place for orphaned files before storage becomes a problem.
Solution: Add a cron job that cleans up files older than 7 days from the db if they have no references. This should be extensible to enable code reuse for multiple file collections.

[2019-03-26 14:04] porcellus commented on #783
@emurgobot claim

[2019-03-26 14:30] akatrodiya commented on #770
@emurgobot done in #784

[2019-03-27 07:02] #781 closed

[2019-03-27 14:17] akatrodiya opened #785 "Problem: [Header] For Laptop screen break to new line"
Problem: [Header] For Laptop/medium screen break to new line
![Screenshot 2019-03-27 at 7 44 17 PM](https://user-images.githubusercontent.com/15026463/55083176-173c7f00-50c9-11e9-8fab-53918c401b19.png)

Solution: Header will always in one line in all screen

[2019-03-27 14:18] akatrodiya commented on #785
@emurgobot claim

[2019-03-29 09:08] MadanBhandari commented on #779
@emurgobot I am on it.

[2019-03-29 09:09] #770 closed

[2019-03-29 13:05] porcellus opened #787 "Problem: uploading a new pdf to a research that already had one shows both"
Solution: Fix the display to only show the fresh pdf

[2019-03-29 13:05] porcellus commented on #787
@emurgobot claim

[2019-03-29 13:57] porcellus commented on #783
@emurgobot done in #786

[2019-03-29 13:57] #783 closed

[2019-03-29 13:58] porcellus commented on #787
@emurgobot done in #788

[2019-03-29 14:12] akatrodiya commented on #785
@emurgobot done in #789

[2019-03-29 14:20] akatrodiya opened #790 "Problem: [Search] textbox should not hide where not empty"
Problem: [Search] textbox should not hide where not empty, also not clear not 'x' (on close every time hide search bar)

Solution: Make search bar in header more proper with functionality

[2019-03-29 14:20] akatrodiya commented on #790
@emurgobot claim

[2019-03-30 10:14] akatrodiya commented on #790
@emurgobot done in #791

[2019-03-30 10:18] akatrodiya opened #792 "Problem: [Report] After submit error message not proper"
Problem: [Report] After submit error message not proper
![Screenshot 2019-03-30 at 3 42 28 PM](https://user-images.githubusercontent.com/15026463/55274848-345c9200-5303-11e9-9b50-e7ee1eff14a1.png)

Solution: If not logged in then login first

[2019-03-30 10:18] akatrodiya commented on #792
@emurgobot claim

[2019-04-01 02:07] #785 closed

[2019-04-01 02:07] #787 closed

[2019-04-01 02:07] #790 closed

[2019-04-02 03:44] akatrodiya commented on #792
working on it

[2019-04-02 21:21] geekyd commented on #779
@MadanBhandari Are you working on this one? :)

[2019-04-04 11:14] gazhayes opened #793 "problem: twitter users can't follow updates"
problem: twitter users cannot follow updates to cardano update space.

solution: add twitter API to post tweets when any content is added (new items and new comments). Tweets should tell the users what the content is, e.g. "New Event: lorem ipsum...." with `#Cardano`.

Tweets should ideally contain a link to the content (but not worth putting too much effort into this if it means reworking existin

[2019-04-04 11:15] samuelralak commented on #793
@emurgobot claim

On Thu, 4 Apr 2019 at 14:14, Gareth Hayes <notifications@github.com> wrote:

[2019-04-04 13:11] akatrodiya commented on #792
@emurgobot done in #794

[2019-04-04 13:17] akatrodiya opened #795 "Problem: [404] header is hide so white space in top"
Problem: [404] header is hide so white space in top
![Screenshot 2019-04-04 at 6 40 57 PM](https://user-images.githubusercontent.com/15026463/55558645-209d9b00-570a-11e9-86df-2e8f3d9e7a12.png)

Solution: Need to set header in top

[2019-04-04 13:17] akatrodiya commented on #795
@emurgobot claim

[2019-04-04 14:08] akatrodiya commented on #795
@emurgobot done in #796

[2019-04-05 18:29] MadanBhandari commented on #779
@geekyd I am sorry that, I wasn't available. Feel free to take this issue.

[2019-04-05 20:21] geekyd commented on #779
@emurgobot claim

[2019-04-07 16:47] porcellus commented on #793
@samuelralak are you still on this?

[2019-04-07 22:29] gazhayes commented on #793
@porcellus this one is a little urgent, might be better if you take it

[2019-04-08 09:07] porcellus commented on #793
@emurgobot claim I'll start on this tonight.

[2019-04-08 15:03] akatrodiya opened #797 "Problem: [Sorting] both sorting not apply at same time"
Problem: [Sorting] both sorting not apply at same time
![Screenshot 2019-04-08 at 8 29 10 PM](https://user-images.githubusercontent.com/15026463/55734650-8b6a1180-5a3d-11e9-8719-65b85a127b18.png)

Solution: add sort options for records with Date and Title at separate

[2019-04-08 15:03] akatrodiya commented on #797
@emurgobot claim

[2019-04-09 11:06] gazhayes opened #798 "problem: social media users cannot see a preview"
problem: social media users cannot see a preview of the content when something from cardano update space is shared on twitter, facebook, etc.

solution: let's see what people think!
ping @porcellus @anbud

[2019-04-10 04:22] cathfung opened #799 "problem: need to change banner"
please replace current banner with this one

<img width="1416" alt="Screenshot 2019-04-10 at 12 21 46 PM" src="https://user-images.githubusercontent.com/44600923/55851458-3e945100-5b8b-11e9-8c22-805d90ae076e.png">

![cardano update space-banner-2880_360-no text](https://user-images.githubusercontent.com/44600923/55853491-f9285180-5b93-11e9-8163-cb5b1a401e0b.png)

[2019-04-11 06:03] #799 closed

[2019-04-11 07:07] porcellus commented on #793
@emurgobot It took really long to get my Twitter token, but I'm just testing now :)

[2019-04-11 07:56] porcellus commented on #793
@emurgobot done in #802

[2019-04-11 07:57] porcellus commented on #798
I'll look into it. We need some kind of pre-rendering with properly filled metadata.
@emurgobot claim

[2019-04-13 09:00] akatrodiya commented on #797
@emurgobot claim

[2019-04-13 19:21] porcellus commented on #798
@emurgobot done in #804

[2019-04-13 19:21] porcellus commented on #798
We should check the text/image in context and update them in a separate issue if necessary.

[2019-04-17 09:31] ryankingtm opened #805 "Problem: Exception while invoking method 'addSocialResource'"
problem: When adding a new community (https://cardanoupdate.space/community) there's a server side exception:
Exception while invoking method 'addSocialResource' ( _id is not defined ). This is the line where the exception happens: https://github.com/EmurgoHK/cardanoupdate/blob/1e613c21686398debf262742cdd17c7d9a24228b/imports/api/socialResources/methods.js#L129

[code]

[2019-04-17 09:31] ryankingtm commented on #805
Note, I haven't received my verification email yet, so I am submitting as an unverified user.

[2019-04-17 14:08] akatrodiya commented on #797
@emurgobot done in #806

[2019-04-17 14:08] akatrodiya commented on #797
@emurgobot claim

[2019-04-17 14:09] akatrodiya commented on #797
@emurgobot done in #806

[2019-04-22 14:05] akatrodiya opened #809 "Problem: [Header] top links icon color not change, not redirect on icon"
Problem: [Header] top links icon color not change, not redirect on icon
![Screenshot 2019-04-22 at 7 34 09 PM](https://user-images.githubusercontent.com/15026463/56504320-c8ea9680-6535-11e9-9dd8-0f1c33a0f12f.png)

Solution: Set link color on mouse over, also icon+text should be redirect to page

[2019-04-22 14:06] akatrodiya commented on #809
@emurgobot claim

[2019-04-22 14:24] gazhayes commented on #809
Hey Ajay, just wondering, are you also missing the sidebar?

[2019-04-23 03:43] akatrodiya commented on #809
you mean sidebar should be there for desktop?

[2019-04-23 04:38] akatrodiya opened #810 "Problem: [Card] In small screen options cut in screen"
Problem: [Card] In small screen options cut in screen, and not showing full text of option
![Screenshot 2019-04-23 at 10 01 07 AM](https://user-images.githubusercontent.com/15026463/56554534-a72df580-65af-11e9-87c0-35b446ffb873.png)

Solution: All content should in screen

[2019-04-23 04:38] akatrodiya commented on #810
@emurgobot claim

[2019-04-23 05:23] akatrodiya commented on #809
@emurgobot done in #811

[2019-04-23 09:57] akatrodiya commented on #810
@emurgobot done in #813

[2019-04-23 11:20] akatrodiya opened #814 "Problem: [Search] Advance page 'x' should not redirect to home"
Problem: [Search] Advance page 'x' should not redirect to home

Solution: 'X' should clear advance search and not redirect to home

[2019-04-23 11:21] akatrodiya commented on #814
@emurgobot claim

[2019-04-23 12:21] akatrodiya commented on #814
@emurgobot done in #815

[2019-04-24 04:24] akatrodiya opened #820 "Problem: [Header] in tablet/mobile top icons in two color"
Problem: [Header] in tablet/mobile top icons in two color
![Screenshot 2019-04-24 at 9 47 53 AM](https://user-images.githubusercontent.com/15026463/56632339-f723bf80-6676-11e9-86ed-6b26d7f644d4.png)

Solution: for all screen, icon or text in header should be in same color so UI looks good

[2019-04-24 04:25] akatrodiya commented on #820
@emurgobot claim

[2019-04-24 05:47] akatrodiya commented on #820
@emurgobot done in #821

[2019-04-24 06:38] akatrodiya opened #822 "Problem: [Home] Top info card and page items number is differ"
Problem: [Home] Top info card and page items number is differ

Solution: All number should match for each type items, like if 'Projects' display '36' items, in Project page result show '36' items

[2019-04-24 08:46] #805 closed

[2019-04-26 09:00] akatrodiya commented on #822
@emurgobot working

[2019-04-30 14:47] #792 closed

[2019-04-30 14:47] #814 closed

[2019-04-30 14:47] #820 closed

[2019-04-30 14:48] #793 closed

[2019-04-30 14:48] #795 closed

[2019-04-30 14:48] #797 closed

[2019-04-30 14:48] #798 closed

[2019-04-30 14:48] #809 closed

[2019-04-30 14:49] #810 closed

[2019-05-02 10:59] porcellus commented on #779
@emurgobot claim